<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h5 class="title is-5">{{ g.site_title }}</h5>
                <p class="subtitle is-6">A powerful, extensible platform for data sharing and discovery.</p>
            </div>
            <div class="column">
                <h6 class="title is-6">Resources</h6>
                <ul class="list-style-none">
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="column">
                <h6 class="title is-6">Connect</h6>
                <ul class="list-style-none">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="has-text-centered">
            <p>&copy; {{ h.get_year() }} {{ g.site_title }}. All rights reserved.</p>
        </div>
    </div>
</footer>
