{%- block page %}

    {%- block zone_header -%}
        {%- block header %}
            {% include "_header.html" %}
        {%- endblock header %}
    {%- endblock zone_header %}

    {%- block zone_toolbar %}
        {%- block breadcrumb %}
            <section class="section is-small">
                <div class="container">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            {%- block breadcrumb_content %}{% endblock -%}
                        </ul>
                    </nav>
                </div>
            </section>
        {%- endblock breadcrumb %}
    {%- endblock %}

    {%- block zone_intro %}
        {%- block flash %}
            <section class="section is-small">
                <div class="container">
                    {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                        {%- block flash_message scoped %}
                            <article class="message is-{{ category }}">
                                <div class="message-body">
                                    {{ message|safe }}
                                </div>
                            </article>
                        {%- endblock flash_message %}
                    {%- endfor %}
                </div>
            </section>
        {%- endblock flash %}
    {%- endblock %}

    {%- block zone_content %}
        {%- block content %}
            <main id="content">
                <section class="section">
                    <div class="container">
                        <div class="columns">
                            {%- block zone_main %}
                                {%- block zone_secondary -%}
                                    {%- block secondary %}
                                        <aside id="sidebar" class="column is-3">
                                            {%- block secondary_content %}
                                            {%- endblock secondary_content %}
                                        </aside>
                                    {%- endblock secondary -%}
                                {%- endblock zone_secondary %}

                                {%- block zone_primary -%}
                                    {%- block primary -%}
                                        <div class="column">
                                            <article>
                                                {%- block primary_content %}
                                                    {%- block page_action %}{% endblock -%}

                                                    {%- block page_header %}
                                                        <header class="mb-4">
                                                            {%- block content_action %}{% endblock -%}
                                                            {%- block content_nav %}{% endblock -%}
                                                        </header>
                                                    {% endblock -%}

                                                    {%- block primary_content_inner %}
                                                    {% endblock -%}

                                                {%- endblock primary_content %}
                                            </article>
                                        </div>
                                    {%- endblock primary -%}
                                {%- endblock zone_primary -%}
                            {%- endblock zone_main %}
                        </div>
                    </div>
                </section>
            </main>
        {%- endblock content%}
    {%- endblock zone_content %}

    {%- block zone_outro %}{% endblock %}

    {%- block zone_footer -%}
        {%- block footer %}
            {% include "_footer.html" %}
        {% endblock footer %}

        {%- block debug -%}
            {%- if g.debug %}
                <button onclick="window['debug-modal'].showModal()" accesskey="d" hidden>Debug</button>
                <dialog id="debug-modal" style="max-width: 90vw; overflow-x: auto;">
                    <pre>
                        {%- debug -%}
                    </pre>
                </dialog>
            {%- endif %}
        {%- endblock %}
    {%- endblock zone_footer %}

{%- endblock %}
