{% ckan_extends %}

{%- block breadcrumb %}
    <section class="section is-small">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% block breadcrumb_content %}{% endblock %}
                </ul>
            </nav>
        </div>
    </section>
{%- endblock breadcrumb %}

{%- block notifications_container %}
    <section class="section is-small">
        <div class="container">
            {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                {%- block notification_item scoped %}
                    <article class="message is-{{ category }}">
                        <div class="message-body">
                            {{ message|safe }}
                        </div>
                    </article>
                {%- endblock notification_item %}
            {%- endfor %}
        </div>
    </section>
{%- endblock notifications_container %}


{%- block content %}
    <main id="content">
        <section class="section">
            <div class="container">
                <div class="columns">
                    {%- block zone_content %}
                        {{ super() }}
                    {%- endblock %}
                </div>
            </div>
        </section>
    </main>
{%- endblock content%}


{%- block secondary %}
    <aside id="sidebar" class="column is-3">
        {%- block secondary_content %}
            <div class="card">
                <div class="card-content">
                    <h4 class="title is-4">Navigation</h4>
                    <p class="content">This is a sidebar area. Specific page content will appear here.</p>
                </div>
            </div>
        {%- endblock secondary_content %}
    </aside>
{%- endblock secondary -%}

{%- block primary -%}
    <div class="column">
        <article>
            {%- block primary_content %}
                {{ super() }}
            {%- endblock primary_content %}
        </article>
    </div>
{%- endblock primary -%}

{%- block page_header %}
    <header class="mb-4">
        {{ super() }}
    </header>
{% endblock -%}
