{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}

{% block search_input %}
    {{ ui.input(name=query_name, label=_("Search"), value=query, type="search") }}

    {% block search_input_button %}
        {{ ui.button(_('Search'), type="submit") }}
    {% endblock %}
{% endblock %}

{% block search_search_fields %}
    {%- if active_filters -%}
        {%- for name, value in active_filters -%}
            {{ ui.hidden_input(name, value=value) }}
        {%- endfor %}
    {%- endif %}
{% endblock %}

{% block search_sortby %}
    {%- if sorting_options -%}
        {{ ui.select(name=sorting_name, label=_("Order by"), selected=sorting, options=sorting_options) }}
        {% block search_sortby_button %}
            {{ ui.button(_('Sort'), type="submit") }}
        {% endblock %}
    {%- endif %}
{% endblock %}

{% block search_title %}
    {%- call ui.util.call(ui.heading, level=2) -%}
        {%- if not query_error %}
            {%- if item_count %}
                {{ ui.pagination_info(item_count, first_item_position, last_item_position) }}
            {%- else %}
                {{ _('No results found') }}
            {%- endif %}
        {%- else %}
            {{ _('Error: {error}').format(query_error) }}
        {%- endif %}
    {%- endcall %}

{% endblock %}

{% block search_facets %}
    {%- if active_filters -%}
        {%- call ui.util.call(ui.listing) -%}
            {%- for key, values in active_filters|groupby(0) -%}
                <div>
                    <strong>{{ facet_titles.get(key, key) }}:</strong>
                    {%- for _, value in values %}
                        <del>
                            {%- with label=h.list_dict_filter(facets[key]["items"], 'name', 'display_name', value) -%}
                                {{ ui.link(label, h.remove_url_param(key, value)) }}
                            {%- endwith %}
                        </del>
                    {% endfor %}
                </div>

            {%- endfor %}
        {%- endcall %}
    {%- endif %}
{% endblock %}
