@use "variables" as v;
@use "mixins" as m;

.card-image {
    max-height: 200px;
}

#account {
    background: var(--bg-account);
    text-align: right;
}

#header {background: var(--bg-header);}
#header .bare-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include m.breakpoint(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}

#footer {background: var(--bg-footer);}

#sidebar {
    background: var(--bg-sidebar);

    @include m.breakpoint(md) {
        width: 20%;
        min-width: 300px;
    }
}

#main {
    flex-grow: 1;
    background: var(--bg-body);
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include m.breakpoint(md) {
        flex-direction: row;
    }
}

.breadcrumbs {background: var(--bg-breadcrumb);}
.breadcrumbs > a:last-child {
    text-decoration: none;
    pointer-events: none;
    font-weight: bold;
}

.bare-container {
    padding: 0 1rem;
}


/* modal *********************************************************************/
dialog::backdrop {backdrop-filter: brightness(0.8) blur(3px);}

/* tooltips ******************************************************************/
[data-tooltip] {
    position: relative;
    display: inline-block;
}
[data-tooltip]:before, [data-tooltip]:after {z-index: 10;}
[data-tooltip]:hover:after {
    content: " ";
    border: 0.5rem solid transparent;
    position: absolute;
}
[data-tooltip]:hover:before {
    content: attr(data-tooltip);
    padding: 0.5rem;
    background: #fff;
    position: absolute;
    max-width: 10rem;
    width: max-content;
    box-shadow: 0.25rem 0.25rem 0.25rem;
}
[data-tooltip][data-tooltip-position="top"]:hover:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.5rem));
}
[data-tooltip][data-tooltip-position="top"]:hover:after {
    border-top-color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% + 0.5rem));
}
[data-tooltip][data-tooltip-position="bottom"]:hover:before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 0.5rem));
}
[data-tooltip][data-tooltip-position="bottom"]:hover:after {
    border-bottom-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% - 0.5rem));
}
[data-tooltip][data-tooltip-position="left"]:hover:before {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="left"]:hover:after {
    border-left-color: #fff;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% + 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="right"]:hover:before {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="right"]:hover:after {
    border-right-color: #fff;
    top: 50%;
    right: 0;
    transform: translate(calc(100% - 0.5rem), -50%);
}

/* tab navigation ************************************************************/
.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.tabs > a {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 2px solid black;
}
.tabs > a:hover{background: rgb(230 230 230 / 0.5);}
.tabs > a.active {font-weight: bold;}

/* tables ********************************************************************/
table.table-bordered, table.table-bordered td, table.table-bordered th {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

table.table-striped tbody tr:nth-child(2n+1) {
    background: var(--bg-table-striped);
}

/* dropdown menu *************************************************************/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    background: #fff;
    padding: 0.5rem;
    margin: 0px;
    list-style: none;
}
.dropdown:hover .dropdown-menu {display: block;}

/* resource reorder **********************************************************/
[data-draggable-resource] {cursor: grab;}
[data-draggable-resource][data-drag-in-progress] {filter: opacity(0.5);}
[data-draggable-resource][data-drop-in-progress] {filter: blur(1px);}
