{% extends "page.html" %}

{%- block subtitle %}{{ h.humanize_entity_type('group', group_type, 'page title') or _('Groups') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), h.url_for(group_type ~ '.index')) }}
{%- endblock -%}

{%- block primary_content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title mb-0">{{ h.humanize_entity_type('group', group_type, 'page title') or _('Groups') }}</h3>
            {%- if h.check_access('group_create') %}
                {{ ui.button(_('Add Group'), href=h.url_for(group_type ~ '.new'), style="primary") }}
            {%- endif %}
        </div>
        <div class="card-body">
            {%- block primary_content_inner %}{% endblock -%}
        </div>
    </div>
{%- endblock -%}

{%- block secondary_content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">{{ _('Filter Results') }}</h5>
        </div>
        <div class="card-body">
            {%- block group_facets %}
                {% for facet in facet_titles %}
                    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet) }}
                {% endfor %}
            {%- endblock %}
        </div>
    </div>
{%- endblock -%}
