{#
    Template variables:

    user - currently viewed user
    tokens - list of ApiToken entities

    #}

{% set action = h.url_for("user.api_tokens_revoke", id=user['name']) %}
<div>
    {%- call ui.util.call(ui.form, method="POST", hx={"swap": "none", "post": action, "hx-on::after-request": "$('#revoke-tokens-button').attr('disabled', true)"}, attrs={"autocomplete": "off"}) -%}

        {%- call ui.util.call(ui.table, striped=true, bordered=true, hover=true, condensed=true, attrs={"id": "api-tokens-table"}) -%}
            <thead>
                <tr>
                    {% block head_cells %}
                        <th scope="col">{{ _('Token') }}</th>
                        <th scope="col">{{ _('Created') }}</th>
                        <th scope="col">{{ _('Last access') }}</th>
                    {% endblock head_cells %}
                </tr>
            </thead>

            <tbody>
                {% for token in tokens %}
                    <tr id="token-{{ token.id }}">
                        {% block token_cells scoped %}
                            <td>
                                {{ ui.checkbox(name="token", value=token.id, id=ui.util.id(), label=ui.util.tag(token.name, "code"), on={"change": "$('#revoke-tokens-button').attr('disabled', !$('[name=token]:checked').length)"}) }}
                            </td>
                            <td>{{ ui.datetime(token.created_at, with_hours=true) }}</td>
                            <td>{{ ui.datetime(token.last_access, with_hours=true, empty=_('Never')) }}</td>
                        {% endblock token_cells %}
                    </tr>
                {%- endfor -%}
            </tbody>


        {%- endcall %}

        {{ ui.submit(ui.icon("times") ~ _('Revoke tokens'), style="danger", data={"module": "confirm-action", "module-content": _('Are you sure you want to revoke these tokens?')}, attrs={"id": "revoke-tokens-button", "disabled": ""}) }}

    {%- endcall %}

</div>
