<header class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        {{ ui.link(g.site_title, h.url_for('home.index'), class="navbar-brand") }}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ h.url_for('dataset.search') }}">Datasets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ h.url_for('organization.index') }}">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ h.url_for('group.index') }}">Groups</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {%- if current_user.is_authorized %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            {{ ui.avatar(h.get_user().name, h.get_user().display_name) }}
                            {{ h.get_user().display_name or h.get_user().name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ h.url_for('user.read', id=h.get_user().name) }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ h.url_for('user.dashboard') }}">Dashboard</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ h.url_for('user.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {%- else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ h.url_for('user.login') }}">Login</a>
                    </li>
                {%- endif %}
            </ul>
        </div>
    </div>
</header>
