<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ g.site_title }}{% endblock %}</title>
    {% block meta %}
      <meta name="description" content="">
      <meta name="author" content="">
    {% endblock %}
    {% block styles %}
      <!-- Add core styles here -->
    {% endblock %}
    {% block head_extras %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
