{% ckan_extends %}

{%- block breadcrumb %}
    <div class="container">
        <nav aria-label="breadcrumb">
            {{ ui.breadcrumb_wrapper(class="breadcrumb mb-3") }}
        </nav>
    </div>
{%- endblock breadcrumb %}

{%- block zone_intro %}
{%- endblock %}

{%- block content %}
    <main id="content" class="container-fluid">
        <div class="row">
            {%- block zone_content %}
                {{ super() }}
            {%- endblock %}
        </div>
    </main>
{%- endblock content%}


{%- block secondary %}
    <aside id="sidebar" class="col-lg-3 col-md-4">
        {%- block secondary_content %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">Navigation</h5>
                </div>
                <div class="card-body">
                    <!-- Sidebar content will be added by specific pages -->
                    This is a sidebar area. Specific page content will appear here.
                </div>
            </div>
        {%- endblock secondary_content %}
    </aside>
{%- endblock secondary -%}

{%- block primary -%}
    <div class="col-lg-9 col-md-8">
        <article>
            {%- block primary_content %}
                {{ super() }}
            {%- endblock primary_content %}
        </article>
    </div>
{%- endblock primary -%}

{%- block page_header %}
    <header class="mb-4">
        {{ super() }}
    </header>
{% endblock -%}


{%- block zone_outro %}
    {%- block notifications_container -%}
        <div id="flash-messages" class="toast-container position-fixed bottom-0 end-0 p-3">
            {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                {%- block notification_item scoped %}
                    {{ ui.toast(message|safe, style=category) }}
                {%- endblock notification_item %}
            {%- endfor %}
        </div>
    {%- endblock %}
{%- endblock %}
