{% ckan_extends %}

{%- block zone_intro -%}
{%- endblock %}

{%- block zone_outro -%}
    {{ super() }}

    {%- block flash -%}
        <div id="flash-messages" class="toast-container position-fixed" style="right: 1rem; bottom: 1rem;">
            {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                {%- block flash_message scoped %}
                    {{ ui.toast(message, style=category) }}
                {%- endblock flash_message %}
            {%- endfor %}
        </div>
    {%- endblock %}
{%- endblock %}
