:root {
    --account-bg: #afc;
    --header-bg: #ecf;
    --breadcrumb-bg: #efc;
    --sidebar-bg: #eee;
    --main-bg: #cef;
    --footer-bg: #fec;
    --table-bd-color: black;
    --table-stripe-bg: rgb(150 150 150 / .2);
}

html {font-size: 16px;}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

dialog::backdrop {
    backdrop-filter: brightness(0.8) blur(3px);
}

img {
    max-width: 100%;
}
.card-image {
    max-height: 200px;
}

[data-tooltip] {
    position: relative;
    display: inline-block;
}
[data-tooltip]:hover:after {
    content: " ";
    border: 0.5rem solid transparent;
    position: absolute;
}
[data-tooltip]:hover:before {
    content: attr(data-tooltip);
    padding: 0.5rem;
    background: #fff;
    position: absolute;
    max-width: 10rem;
    width: max-content;
    box-shadow: 0.25rem 0.25rem 0.25rem;
}

[data-tooltip][data-tooltip-position="top"]:hover:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 0.5rem));
}
[data-tooltip][data-tooltip-position="top"]:hover:after {
    border-top-color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% + 0.5rem));
}
[data-tooltip][data-tooltip-position="bottom"]:hover:before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 0.5rem));
}
[data-tooltip][data-tooltip-position="bottom"]:hover:after {
    border-bottom-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% - 0.5rem));
}
[data-tooltip][data-tooltip-position="left"]:hover:before {
    top: 50%;
    left: 0;
    transform: translate(calc(-100% - 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="left"]:hover:after {
    border-left-color: #fff;
    top: 50%;
    left: 0;
    transform: translate(calc(-100% + 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="right"]:hover:before {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 0.5rem), -50%);
}
[data-tooltip][data-tooltip-position="right"]:hover:after {
    border-right-color: #fff;
    top: 50%;
    right: 0;
    transform: translate(calc(100% - 0.5rem), -50%);
}

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.tabs > a {
    display: inline-block;
    padding: 0.25rem;
    border-bottom: 2px solid black;
}
.tabs > a:hover{
    background: rgb(230 230 230 / 0.5);
}
.tabs > a.active {
    font-weight: bold;
}

#account {
    background: var(--account-bg);
    text-align: right;
}

#header {background: var(--header-bg);}
#header .bare-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.breadcrumbs {background: var(--breadcrumb-bg);}
.breadcrumbs > a:not(:first-child):before {content: " / ";}
.breadcrumbs > a:last-child {
    text-decoration: none;
    pointer-events: none;
    font-weight: bold;
}

#footer {background: var(--footer-bg);}

#sidebar {background: var(--sidebar-bg);}

#main {
    flex-grow: 1;
    background: var(--main-bg);
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.bare-container {
    padding: 0 1rem;
}

table.table-bordered, table.table-bordered td, table.table-bordered th {
    border: 1px solid var(--table-bd-color);
    border-collapse: collapse;
}

table.table-striped tbody tr:nth-child(2n+1) {
    background: var(--table-stripe-bg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    background: #fff;
    padding: 0.5rem;
    margin: 0px;
    list-style: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

[data-draggable-resource] {
    cursor: grab;
}
[data-draggable-resource][data-drag-in-progress] {
    filter: opacity(0.5);
}
[data-draggable-resource][data-drop-in-progress] {
    filter: blur(1px);

}

@media (min-width: 768px) {
    #header .bare-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #content {
        flex-direction: row;
    }

    #sidebar {
        width: 20%;
        min-width: 300px;
    }
}
