:root {
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#header {
    backrgound: #ecf;
}

#breadcrumbs {
    background: #efc;
}
#footer {
    background: #fec;
}

#sidebar {
    background: #eee;
}

#main {
    flex-grow: 1;
    background: #cef;
    overflow-x: auto;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 768px) {
    #content {
        flex-direction: row;
    }

    #sidebar {
        width: 20%;
        min-width: 300px;
    }
}
