{% extends "page.html" %}

{%- block subtitle %}{{ h.humanize_entity_type('organization', group_type, 'page title') or _('Organizations') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('organization', group_type, 'breadcrumb') or _('Organizations'), h.url_for(group_type ~ '.index')) }}
{%- endblock -%}

{%- block primary_content %}
    <section class="card">
        {%- block primary_content_inner %}{% endblock -%}
    </section>
{%- endblock -%}

{%- block secondary_content %}
    <section class="card">
        <header>
            <h5>{{ _('Navigation') }}</h5>
        </header>
        <ul>
            {{ ui.nav_item(_('View Organization'), h.url_for(group_type ~ '.read', id=group_dict.name), active=(c.action == 'read' or c.action == 'bulk_process')) }}
            {{ ui.nav_item(_('Dataset List'), h.url_for(group_type ~ '.read', id=group_dict.name, tab='datasets'), active=(c.action == 'read' and request.args.get('tab') == 'datasets')) }}
            {%- if h.check_access('organization_update', {'id': group_dict.id}) %}
                {{ ui.nav_item(_('Manage'), h.url_for(group_type ~ '.edit', id=group_dict.name), active=(c.action == 'edit' or c.action == 'member_new' or c.action == 'history')) }}
                {{ ui.nav_item(_('Members'), h.url_for(group_type ~ '.manage_members', id=group_dict.name), active=(c.action == 'manage_members' or c.action == 'member_new')) }}
            {%- endif %}
        </ul>
    </section>
{%- endblock -%}
