site_name: ckanext-theming
site_url: https://datashades.github.io/ckanext-theming/
repo_url:  https://github.com/datashades/ckanext-theming

markdown_extensions:
  - tables
  - attr_list
  - abbr
  - footnotes
  - md_in_html
  - pymdownx.snippets
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.blocks.admonition
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_full_path: false
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_source: false
            docstring_section_style: spacy
  - search:
      separator: '[\s\-\.\_]+'
  # - macros                      # pip install mkdocs-macros-plugin

watch:
  - README.md
  - ckanext/theming
  - docs/

theme:
  name: material
  # logo: img/logo.png
  # favicon: img/favicon.ico
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-auto
        name: Switch to system preference

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    - content.footnote.tooltips

nav:
  - index.md
  - theming-parties.md
  - parameters.md
  - Component library:
      - library/containers.md
      - library/content.md
      - library/data.md
      - library/elements.md
      - library/feedback.md
      - library/form.md
      - library/handles.md
      - library/meta.md
      - library/navigation.md
      - library/search.md
      - library/sections.md
      - library/wrappers.md
  - theme.md
  - cli.md

extra:
  status:
    new: Recently added
