{%- macro alert(message, style="info", dismissible=True) -%}
    {%- set style_map = {
        'primary': 'info',
        'secondary': 'info',
        'info': 'info',
        'success': 'success',
        'warning': 'warning',
        'danger': 'error'
    } %}
    <div {{ ui.util.attrs(kwargs) }} class="alert {{ style_map.get(style, 'info') }}">
        {%- if dismissible %}
            <button aria-label="Close" rel="prev"></button>
        {%- endif %}
        {{ message }}
    </div>
{%- endmacro %}

{%- macro toast(message, style="info") -%}
    {%- set style_map = {
        'primary': 'info',
        'secondary': 'info',
        'info': 'info',
        'success': 'success',
        'warning': 'warning',
        'danger': 'error'
    } %}
    <div {{ ui.util.attrs(kwargs) }} class="toast {{ style_map.get(style, 'info') }}" role="alert">
        {{ message }}
    </div>
{%- endmacro %}

{%- macro modal(content, title, footer, dismissible=true, dismiss_label="Close", id) -%}
    <dialog {{ ui.util.attrs(kwargs) }} id="{{ id }}" class="modal">
        <article>
            {%- if title %}
                <header>
                    <h3>{{ title }}</h3>
                    {%- if dismissible %}
                        <button aria-label="{{ dismiss_label }}" rel="prev"></button>
                    {%- endif %}
                </header>
            {%- endif %}
            <div class="content">
                {{ content }}
            </div>
            {%- if footer %}
                <footer>
                    {{ footer }}
                </footer>
            {%- endif %}
        </article>
    </dialog>
{%- endmacro %}

{%- macro modal_handler(content, id) -%}
    {{ ui.button(content, attrs={"onclick": "ckan.sandbox().ui.getModal('{id}').show()".format(id=id)}) }}
{%- endmacro %}

{%- macro modal_close(content, id) -%}
    {{ ui.button(content, attrs={"onclick": "ckan.sandbox().ui.getModal('{id}').close()".format(id=id)}) }}
{%- endmacro %}

{%- macro confirm_modal(content, title, id, form_id, cancel_label, confirm_label) -%}
    {%- if not form_id -%}
        {% set form_id = ui.util.id() %}
        {%- call ui.form_block("POST", attrs={"id": form_id}) -%}
        {%- endcall %}
    {%- endif %}

    {%- set close_button = ui.modal_close(cancel_label or _("Close"), id=id) %}
    {%- set confirm_button = ui.button(confirm_label or _("Confirm"), attrs={"onclick": "window['{form_id}'].submit()".format(form_id=form_id)}) %}

    {%- call ui.util.call(ui.modal, title=title or _("Confirm"), id=id, footer=close_button ~ confirm_button, **kwargs) -%}
        {{ content }}
    {%- endcall %}

{%- endmacro %}

{%- macro tooltip(content, tooltip) -%}
    {%- do kwargs -%}
    <span class="tooltip" data-tooltip="{{ tooltip }}">{{ content }}</span>
{%- endmacro %}

{%- macro popover_content(content, title, id) -%}
    <div class="tooltip" id="{{ id }}" {{ ui.util.attrs(kwargs) }}>{{ content or title }}</div>
{%- endmacro %}

{%- macro popover_handler(content, id) -%}
    <span class="tooltip-target" data-tooltip-target="#{{ id }}" {{ ui.util.attrs(kwargs) }}>{{ content }}</span>
{%- endmacro %}

{%- macro progress(value, max=100, label=None) -%}
    <div {{ ui.util.attrs(kwargs) }} class="progress-container">
        <progress value="{{ value }}" max="{{ max }}">{{ (value / max) * 100 }}%</progress>
        <small>
            {%- if label %}{{ label }}{% else %}{{ value }} / {{ max }}{% endif %}
        </small>
    </div>
{%- endmacro %}

{%- macro spinner(size="md") -%}
    {%- do kwargs -%}
    <span class="loading-spinner {{ 'size-' ~ size if size in ['sm', 'md', 'lg'] else 'md' }}"></span>
{%- endmacro %}
