{%- macro form_block(method="GET", action="", enctype="", include_csrf=true) -%}
    {{ ui.form_start(method, action, enctype, **kwargs) }}
    {{ h.csrf_input() if include_csrf and method|upper != "GET" }}

    {{ caller() }}

    {{ ui.form_end() }}
{%- endmacro %}

{%- macro form_actions_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro form_start(method, action="", enctype="") -%}
    <form {{ ui.util.attrs(kwargs) }} method="{{ method }}" action="{{ action }}" enctype="{{ enctype }}">
{%- endmacro %}

{%- macro form_end() -%}
    {%- do kwargs -%}
    </form>
{%- endmacro %}

{%- macro form_errors(errors={}) -%}
    {% if errors %}
        <div {{ ui.util.attrs(kwargs) }} class="alert error">
            <p>{{ _('The form contains invalid entries:') }}</p>
            <ul>
                {% for key, error in errors.items() %}
                    <li>{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{% macro input(name, id, label="", value="", type="text", errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {%- if label -%}
            <label for="{{ id }}">{{ label }}{{ '*' if required }}</label>
        {%- endif %}
        <input type="{{ type }}"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ value }}"
               class="{{ 'error' if errors }}"
               {{ "required" if required }}/>
        {%- if errors -%}
            {%- for error in errors -%}
                <small class="error">{{ error }}</small>
            {%- endfor %}
        {%- endif %}
    </div>
{%- endmacro %}

{% macro checkbox(name, id, label="", value="on", checked=false, errors=[], required=false) %}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <label {{ ui.util.attrs(kwargs) }} class="">
        <input type="checkbox"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ value }}"
               {{ "checked" if checked }}
               {{ "required" if required }} />
        {{ label }}{{ '*' if required }}
    </label>
    {%- if errors -%}
        {%- for error in errors -%}
            <small class="error">{{ error }}</small>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{%- macro textarea(name, id, label="", value="", errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {%- if label -%}
            <label for="{{ id }}">{{ label }}{{ '*' if required }}</label>
        {%- endif %}
        <textarea name="{{ name }}"
                  id="{{ id }}"
                  class="{{ 'error' if errors }}"
                  {{ "required" if required }}>{{ value }}</textarea>
        {%- if errors -%}
            {%- for error in errors -%}
                <small class="error">{{ error }}</small>
            {%- endfor %}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro select(name, id, label="", options=[], selected=None, errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {%- if label -%}
            <label for="{{ id }}">{{ label }}{{ '*' if required }}</label>
        {%- endif %}
        <select name="{{ name }}"
                id="{{ id }}"
                class="{{ 'error' if errors }}"
                {{ "required" if required }}>
            {%- for option in options %}
                {%- if option is string %}
                    <option value="{{ option }}" {{ "selected" if option == selected }}>{{ option }}</option>
                {%- else %}
                    <option value="{{ option.value }}" {{ "selected" if option.value == selected }}>{{ option.text or option.value }}</option>
                {%- endif %}
            {%- endfor %}
        </select>
        {%- if errors -%}
            {%- for error in errors -%}
                <small class="error">{{ error }}</small>
            {%- endfor %}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro radio(name, id, label="", value="on", checked=false, errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <label {{ ui.util.attrs(kwargs) }} class="">
        <input type="radio"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ value }}"
               {{ "checked" if checked }}
               {{ "required" if required }} />
        {{ label }}{{ '*' if required }}
    </label>
    {%- if errors -%}
        {%- for error in errors -%}
            <small class="error">{{ error }}</small>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{%- macro file_input(name, id, label="", errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {%- if label -%}
            <label for="{{ id }}">{{ label }}{{ '*' if required }}</label>
        {%- endif %}
        <input type="file"
               name="{{ name }}"
               id="{{ id }}"
               class="{{ 'error' if errors }}"
               {{ "required" if required }}/>
        {%- if errors -%}
            {%- for error in errors -%}
                <small class="error">{{ error }}</small>
            {%- endfor %}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro range_input(name, id, label="", value=0, min=0, max=100, errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {%- if label -%}
            <label for="{{ id }}">{{ label }}{{ '*' if required }}</label>
        {%- endif %}
        <input type="range"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ value }}"
               min="{{ min }}"
               max="{{ max }}"
               class="{{ 'error' if errors }}"
               {{ "required" if required }} />
        <output for="{{ id }}">{{ value }}</output>
        {%- if errors -%}
            {%- for error in errors -%}
                <small class="error">{{ error }}</small>
            {%- endfor %}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro toggle_switch(name, id, label="", value="on", checked=false, errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}

    <label {{ ui.util.attrs(kwargs) }} class="">
        <input type="checkbox"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ value }}"
               {{ "checked" if checked }}
               {{ "required" if required }} />
        {{ label }}{{ '*' if required }}
    </label>
    {%- if errors -%}
        {%- for error in errors -%}
            <small class="error">{{ error }}</small>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}
