{%- macro header_block(content, title=none, subtitle=none, logo=none) -%}
    <header class="{{ ui.util.attrs(kwargs).strip('class=') if ui.util.attrs(kwargs) else '' }}">
        <div class="container">
            <div class="grid">
                <div>
                    {%- if logo %}
                        {{ ui.link(ui.image(h.url_for_static_or_external(g.site_logo), alt=title), href=h.url_for("home.index")) }}
                    {%- else %}
                        <div>
                            {{ ui.heading(ui.link(title, href=h.url_for("home.index")), level=1) }}
                            {% if subtitle %}
                                {{ ui.heading(subtitle, level=2) }}
                            {% endif %}
                        </div>
                    {%- endif %}
                </div>
                <div>
                    {{ content }}
                </div>
            </div>
        </div>
    </header>
{%- endmacro %}

{%- macro footer_block(content) -%}
    <footer class="{{ ui.util.attrs(kwargs).strip('class=') if ui.util.attrs(kwargs) else '' }}">
        <div class="container">
            <div class="grid">
                <div class="flow">
                    {{ content }}
                </div>
            </div>
        </div>
    </footer>
{%- endmacro %}

{%- macro account_block(content, title=none, subtitle=none, logo=none) -%}
    <header class="section {{ ui.util.attrs(kwargs).strip('class=') if ui.util.attrs(kwargs) else '' }}">
        <div class="container">
            <div class="grid">
                <div>
                    {%- if title %}
                        <h1>{{ title }}</h1>
                    {%- endif %}
                    {%- if subtitle %}
                        <p>{{ subtitle }}</p>
                    {%- endif %}
                </div>
                <div>
                    {{ content }}
                </div>
            </div>
        </div>
    </header>
{%- endmacro %}
