{% extends "admin/base.html" %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb_item(_("Config"), h.url_for("admin.config")) }}
{%- endblock %}


{%- block primary_content_inner -%}
    {% set modal_id = ui.util.id() %}

    {{ ui.heading(_("Configuration", level=2)) }}

    {{ ui.form_errors(error_summary) }}

    {%- call ui.form_block("POST", enctype="multipart/form-data") -%}
        {%- block admin_form -%}
            {{ ui.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], errors=errors["ckan.site_title"]) }}

            {{ ui.input('ckan.theme', id='field-theme', label=_('Custom Stylesheet'), value=data['ckan.theme'], errors=errors['ckan.theme']) }}

            {{ ui.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], errors=errors['ckan.site_description']) }}

            {{ ui.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], errors=errors['ckan.site_about'], placeholder=_('About page text')) }}

            {{ ui.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], errors=errors['ckan.site_intro_text'], placeholder=_('Text on home page')) }}

            {{ ui.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], errors=errors['ckan.site_custom_css'], placeholder=_('Customisable css inserted into the page header')) }}

            {{ ui.input("ckan.site_logo", label="Site logo URL", value=data["ckan.site_logo"], errors=errors["ckan.site_logo"], attrs={"onchange": "this.form['logo_upload'].value = ''; this.form['clear_logo_upload'].checked = true"}) }}
            {{ ui.input("logo_upload", label="Site logo upload", type="file", value=data["logo_upload"], errors=errors["logo_upload"], attrs={"onchange": "this.form['ckan.site_logo'].value = '';"}) }}

        {%- endblock %}

        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.modal_handler(_('Reset'), id=modal_id) }}
            {{ ui.submit(_('Update Config'), name="save") }}
        {%- endcall %}
    {%- endcall %}


    {%- with form_id = ui.util.id() -%}
        {{ ui.form(method="POST", action=h.url_for('admin.reset_config'), attrs={"id": form_id}) }}

        {%- call ui.util.call(ui.confirm_modal, id=modal_id, form_id=form_id) -%}
            {{ _('Are you sure you want to reset the config?') }}
        {%- endcall %}
    {%- endwith %}


{%- endblock %}

{%- block secondary_content -%}
    {%- call ui.util.call(ui.section) -%}
        {{ ui.heading(_("CKAN config options"), level=2) }}

        <div>
            {% block admin_form_help %}

                {{ ui.definition_list([
[_("Site Title"), _("This is the title of this CKAN instance. It appears in various places throughout CKAN.")],
[_("Custom Stylesheet"), _("Define an alternative main CSS file.")],
[_("Site Tag Logo"), _("This is the logo that appears in the header of all the CKAN instance templates.")],
[_("About"), _("This text will appear on this CKAN instances about page.")],
[_("Intro Text"), _("This text will appear on this CKAN instances home page as a welcome to visitors.")],
[_("Custom CSS"), _("This is a block of CSS that appears on every page. If you wish to customize the templates more fully we recommend reading the documentation.")],
                ]) }}

            {% endblock %}
        </div>
    {%- endcall %}
{%- endblock %}
