{%- extends "page.html" -%}

{%- block page_layout -%}
    sidebar-start
{%- endblock %}

{%- block subtitle -%}
    {{ ui.subtitle_item("Theming") }}
    {{- super() }}
{%- endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{- ui.breadcrumb(_("Theming"), href=h.url_for("theming.index"), active=request.endpoint == "theming.index") }}
{%- endblock %}


{%- block secondary_content -%}
    {%- call ui.util.call(ui.sidebar_nav, title=_("Theming")) -%}
        {{ ui.sidebar_nav_item(_("Components"), href=h.url_for("theming.component"), active=request.endpoint=="theming.component") }}
        {{ ui.sidebar_nav_item(_("Util"), href=h.url_for("theming.util"), active=request.endpoint=="theming.util") }}
        {{ ui.sidebar_nav_item(_("JavaScript"), href=h.url_for("theming.js"), active=request.endpoint=="theming.js") }}
    {%- endcall %}

{%- endblock %}



{%- block scripts -%}
    {{ super() }}
    {%- asset "theming/examples" -%}
{%- endblock %}
