{%- extends "theming/base.html" -%}


{%- block primary_content_inner -%}

    <h2>Components</h2>

    <p>
        Theming extension provides a collection of reusable components that can
        be used to build various UI elements and structures across the
        site. These components are designed to be flexible and customizable,
        allowing developers to create consistent and visually appealing
        interfaces while adhering to the design guidelines of the theme. Each
        component serves a specific purpose and can be combined with other
        components to create complex layouts and interactions.
    </p>

    <h2>
        Util
    </h2>

    <p>
        In addition to the components, the theming extension also provides a set
        of utility functions and macros that assist in building and managing
        the UI. These utilities can be used for various purposes such as
        handling common patterns, simplifying code, and ensuring consistency
        across different parts of the site. They are designed to work seamlessly
        with the components, providing additional functionality and flexibility
        when creating custom UI elements and interactions.
    </p>
{%- endblock %}
