{%- extends "theming/base.html" -%}

{%- block subtitle -%}
    {{- ui.subtitle_item("Util") }}
    {{- super() }}
{%- endblock %}


{%- block breadcrumb_content -%}
    {{ super() }}
    {{- ui.breadcrumb(_("Util"), href=h.url_for("theming.util"), active=request.endpoint=="theming.util") }}
{%- endblock %}


{%- block content_primary_nav -%}
    {{ ui.content_nav_item("Overview", href=h.url_for("theming.util"), active=request.endpoint == "theming.util") }}
{%- endblock %}

{%- block primary_content_inner -%}

    {%- macro show_example(content, language, escape=false) -%}
        <strong>Code:</strong>
        <div class="theming-example-code">
            {{ ui.code(content|forceescape, language=language, dedent=true) }}
        </div>

        <strong>Output:</strong>
        <div class="theming-example-output--escaped">
            {{ content | render_string }}
        </div>
    {%- endmacro %}


    {%- include "theming/utils/" ~ util ~ ".html" -%}
{%- endblock %}


{%- block secondary_content -%}
    {{ super() }}

    {%- if available_utils -%}

        {%- call ui.util.call(ui.sidebar_nav, title=_("Utilities")) -%}
            {%- for name in available_utils -%}
                {{ ui.sidebar_nav_item(name, href=h.url_for("theming.util", util=name), active=util==name) }}
            {%- endfor %}
        {%- endcall %}
    {%- endif %}
{%- endblock %}
