{% extends "page.html" %}

{%- block subtitle %}{{ _('Admin') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(_('Admin'), h.url_for('admin.index')) }}
{%- endblock -%}

{%- block primary_content %}
    <div class="card">
        <div class="card-content">
            {%- block primary_content_inner %}{% endblock -%}
        </div>
    </div>
{%- endblock -%}

{%- block secondary_content %}
    <div class="card">
        <div class="card-content">
            <h4 class="title is-4">{{ _('Administration') }}</h4>
            <aside class="menu">
                <ul class="menu-list">
                    {{ ui.content_nav_item( _('Sysadmins'), h.url_for('admin.index'), active=request.endpoint == "admin.index") }}
                    {{ ui.content_nav_item(_('Config'), h.url_for('admin.config'), active=request.endpoint == "admin.config") }}
                    {{ ui.content_nav_item(_('Trash'), h.url_for('admin.trash'), active=request.endpoint == "admin.trash") }}
                </ul>
            </aside>
        </div>
    </div>
{%- endblock -%}
