{% extends "_layout.html" %}
{%- set _layout = _layout|default("fullwidth") -%}

{% set dataset_type = h.default_package_type() %}

{%- block subtitle %}
    {{ ui.subtitle_item(group_dict.display_name) if group_dict }}
    {{ ui.subtitle_item(h.humanize_entity_type('group', group_type, 'page title') or _('Groups')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), h.url_for(group_type ~ '.index')) }}
    {{ ui.breadcrumb(group_dict.display_name|truncate(35), h.url_for(group_dict.type ~ '.read', id=group_dict.name)) if group_dict }}
{%- endblock %}

{% block content_action %}
    {{ ui.content_action(_("Manage"), h.url_for(group_type+'.edit', id=group_dict.name)) if group_dict and h.check_access('group_update', {'id': group_dict.id}) }}
{% endblock %}

{% block content_nav %}
    {%- if group_dict -%}
        {{ ui.content_nav_item(h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), h.url_for(group_type + '.read', id=group_dict.name), active=request.endpoint == group_type ~ ".read") }}
        {{ ui.content_nav_item(_('Members'), h.url_for(group_type + '.members', id=group_dict.name), active=request.endpoint == group_type ~ ".members") }}
        {{ ui.content_nav_item(_('About'), h.url_for(group_type + '.about', id=group_dict.name), active=request.endpoint == group_type ~ ".about") }}
        {{ ui.content_nav_item(_("Activity Stream"), h.url_for("activity.group_activity", id=group_dict.name), active=request.endpoint == "activity.group_activity") if h.plugin_loaded("activity")}}
    {%- endif %}

{% endblock %}
