{% extends "_layout.html" %}
{%- set _layout = _layout | default("fullwidth") -%}

{% block subtitle %}
    {{ ui.subtitle_item(_('Confirm Delete')) }}
    {{ super() }}
{% endblock %}

{%- block primary_content_inner -%}
    <p>{{ _('Are you sure you want to delete member - {name}?').format(name=user_dict.name) }}</p>

    {%- call ui.util.call(ui.form, method="POST") -%}
        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.button(_("Cancel"), href=h.url_for(group_type ~ ".edit", id=group_id)) }}
            {{ ui.submit(value=_("Confirm Delete"), style="danger", name="delete") }}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}
