{% extends "group/_base.html" %}

{%- block subtitle %}{{ _('Edit') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {%- block breadcrumb_content_inner %}
        {{ ui.breadcrumb_item(group.display_name|truncate(35), h.url_for(group_type~'.read', id=group.name), title=group.display_name) }}
        {{ ui.breadcrumb_item(_('Manage'), h.url_for(group_type~'.edit', id=group.name), active=true) }}
    {%- endblock %}
{%- endblock %}

{%- block page_heading_class %}hide-heading{% endblock %}
{%- block page_heading %}{{ h.humanize_entity_type('group', group_type, 'edit label') or _('Edit Group') }}{% endblock %}
