{% extends "group/_base.html" %}
{%- set _layout = _layout | default("fullwidth") -%}

{%- block subtitle %}
    {{ h.humanize_entity_type('group', group_type, 'page title') or _('Groups') }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), href=h.url_for(group_type ~ '.index')) }}
{%- endblock %}

{%- block content_nav -%}
{%- endblock %}

{%- block page_action %}
    {{ ui.button(h.humanize_entity_type('group', group_type, 'add link') or _('Add Group'), href=h.url_for(group_type ~ '.new')) if h.check_access('group_create') }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(h.humanize_entity_type('group', group_type, 'page title') or _('Groups'), level=1) }}
    {%- block search_form %}
        {%- set sorting_options = [
            {"text": _('Name Ascending'), "value": "title asc"},
            {"text": _('Name Descending'), "value": "title desc"},
        ] %}

        {{ ui.search_form(query=q, sorting_options=sorting_options, sorting=sort_by_selected, item_count=page.item_count, first_item_position=page.first_item, last_item_position=page.last_item) }}
    {%- endblock %}

    {%- block group_list %}
        {%- if page.items %}
            {{ ui.group_list(ui.util.map(ui.group_item, page.items)) }}

        {%- else %}
            {%- if q %}
                <p>{{ _('There was an error while searching.') }}</p>
            {%- else %}
                <p>{{ _('No groups found.') }}</p>
            {%- endif %}
        {%- endif %}
    {%- endblock %}

    {%- block pagination %}
        {{ ui.pagination(page.page, page.last_page, page._url_generator) }}
    {%- endblock %}
{%- endblock %}
