{% extends "page.html" %}

{%- set group_type = h.default_group_type('group') %}

{%- block subtitle %}{{ h.humanize_entity_type('group', group_type, 'page title') or _('Groups') }}{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), href=h.url_for(group_type ~ '.index')) }}
{%- endblock %}

{%- block page_header %}{% endblock %}

{%- block page_primary_action %}
    {%- if h.check_access('group_create') %}
        {{ ui.link(h.humanize_entity_type('group', group_type, 'add link') or _('Add Group'), href=h.url_for(group_type ~ '.new'), class_='btn btn-primary', icon='plus-square') }}
    {%- endif %}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(h.humanize_entity_type('group', group_type, 'page title') or _('Groups'), level=1, attrs={"class": "hide-heading"}) }}
    {%- block groups_search_form %}
        {{ ui.snippet('snippets/search_form.html', form_id='group-search-form', type=group_type, query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder=h.humanize_entity_type('group', group_type, 'search placeholder') or _('Search groups...'), show_empty=True if page.items, sorting=[(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')]) }}
    {%- endblock %}
    {%- block groups_list %}
        {%- if page.items or request.args %}
            {%- if page.items %}
                {{ ui.snippet("group/snippets/group_list.html", groups=page.items) }}
            {%- endif %}
        {%- else %}
            <p class="empty">
                {{ h.humanize_entity_type('group', group_type, 'no any objects') or _('There are currently no groups for this site') }}.
                {%- if h.check_access('group_create') %}
                    {{ ui.link(_('How about creating one?'), href=h.url_for(group_type ~ '.new')) }}
                {%- endif %}
            </p>
        {%- endif %}
    {%- endblock %}
    {%- block page_pagination %}
        {{ page.pager(q=q or '', sort=sort_by_selected or '') }}
    {%- endblock %}
{%- endblock %}

{%- block secondary_content %}
    {{ ui.snippet("group/snippets/helper.html", group_type=group_type) }}
{%- endblock %}
