{% extends "group/_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Members')) }}
    {{ super() }}
{% endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('{0} members'.format(members|length)), level=3) }}

    {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
        {{ ui.table_head(ui.table_row(ui.table_cell(_('User'), header=true) ~ ui.table_cell(_('Role'), header=true))) }}

        {%- call ui.util.call(ui.table_body) -%}

            {%- for user_id, user, role in members -%}
                {%- call ui.util.call(ui.table_row) -%}
                    {{ ui.table_cell(h.linked_user(user_id, maxlength=20)) }}
                    {{ ui.table_cell(role) }}
                {%- endcall %}
            {%- endfor %}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}
