{% extends "group/base_form_page.html" %}

{%- set label = h.humanize_entity_type('group', group_type, 'create title') or _('Create a Group') %}

{%- block subtitle %}{{ label }}{% endblock %}

{%- block page_heading %}{{ label }}{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), h.url_for(group_type ~ '.index')) }}
    {{ ui.breadcrumb_item(label, h.url_for(group_type ~ '.new'), active=true) }}
{%- endblock %}

{%- block page_header %}{% endblock %}

{%- block secondary_content %}
    {{ ui.snippet("group/snippets/helper.html", group_type=group_type) }}
{%- endblock %}
