{% extends "group/_base.html" %}

{%- set group_type = group_dict.type or 'group' %}
{%- set dataset_type = h.default_package_type() %}

{%- block subtitle %}{{ group_dict.title or group_dict.name }}{% endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(group_dict.title or group_dict.name, h.url_for(group_type ~ ".read", id=group_dict.name)) }}
{%- endblock %}

{%- block page_header %}
    {{ ui.heading(group_dict.title or group_dict.name, level=1) }}

    {%- if group_dict.description %}
        {{ h.render_markdown(group_dict.description) }}
    {%- endif %}

    <div class="group-info">
        <p><strong>{{ _('Packages') }}:</strong> {{ group_dict.package_count }}</p>
    </div>

    {%- if h.check_access('group_update', {'id': group_dict.id}) %}
        {{ ui.button(_('Edit'), href=h.url_for(group_type ~ '.edit', id=group_dict.name)) }}
    {%- endif %}
{%- endblock %}
