{% extends "_page.html" %}

{%- block secondary_content -%}
{%- endblock %}

{% block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("Breadcrumbs")) -%}
        {%- for size in range(1, 4) -%}
            {%- call ui.util.call(ui.breadcrumb_wrapper) -%}
                {%- for _ in range(size) -%}
                    {{ ui.breadcrumb_item(lipsum(1, false, 1, 3), "#") }}
                {%- endfor %}
            {%- endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call ui.util.call(ui.section, title=_("Pagination")) -%}
        {{ ui.pagination(page=1, total=2) }}
        {{ ui.pagination(page=3, total=3) }}
        {{ ui.pagination(page=5, total=10) }}
    {%- endcall %}

{% endblock %}
