{% extends "page.html" %}
{%- block page_layout -%}no-sidebar{%- endblock %}

{%- block subtitle -%}
    {{ ui.subtitle_item(_("About")) }}
    {{- super() }}
{%- endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb(_("About"), h.url_for("home.about"), active=true) }}
{%- endblock %}


{%- block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("About")) -%}
        {%- if g.site_about %}
            {{ h.render_markdown(g.site_about) }}
        {%- else %}
            {% include "home/about_text.html" %}
        {%- endif %}
    {%- endcall %}
{%- endblock %}
