{% extends "_layout.html" %}
{% set _layout = "fullwidth" %}

{%- block subtitle -%}
    {{ _("About") }}
{%- endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item("About", h.url_for("home.about")) }}
{%- endblock %}


{%- block primary_content_inner %}
    {%- if g.site_about %}
        {{ ui.text(h.render_markdown(g.site_about)) }}

    {%- else %}
        {{ ui.heading( _("About"), level=1) }}
        {% include "home/_about_text.html" %}

    {%- endif %}
{%- endblock %}
