{% extends "_layout.html" %}
{% set _layout = _layout | default("fullwidth") %}

{%- block subtitle %}{{ _("Welcome") }}{% endblock %}

{%- block toolbar %}{% endblock %}

{%- block primary_content_inner %}

    {%- call ui.util.call(ui.grid) -%}
        {%- call ui.util.call(ui.column, {"xs": 12, "md": 6}) -%}
            {%- block promoted %}
                <div class="promoted-content">
                    {{ ui.heading(_('Welcome to CKAN'), level=2) }}
                    <p>{{ _('This is a place where you can find and share data with others.') }}</p>
                </div>
            {%- endblock %}
        {%- endcall %}

        {%- call ui.util.call(ui.column, {"xs": 12, "md": 6}) -%}
            {%- block search %}
                {{ ui.heading(_('Discover Datasets'), level=3) }}
                {%- call ui.form_block(action=h.url_for('dataset.search')) -%}
                    {{ ui.input(name="q", attrs={"placeholder": _('Search datasets...'), "autocomplete": "off"}) }}
                    {{ ui.button(_("Search"), type="submit") }}
                {%- endcall %}
            {%- endblock %}
        {%- endcall %}
    {%- endcall %}

    {%- call ui.util.call(ui.grid) -%}
        {%- call ui.util.call(ui.column, {"xs": 12, "md": 6}) -%}

            {%- block featured_group %}
                <div class="featured-group">
                    {{ ui.heading(_('Featured Groups'), level=3) }}
                    {%- set groups = h.get_featured_groups() -%}
                    {%- if groups -%}
                        {{ ui.group_list(ui.util.map(ui.group_item, groups)) }}

                    {%- else -%}
                        <p>{{ _('A featured group would appear here.') }}</p>

                    {%- endif %}
                </div>
            {%- endblock %}
        {%- endcall %}

        {%- call ui.util.call(ui.column, {"xs": 12, "md": 6}) -%}

            {%- block featured_organization %}
                <div class="featured-organization">
                    {{ ui.heading(_('Featured Organizations'), level=3) }}
                    {%- set organizations = h.get_featured_organizations() -%}
                    {%- if organizations -%}
                        {{ ui.organization_list(ui.util.map(ui.organization_item, organizations)) }}

                    {%- else -%}
                            <p>{{ _('A featured organization would appear here.') }}</p>

                    {%- endif %}
                </div>
            {%- endblock %}
        {%- endcall %}
    {%- endcall %}

{%- endblock %}
