{% set _layout = _layout | default("fullwidth") %}
{% extends "layout.html" %}


{%- block breadcrumb %}{%- endblock %}

{%- block primary_content_inner -%}
    <script>
     function showModal() {
         const sb = ckan.sandbox();
         const title = document.createElement("mark");
         title.append("hello world")
         sb.ui.notification(
             "Content",
             "Title",
             {dismissible: true, timeout: 4000}
         );
     }
    </script>
    {{ ui.button("Click", attrs={"onclick": "showModal()"}) }}

    {{ ui.toast("hello") }}
{%- endblock %}
