{% extends "page.html" %}

{%- block subtitle %}{{ _('Admin') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(_('Admin'), h.url_for('admin.index')) }}
{%- endblock -%}

{%- block primary_content %}
    <section class="card">
        {%- block primary_content_inner %}{% endblock -%}
    </section>
{%- endblock -%}

{%- block secondary_content %}
    <section class="card">
        <header>
            <h5>{{ _('Administration') }}</h5>
        </header>
        <ul>
            {{ ui.nav_item(_('Config'), h.url_for('admin.config'), active=(c.action == 'config')) }}
            {{ ui.nav_item(_('Trash View'), h.url_for('admin.trash'), active=(c.action == 'trash')) }}
            {{ ui.nav_item(_('Purge Trash'), h.url_for('admin.purge', confirmed=False), active=false) }}
        </ul>
    </section>
{%- endblock -%}
