{% ckan_extends %}

{%- macro _header_logo(href, logo, title, subtitle) -%}
    {% if logo -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("class", "logo") -%}
        {{ ui.link(ui.image(h.url_for_static_or_external(logo), alt=title, aria={"label": _('Navigate to Home - {site_title}').format(site_title=title)}), href=href, **kwargs) }}
    {%- else -%}
        {{ ui.link(title, href=href, **kwargs) }}
        {%- if subtitle -%}
            <p class="mb-0">{{ subtitle }}</p>
        {%- endif %}
    {%- endif %}
{%- endmacro %}
{%- set header_logo = header_logo or _header_logo -%}


{%- macro _footer(content) -%}
    <footer {{ ui.util.attrs(kwargs) }}>{{ content }}</footer>
{%- endmacro %}
{%- set footer = footer or _footer -%}

{%- macro _footer_main(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "site-footer"}) }}>{{ content }}</div>
{%- endmacro %}
{%- set footer_main = footer_main or _footer_main -%}

{%- macro _footer_secondary(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "bg-black"}) }}>{{ content }}</div>
{%- endmacro %}
{%- set footer_secondary = footer_secondary or _footer_secondary -%}


{%- macro _account_nav_item(content, href, active) -%}
    {{ ui.nav_item(content, href, active, **kwargs) }}
{%- endmacro %}
{%- set account_nav_item = account_nav_item or _account_nav_item -%}


{%- macro facet_section(content, title, items, key, collapsed, has_more) -%}
    <section {{ ui.util.attrs(kwargs, {"class": "module module-narrow module-shallow accordion"}) }}>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="module-heading accordion-button {{ 'collapsed' if collapsed or not items }}"
                    type="button" data-bs-toggle="collapse" data-bs-target="#{{ ui.util.id(title) }}"
                    {% if not items %}disabled{% endif %}>
                    <i class="filter-svg fa-solid fa-filter"></i>
                    {{ title }}
                </button>
            </h2>
            {% if items %}
                <nav id="{{ ui.util.id(title) }}" class="accordion-collapse {{ 'collapse' if collapsed else 'show' }}" aria-label="{{ _('Filter by: {title}').format(title=title) }}">
                    {{ content }}
                    <p class="module-footer">
                        {% if has_more %}
                            <a hx-boost="true" href="{{ h.remove_url_param('_%s_limit' % key, replace=0) }}" class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
                        {% elif request.args['_%s_limit' % key] %}
                            <a hx-boost="true" href="{{ h.remove_url_param('_%s_limit' % key) }}" class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
                        {% endif %}
                    </p>
                </nav>
            {% else %}
                <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
            {% endif %}
        </div>
    </section>
{%- endmacro %}
{%- set facet_section = facet_section or _facet_section -%}


{%- macro _content_action_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "content_action gap-1 mb-md-3"}) }}>
        {{- content -}}
    </div>
{%- endmacro %}
{%- set content_action_wrapper = content_action_wrapper or _content_action_wrapper -%}

{%- macro _content_nav_wrapper(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav nav-pills"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}
{%- set content_nav_wrapper = content_nav_wrapper or _content_nav_wrapper -%}


{%- macro _main_nav_wrapper(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "navbar-nav mb-2 mb-lg-0 col-md-10"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}
{%- set main_nav_wrapper = main_nav_wrapper or _main_nav_wrapper -%}

{%- macro _page_action_wrapper(content, variant) -%}
    {%- set classes = "mb-3 mb-md-0 ms-3 pull-right" -%}
    {%- if variant == "dashboard" -%}
        {%- set classes = " col-md-4" -%}
    {%- endif %}
    <div {{ ui.util.attrs(kwargs, {"class": "page_primary_action " ~  classes}) }}>
        {{- content -}}
    </div>
{%- endmacro %}
{%- set page_action_wrapper = page_action_wrapper or _page_action_wrapper -%}


{%- macro _sidebar_nav_wrapper(content) -%}
    <ul {{ ui.util.attrs(kwargs, {"class": "nav nav-options flex-column"}) }}>
        {{ content }}
    </ul>
{%- endmacro %}
{%- set sidebar_nav_wrapper = sidebar_nav_wrapper or _sidebar_nav_wrapper -%}
