{%- macro group_item(group) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    {{ ui.image(group.image_display_url if group.image_display_url else h.url_for_static('/base/images/placeholder-group.png'), alt=group.title) }}
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ ui.link(group.title or group.name, href=h.url_for('group.read', id=group.name)) }}</strong>
                        <br>
                        <small>{{ h.markdown_extract(group.description, 180) if group.description else '' }}</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{%- endmacro %}

{%- macro organization_item(group) -%}
    {{ ui.group_item(group, **kwargs) }}
{%- endmacro %}

{%- macro organization_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro group_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro package_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro resource_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro user_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro user_item(user) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ ui.link(user.display_name, href=h.url_for('user.read', id=user.name)) }}</strong>
                        <br>
                        <small>{{ user.about if user.about }}</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
{%- endmacro %}

{%- macro facet_list(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro facet_item(facet, key) -%}
    {%- set title = facet.display_name or facet.name %}
    {%- set count = facet.count %}
    {%- set href = h.remove_url_param(key, facet.name) if facet.active else h.add_url_param(new_params={key: facet.name}) %}

    <div {{ ui.util.attrs(kwargs) }}>
        {{ ui.link(title ~ ' (' ~ count ~ ')', href=href, class="has-text-weight-normal" if not facet.active else "has-text-weight-normal active") }}
    </div>
{%- endmacro %}

{%- macro facet_group(content, title) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <div class="box-header">
            <h3 class="title is-5">{{ title }}</h3>
        </div>
        <div class="box-body">
            {{ content }}
        </div>
    </div>
{%- endmacro %}

{%- macro activity_stream(content) -%}
    {{ ui.listing(content, **kwargs) }}
{%- endmacro %}

{%- macro activity_item(content, activity) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <div class="content">
            {{ content }}
        </div>
    </div>
{%- endmacro %}

{%- macro license(content, id, url) -%}
    <a {{ ui.util.attrs(kwargs) }} href="{{ url }}" rel="dc:rights" class="is-size-7">
        <span>{{ content }}</span>
    </a>
{%- endmacro %}

{%- macro content_action_item(content, href) -%}
    <div class="level is-mobile" {{ ui.util.attrs(kwargs) }}>
        <div class="level-left">
            {{ content }}
        </div>
        <div class="level-right">
            <a href="{{ href }}" class="level-item has-text-grey">
                <i class="fa fa-ellipsis-v"></i>
            </a>
        </div>
    </div>
{%- endmacro %}

{%- macro package_item(pkg) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ ui.link(pkg.title or pkg.name, href=h.url_for('dataset.read', id=pkg.name)) }}</strong>
                        <br>
                        <small>{{ h.markdown_extract(pkg.notes, 180) if pkg.notes else '' }}</small>
                        <br>
                        <span class="tags">
                            {%- if pkg.organization %}
                                <span class="tag is-info">{{ pkg.organization.title or pkg.organization.name }}</span>
                            {%- endif %}
                            {%- for tag in pkg.tags[:3] %}
                                <span class="tag">{{ tag.display_name }}</span>
                            {%- endfor %}
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </div>
{%- endmacro %}

{%- macro resource_item(res) -%}
    <div class="box" {{ ui.util.attrs(kwargs) }}>
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ res.name or res.description or res.url[:50] ~ '...' }}</strong>
                        <br>
                        <small>{{ res.description if res.description else res.url }}</small>
                        <br>
                        <span class="tags">
                            <span class="tag is-primary">{{ res.format or res.mimetype_inner or res.mimetype or 'Resource' }}</span>
                            <span class="tag is-link">Size: {{ res.size|filesizeformat if res.size else 'Unknown' }}</span>
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </div>
{%- endmacro %}

{%- macro search_form(query, sorting, sorting_options, query_name="q", sorting_name="sort", active_filters=[] ) -%}
    {%- set facets = {
            'fields': fields_grouped,
            'search': search_facets,
            'titles': facet_titles,
            'translated_fields': translated_fields,
            'remove_field': remove_field }
    %}

    {%- call ui.util.call(ui.form, **kwargs) -%}
        <div class="field">
            {{ ui.input(name=query_name, label=_("Search"), value=query, type="search", class="input") }}
        </div>
        {%- if sorting %}
        <div class="field">
            {{ ui.select(name=sorting_name, label=_("Order by"), selected=sorting, options=sorting_options, class="select") }}
        </div>
        {%- endif %}
        <div class="field">
            {{ ui.form_actions(ui.button(_('Search'), type="submit", class="button is-primary")) }}
        </div>

        {%- if active_filters %}
            <div class="content">
                {%- call ui.util.call(ui.listing) -%}
                    {%- for group, fields in active_filters|groupby(0) -%}
                        <div>
                            <strong>{{ group }}:</strong>
                            {%- for name, value in fields -%}
                                {{ ui.hidden_input(name=name, value=value) }}
                                <del>{{ ui.tag(value, href=h.remove_url_param(name, value)) }}</del>
                            {%- endfor %}
                        </div>
                    {%- endfor %}
                {%- endcall %}
            </div>
        {%- endif %}

    {%- endcall %}
{%- endmacro %}
