{%- macro table_block(striped=false, bordered=false) -%}
    <table class="table {{ 'is-striped' if striped }} {{ 'is-bordered' if bordered }}" {{ ui.util.attrs(kwargs) }}>
        {{ caller() }}
    </table>
{%- endmacro %}

{%- macro table_head_block() -%}
    <thead {{ ui.util.attrs(kwargs) }}>{{ caller() }}</thead>
{%- endmacro %}

{%- macro table_body_block() -%}
    <tbody {{ ui.util.attrs(kwargs) }}>{{ caller() }}</tbody>
{%- endmacro %}

{%- macro table_row_block() -%}
    <tr {{ ui.util.attrs(kwargs) }}>
        {{ caller() }}
    </tr>
{%- endmacro %}

{%- macro table_row(columns, heading=false) -%}
    {%- call ui.table_row_block() %}
        {%- for column in columns %}
            {{ ui.table_cell(column, heading) }}
        {%- endfor %}
    {%- endcall %}
{%- endmacro %}

{%- macro table_cell(content, heading=false) -%}
    {% set tag = "th" if heading else "td" %}
    <{{ tag }} {{ ui.util.attrs(kwargs) }}>{{ content }}</{{ tag }}>
{%- endmacro %}

{%- macro list_group(items) -%}
    <div class="panel" {{ ui.util.attrs(kwargs) }}>
        {%- for item in items %}
            <a class="panel-block">{{ item }}</a>
        {%- endfor %}
    </div>
{%- endmacro %}

{%- macro definition_list(items) -%}
    <div class="content" {{ ui.util.attrs(kwargs) }}>
        <dl>
            {%- for term, definition in items %}
                <dt>{{ term }}</dt>
                <dd>{{ definition }}</dd>
            {%- endfor %}
        </dl>
    </div>
{%- endmacro %}

{%- macro stat(label, value, icon) -%}
    <div class="level-item has-text-centered" {{ ui.util.attrs(kwargs) }}>
        <div>
            {%- if icon %}
                {{ ui.icon(icon) }}
            {%- endif %}
            <p class="title is-4">{{ value }}</p>
            <p class="heading">{{ label }}</p>
        </div>
    </div>
{%- endmacro %}

{%- macro chart(type, data, options) -%}
    <div class="chart-container" {{ ui.util.attrs(kwargs) }} style="position: relative; height:40vh; width:100%;">
        <canvas data-chart-type="{{ type }}" data-chart-data="{{ data|tojson }}" data-chart-options="{{ options|tojson if options else '{}' }}">
            Chart placeholder
        </canvas>
    </div>
{%- endmacro %}

{%- macro code_block(content, language="text") -%}
    <pre class="bd-clipboard" {{ ui.util.attrs(kwargs) }}>
        <code class="language-{{ language }}">{{ content }}</code>
    </pre>
{%- endmacro %}
