{%- macro badge(content) -%}
    {%- do kwargs -%}
    <span class="tag">{{ content }}</span>
{%- endmacro %}

{%- macro button(content, href, style="primary", type="button") -%}
    {%- set style_map = {
        'primary': 'primary',
        'secondary': 'secondary',
        'info': 'info',
        'success': 'success',
        'warning': 'warning',
        'danger': 'danger'
    } %}
    {%- if href -%}
        <a href="{{ href }}" class="button is-{{ style_map.get(style, 'primary') }}">{{ content }}</a>
    {%- else -%}
        <button type="{{ type }}" class="button is-{{ style_map.get(style, 'primary') }}">{{ content }}</button>
    {%- endif %}
{%- endmacro %}

{%- macro divider() -%}
    {%- do kwargs -%}
    <hr class="hr"/>
{%- endmacro %}

{%- macro heading(content, level=1) -%}
    {%- do kwargs -%}
    {%- set tag =  "h" ~ level %}
    <{{ tag }} class="title is-{{ level }}">{{ content }}</{{ tag }}>
{%- endmacro %}

{%- macro button_group(content, direction="row") -%}
    <div {{ ui.util.attrs(kwargs) }} class="field is-grouped">
        <div class="control" style="display: flex; flex-direction: {{ direction }}; gap: 0.25rem;">
            {{ content }}
        </div>
    </div>
{%- endmacro %}

{%- macro image(src, alt, height, width) -%}
    <img {{ ui.util.attrs(kwargs) }} src="{{ src }}"
          {%- if alt %} alt="{{ alt }}"{% endif %}
          {%- if height %} height="{{ height }}"{% endif %}
          {%- if width %} width="{{ width }}"{% endif -%}
    />
{%- endmacro %}

{%- macro link(content, href, style, blank) -%}
    {%- if blank -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("target", "_blank") -%}
    {%- endif %}
    <a {{ ui.util.attrs(kwargs) }} class="has-text-link" href="{{ href or content }}">{{ content }}</a>
{%- endmacro %}

{%- macro text(content) -%}
    <p {{ ui.util.attrs(kwargs) }}>{{ content }}</p>
{%- endmacro %}

{%- macro video(src, controls=true) -%}
    <video {{ ui.util.attrs(kwargs) }} src="{{ src }}" {{ "controls" if controls }}></video>
{%- endmacro %}

{%- macro tag(content, href, id) -%}
    {%- do kwargs -%}
    <a class="tag is-link" href="{{ href or h.url_for('dataset.search', tags=id or content) }}">{{ content }}</a>
{%- endmacro %}

{%- macro avatar(src, alt) -%}
    {%- if kwargs.attrs -%}
        {%- do kwargs.attrs.setdefault("width", 100) -%}
        {%- do kwargs.attrs.setdefault("height", 100) -%}
    {%- endif -%}

    {{ ui.image(src or h.url_for_static("/base/images/placeholder-user.png"), alt) }}
{%- endmacro %}

{%- macro icon(name, size="md") -%}
    {%- do kwargs -%}
    <span class="icon">
        <i class="fas fa-{{ name }} fa-{{ size }}"></i>
    </span>
{%- endmacro %}

{%- macro label(text, for_id) -%}
    <label {{ ui.util.attrs(kwargs) }} class="label" for="{{ for_id }}">{{ text }}</label>
{%- endmacro %}
