{%- macro header_block(content, title, subtitle, logo) -%}
    <header id="header" {{ ui.util.attrs(kwargs) }}>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                {%- if logo %}
                    {{ ui.link(ui.image(h.url_for_static_or_external(g.site_logo), alt=title), href=h.url_for("home.index")) }}
                {%- else %}
                    <div class="navbar-item">
                        {{ ui.heading(ui.link(title, href=h.url_for("home.index")), level=1) }}
                        {% if subtitle %}
                            {{ ui.heading(subtitle, level=2) }}
                        {% endif %}
                    </div>
                {%- endif %}
            </div>

            <div class="navbar-menu">
                {{ content }}
            </div>
        </nav>
    </header>
{%- endmacro %}

{%- macro footer_block(content) -%}
    <footer class="footer" {{ ui.util.attrs(kwargs) }}>
        <div class="container">
            <div class="content has-text-centered">
                {{ content }}
            </div>
        </div>
    </footer>
{%- endmacro %}

{%- macro account_block(content, title, subtitle, logo) -%}
    <header id="account" class="hero is-light" {{ ui.util.attrs(kwargs) }}>
        <div class="hero-body">
            <div class="container">
                {{ content }}
            </div>
        </div>
    </header>
{%- endmacro %}
