{%- macro breadcrumb_wrapper(content) -%}
    <nav class="breadcrumb" aria-label="breadcrumbs" {{ ui.util.attrs(kwargs) }}>
        <ul>{{ content }}</ul>
    </nav>
{%- endmacro %}

{%- macro breadcrumb_item(content, href) -%}
    {%- do kwargs -%}
    <li><a href="{{ href }}">{{ content }}</a></li>
{%- endmacro %}

{%- macro nav_wrapper(content) -%}
    <nav class="navbar" {{ ui.util.attrs(kwargs) }} role="navigation">
        {{ content }}
    </nav>
{%- endmacro %}

{%- macro nav_item(content, href, active=False) -%}
    {%- do kwargs -%}
    <a class="navbar-item {{ 'is-active' if active }}" href="{{ href }}">{{ content }}</a>
{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <div class="tabs is-boxed" {{ ui.util.attrs(kwargs) }}>
        <ul>{{ content }}</ul>
    </div>
{%- endmacro %}

{%- macro tab_item(content, href, active=False) -%}
    {%- do kwargs -%}
    <li class="{{ 'is-active' if active }}"><a href="{{ href }}">{{ content }}</a></li>
{%- endmacro %}

{%- macro menu_wrapper(content) -%}
    <aside class="menu" {{ ui.util.attrs(kwargs) }}>
        <ul class="menu-list">{{ content }}</ul>
    </aside>
{%- endmacro %}

{%- macro menu_item(content, href, active=False) -%}
    {%- do kwargs -%}
    <li>
        <a class="{{ 'is-active' if active }}" href="{{ href }}">{{ content }}</a>
    </li>
{%- endmacro %}

{%- macro pagination(page=1, total_pages=1, url_generator=h.pager_url, padding=2) -%}
    {%- if total_pages > 1 %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination" {{ ui.util.attrs(kwargs) }}>
            <ul class="pagination-list">
                {%- if page > 1 %}
                    <li><a class="pagination-previous" href="{{ url_generator(page=page - 1) }}">Previous</a></li>
                {%- else %}
                    <li><a class="pagination-previous" disabled>Previous</a></li>
                {%- endif %}

                {%- if page - 1 > padding %}
                    <li><a class="pagination-link" href="{{ url_generator(page=1) }}">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                {%- endif %}

                {%- for i in range([page - padding, 1]|max, [page + padding, total_pages + 1]|min) %}
                    {%- if i == page %}
                        <li><a class="pagination-link is-current">{{ i }}</a></li>
                    {%- else %}
                        <li><a class="pagination-link" href="{{ url_generator(page=i) }}">{{ i }}</a></li>
                    {%- endif %}
                {%- endfor %}

                {%- if total_pages - page > padding %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" href="{{ url_generator(page=total_pages) }}">{{ total_pages }}</a></li>
                {%- endif %}

                {%- if page < total_pages %}
                    <li><a class="pagination-next" href="{{ url_generator(page=page + 1) }}">Next</a></li>
                {%- else %}
                    <li><a class="pagination-next" disabled>Next</a></li>
                {%- endif %}
            </ul>
        </nav>
    {%- endif %}
{%- endmacro %}

{%- macro dropdown_wrapper(content, title) -%}
    <div class="dropdown" {{ ui.util.attrs(kwargs) }}>
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>{{ title or 'Dropdown' }}</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {{ content }}
            </div>
        </div>
    </div>
{%- endmacro %}

{%- macro dropdown_item(content, href="#") -%}
    {%- do kwargs -%}
    <a href="{{ href }}" class="dropdown-item">{{ content }}</a>
{%- endmacro %}

{%- macro sidebar(content) -%}
    <aside class="menu" {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </aside>
{%- endmacro %}

{%- macro navbar(brand, items) -%}
    <nav class="navbar" role="navigation" aria-label="main navigation" {{ ui.util.attrs(kwargs) }}>
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ h.url_for('home.index') }}">
                {{ brand }}
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                {{ items }}
            </div>
        </div>
    </nav>
{%- endmacro %}

{%- macro main_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}
{%- macro main_nav_item(content, href, active) -%}{{ ui.nav_item(content, href, active, **kwargs) }}{%- endmacro %}
{%- macro account_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}
{%- macro account_nav_item(content, href, active) -%}{{ ui.nav_item(content, href, active, **kwargs) }}{%- endmacro %}
{%- macro content_nav_wrapper(content) -%}{{ ui.tab_wrapper(content, **kwargs) }}{%- endmacro %}
{%- macro content_nav_item(content, href, active) -%}{{ ui.tab_item(content, href, active, **kwargs) }}{%- endmacro %}

{%- macro breadcrumb_divider() -%}
    <span {{ ui.util.attrs(kwargs) }} class="has-text-grey">/</span>
{%- endmacro %}
