{% extends "_layout.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Admin')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb(_('Admin'), h.url_for('admin.index')) }}
{%- endblock %}


{% block content_nav %}
    {{ ui.content_nav_item( _('Sysadmins'), h.url_for('admin.index'), active=request.endpoint == "admin.index") }}
    {{ ui.content_nav_item(_('Config'), h.url_for('admin.config'), active=request.endpoint == "admin.config") }}
    {{ ui.content_nav_item(_('Trash'), h.url_for('admin.trash'), active=request.endpoint == "admin.trash") }}
{% endblock %}
