{% extends "admin/base.html" %}

{%- block primary_content_inner %}

    {%- call ui.util.call(ui.section, title=_('Current Sysadmins')) -%}
        {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
            {{ ui.table_head(ui.table_row(ui.util.map(ui.table_cell, [_('User'), ''], header=true))) }}

            {%- call ui.util.call(ui.table_body) -%}
                {%- for user in sysadmins %}
                    {%- call ui.util.call(ui.table_row) -%}
                        {{ ui.table_cell(h.linked_user(user)) }}
                        {%- call ui.util.call(ui.table_cell) -%}
                            {%- call ui.util.call(ui.form, method="POST", action=h.url_for('user.sysadmin')) -%}
                                <input type="hidden" value="{{ user }}" name="username" />
                                <input type="hidden" value="0" name="status" />
                                {{ ui.button(_('Revoke'), type="submit", style="danger") }}
                            {%- endcall %}
                        {%- endcall %}
                    {%- endcall %}
                {%- endfor %}
            {%- endcall %}
        {%- endcall %}
    {%- endcall %}

    {%- call ui.util.call(ui.section, title=_('Promote user to Sysadmin')) -%}
        {%- call ui.util.call(ui.form, method="POST", action=h.url_for('user.sysadmin')) -%}
            {{ ui.input(name="username", label=_('Username'), placeholder=_('Username'),
                    data={"module": "autocomplete", "module-source": "/api/2/util/user/autocomplete?ignore_self=true&q=?"}
            ) }}
            <input type="hidden" value="1" name="status" />
            {{ ui.form_actions(ui.button(_('Promote'), type="submit")) }}
        {%- endcall %}
    {%- endcall %}

{%- endblock %}

{%- block secondary_content %}
    {%- call ui.util.call(ui.sidebar_section, title=_('Administer CKAN')) -%}
        <p>
            {{ _("As a sysadmin user you have full control over this CKAN instance. Proceed with care!") }}
        </p>
        <p>
            {%- with docs_url = "https://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) -%}
                {{ ui.link(_("Sysadmin guide"), href=docs_url, attrs={"target": "blank", "rel": "noreferrer"}) }}
            {%- endwith -%}
        </p>
    {%- endcall %}
{%- endblock %}
