{% extends "organization/_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('About')) }}
    {{ super() }}
{% endblock %}

{%- block primary_content_inner %}
    {% block page_heading %}
        {{ ui.heading(group_dict.display_name, level=1) }}
    {% endblock %}

    {%- block organization_description %}
        {{ ui.text(h.render_markdown(group_dict.description)) if group_dict.description }}
    {%- endblock %}

    {%- block organization_extras %}
        {%- call ui.util.call(ui.accordion_wrapper) -%}
            {%- call ui.util.call(ui.accordion, title=_('Additional Info')) -%}
                {%- call ui.util.call(ui.table, striped=true, bordered=true) -%}
                    {{ ui.table_head(ui.table_row(ui.table_cell(_('Field'), header=true) ~ ui.table_cell(_('Value'), header=true))) }}

                    {%- call ui.util.call(ui.table_body) -%}
                        {% for key, value in h.sorted_extras(group_dict.extras) %}
                            {{ ui.table_row(ui.table_cell(_(key|e), header=true) ~ ui.table_cell(_(value))) }}
                        {% endfor %}
                    {%- endcall %}

                {%- endcall %}
            {%- endcall %}
        {%- endcall %}

    {%- endblock %}
{%- endblock %}
