{% extends "organization/_edit_base.html" %}

{%- block subtitle -%}
    {{ ui.subtitle_item(_('Administrators')) }}
    {{- super() }}
{%- endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Administrators"), h.url_for(group_type ~ '.admins', id=group_dict.name)) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('Administrators'), level=1) }}
    {%- block admins_list %}
        {%- call ui.util.call(ui.user_list) -%}
            {%- for user in admins -%}
                {{ ui.user(user=user) }}
            {%- endfor %}
        {%- endcall %}
    {%- endblock %}
{%- endblock %}
