{% extends "organization/_edit_base.html" %}
{%- set _layout = _layout | default("sidebar") -%}

{%- set dataset_type = h.default_package_type() %}

{%- block subtitle %}
    {{ ui.subtitle_item(h.humanize_entity_type('package', dataset_type, 'edit label') or _('Edit datasets')) }}
    {{ super() }}
{% endblock %}

{%- block page_action %}
    {{ ui.page_action_item(_('Add Dataset'), href=h.url_for('dataset.new', group=group_dict.id)) }}
{%- endblock %}

{%- block primary_content_inner %}

    <div id="search-results">
        {%- set sorting_options = [
            {"text": _('Relevance'), "value": "score desc, metadata_modified desc"},
            {"text": _('Name Ascending'), "value": "title_string asc"},
            {"text": _('Name Descending'), "value": "title_string desc"},
            {"text": _('Last Modified'), "value": "metadata_modified desc"}
            ] %}

        {{ ui.search_form(q, sorting_options=sorting_options, sorting=sort_by_selected, hidden_filters=fields, facet_titles=facet_titles, facets=search_facets, active_filters=fields, item_count=page.item_count, first_item_position=page.first_item, last_item_position=page.last_item, use_htmx=false) }}

        {%- block package_list %}
            {%- if page.items %}
                {%- call ui.util.call(ui.form, method="POST") -%}

                    {%- call ui.util.call(ui.button_group) -%}
                        {{ ui.button(_('Make public'), type="submit", attrs={"name": "bulk_action.public", "value": "public"}) }}
                        {{ ui.button(_('Make private'), type="submit", attrs={"name": "bulk_action.private", "value": "private"}) }}
                        {{ ui.button(_('Delete'), type="submit", style="danger", attrs={"name": "bulk_action.delete", "value": "delete"}) }}

                    {%- endcall %}

                    {%- call ui.util.call(ui.package_wrapperui.package_wrapper) -%}
                        {%- for package in page.items -%}
                            {{ ui.checkbox(name="dataset_" ~ package.id, label=ui.link(package.title, href=h.url_for(package.type ~ ".read", id=package.name))) }}
                        {%- endfor %}
                    {%- endcall %}
                {%- endcall %}

            {%- else %}
                <p>{{ _('No datasets found.') }}</p>

            {%- endif %}
        {%- endblock %}

        {%- block pagination %}
            {{ ui.pagination(page.page, page.last_page, page._url_generator) }}
        {%- endblock %}
    </div>

{%- endblock %}

{%- block secondary_content -%}
    {%- with facet_titles=facet_titles, search_facets=search_facets, disable_htmx=true -%}
        {%- include "package/snippets/_search_facets.html" -%}
    {%- endwith %}
{%- endblock %}
