{% extends "_page.html" %}

{%- block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{%- block primary_content_inner %}
    <section class="module col-md-6 col-md-offset-3">
        <div class="module-content">
            <p>{{ _('Are you sure you want to delete member - {name}?').format(name=user_dict.name) }}</p>
            <div class="form-actions">
                {{ ui.form_block("POST", action=h.url_for(group_type ~ '.member_delete', id=group_id, user=user_id)) }}
                {{ h.csrf_input() }}
                {{ ui.hidden_input("user", value=user_id) }}
                {{ ui.button(_('Cancel'), type="submit", name="cancel", style="danger", class="btn btn-danger") }}
                {{ ui.button(_('Confirm Delete'), type="submit", name="delete", style="primary", class="btn btn-primary") }}
                {{ ui.form_end() }}
            </div>
        </div>
    </section>
{%- endblock %}
