{% extends "organization/_edit_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Members')) }}
    {{ super() }}
{% endblock %}

{%- block page_action %}
    {{ ui.button(_('Add Member'), href=h.url_for(group_type ~ '.member_new', id=organization_dict.id)) }}
    {{ ui.button(_('CSV'), href=h.url_for(group_type ~ '.member_dump', id=organization_dict.id)) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('{0} members'.format(members|length)), level=3) }}

    {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
        {{ ui.table_head(ui.table_row(cells=[_('User'), _('Role'), ""], heading=true)) }}

        {%- call ui.util.call(ui.table_body) -%}

            {%- for user_id, user, role in members -%}
                {%- call ui.util.call(ui.table_row) -%}
                    {{ ui.table_cell(h.linked_user(user_id, maxlength=20)) }}
                    {{ ui.table_cell(role) }}
                    {%- call ui.util.call(ui.table_cell) -%}
                        {%- call ui.util.call(ui.button_group) -%}

                            {{ ui.tooltip(ui.button(_('Edit role'), href=h.url_for(group_type + '.member_new', id=organization_dict.id, user=user_id)), _('Edit the role of the user within the organization')) }}

                            {%- with modal_id = ui.util.id() -%}
                                {{ ui.tooltip(ui.modal_handle(_('Delete member'), id=modal_id), _('Delete this member from the organization')) }}
                                {{ ui.confirm_modal(_('Are you sure you want to delete this member?'), id=modal_id, href=h.url_for(group_type + '.member_delete', id=organization_dict.id, user=user_id)) }}
                            {%- endwith %}

                        {%- endcall %}
                    {%- endcall %}
                {%- endcall %}
            {%- endfor %}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}
