{%- macro subtitle_item(content, initial) -%}
    {%- do kwargs -%}
    {{ content }}
    {%- if not initial %} {{ g.template_title_delimiter }} {% endif %}
{%- endmacro %}

{%- macro account(content, title, subtitle, logo) -%}
    <div {{ ui.util.attrs(kwargs) }} class="account-masthead">
        {{ ui.container(content) }}
    </div>
{%- endmacro %}

{%- macro header_logo(href, logo, title, subtitle) -%}
    {% if logo -%}
        {{ ui.link(ui.image(h.url_for_static_or_external(logo), alt=title, aria={"label": _('Navigate to Home - {site_title}').format(site_title=title)}), href=href, attrs={"class": "logo"}) }}

    {%- else -%}
        {{ ui.link(title, href=href, **kwargs) }}
        {%- if subtitle -%}
            <p class="mb-0">{{ subtitle }}</p>
        {%- endif %}
    {%- endif %}
{%- endmacro %}

{%- macro header(content, title, subtitle, logo, href) -%}
    <header {{ ui.util.attrs(kwargs) }} class="masthead">
        {%- call ui.util.call(ui.container) -%}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
            {% endif %}

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="{{ g.header_class }} navbar-left col-md-2">
                    {{ ui.header_logo(logo=logo, title=title, subtitle=subtitle, href=href or h.url_for('home.index')) }}
                </div>
                {{ ui.button(ui.icon("bars"), attrs={"class": "navbar-toggler"}, data={"bs-toggle": "collapse", "bs-target": "#main-navigation-toggle"}, aria={"controls": "main-navigation-toggle",  "expanded": "false", "label": _('Toggle navigation')}) }}

                <div class="main-navbar collapse navbar-collapse col-md-10" id="main-navigation-toggle">
                    {{ content }}
                </div>
            </nav>
        {%- endcall %}
    </header>
{%- endmacro %}

{%- macro footer(content) -%}
    <footer {{ ui.util.attrs(kwargs) }}>{{ content }}</footer>
{%- endmacro %}

{%- macro footer_main(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="site-footer">{{ content }}</div>
{%- endmacro %}

{%- macro footer_secondary(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="bg-black">{{ content }}</div>
{%- endmacro %}

{%- macro language_selector() -%}
    {% set current_lang = request.environ.CKAN_LANG %}
    {%- set data_attrs = {"module": "autocomplete", "module-dropdown-class": "lang-dropdown", "module-container-class": "lang-container"} -%}
    {%- set label = ui.icon("globe", weight="solid") ~ ui.util.tag(_('Language'), "span", attrs={"class": "sr-only"}) -%}

    <div class="lang-select">
        {%- call ui.util.call(ui.form, method="POST", action=h.url_for('util.internal_redirect'), data={"module": "select-switch"}) -%}
            {%- call ui.util.call(ui.select_box, name="url", id=ui.util.id(), data=data_attrs, label=label, **kwargs) -%}
                {% for locale in h.get_available_locales() %}
                    {{ ui.select_option(locale.display_name or locale.english_name, value=h.url_for(h.current_url(), locale=locale.short_name), selected=locale.short_name == current_lang) }}
                {% endfor %}
            {%- endcall %}
        {%- endcall %}
    </div>
{%- endmacro %}
