{%- macro sidebar_section(content, title) -%}
    {%- set id = ui.util.id() -%}
    <aside {{ ui.util.attrs(kwargs) }} role="complementary" aria-labelledby="section-title-{{ id }}">
        <section>
            {{ ui.heading(title, level=2, attrs={"id": "section-title-" ~ id}) }}
            <div>
                {{ content }}
            </div>
        </section>
    </aside>
{%- endmacro %}

{%- macro facet_section(content, title, items, key, collapsed, has_more) -%}
    <section {{ ui.util.attrs(kwargs) }}class="module module-narrow module-shallow accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="module-heading accordion-button {{ 'collapsed' if collapsed or not items }}"
                    type="button" data-bs-toggle="collapse" data-bs-target="#{{ ui.util.id(title) }}"
                    {% if not items %}disabled{% endif %}>
                    <i class="filter-svg fa-solid fa-filter"></i>
                    {{ title }}
                </button>
            </h2>

            {% if items %}
                <nav id="{{ ui.util.id(title) }}" class="accordion-collapse {{ 'collapse' if collapsed else 'show' }}" aria-label="{{ _('Filter by: {title}').format(title=title) }}">
                    {{ content }}

                    <p class="module-footer">
                        {% if has_more %}
                            <a hx-boost="true" href="{{ h.remove_url_param('_%s_limit' % key, replace=0) }}" class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
                        {% elif request.args['_%s_limit' % key] %}
                            <a hx-boost="true" href="{{ h.remove_url_param('_%s_limit' % key) }}" class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
                        {% endif %}
                    </p>
                </nav>
            {% else %}
                <p class="module-content empty">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
            {% endif %}

        </div>
    </section>

{%- endmacro %}

{%- macro section(content, title, level=2) -%}
    <section {{ ui.util.attrs(kwargs) }}>
        {{ ui.heading(title, level) if title }}
        <div>
            {{ content }}
        </div>
    </section>
{%- endmacro %}
