<footer class="container">
    <div class="grid">
        <div>
            <h5>{{ g.site_title }}</h5>
            <p class="secondary">A powerful, extensible platform for data sharing and discovery.</p>
        </div>
        <div>
            <h6>Resources</h6>
            <ul>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div>
            <h6>Connect</h6>
            <ul>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
    <small>&copy; {{ g.site_title }}. All rights reserved.</small>
</footer>
