<header class="container">
    <nav class="container">
        <ul class="nav">
            <li class="logo">
                <a href="{{ h.url_for('home.index') }}" class="secondary">
                    {{ g.site_title }}
                </a>
            </li>
            <li>
                <a href="{{ h.url_for('dataset.search') }}">Datasets</a>
            </li>
            <li>
                <a href="{{ h.url_for('organization.index') }}">Organizations</a>
            </li>
            <li>
                <a href="{{ h.url_for('group.index') }}">Groups</a>
            </li>
            <li class="push-right">
                {%- if current_user.is_authorized %}
                    <details class="dropdown">
                        <summary role="button" class="secondary">
                            {{ ui.avatar(h.get_user().name, h.get_user().display_name) }}
                            {{ h.get_user().display_name or h.get_user().name }}
                        </summary>
                        <ul>
                            <li><a href="{{ h.url_for('user.read', id=h.get_user().name) }}">Profile</a></li>
                            <li><a href="{{ h.url_for('user.dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ h.url_for('user.logout') }}">Logout</a></li>
                        </ul>
                    </details>
                {%- else %}
                    <a href="{{ h.url_for('user.login') }}" role="button">Login</a>
                {%- endif %}
            </li>
        </ul>
    </nav>
</header>
