{% block dictionary_view %}
    {%- call ui.util.call(ui.accordion_wrapper) -%}
        {% for field in ddict %}

            {%- call ui.util.call(ui.accordion, title=ui.grid(ui.column(loop.index) ~ ui.column(h.get_translated(field.get('info', {}), 'label') or field.id, span={"xs": 7}) ~ ui.column(field.type, span={"xs": 4}))) -%}

                {%- call ui.util.call(ui.table, striped=true) -%}
                    {{ ui.table_row(ui.table_cell(_('ID'), heading=true) ~ ui.table_cell(field.id)) }}
                    {{ ui.table_row(ui.table_cell(_('Type'), heading=true) ~ ui.table_cell(field.type)) }}
                    {{ ui.table_row(ui.table_cell(_('Label'), heading=true) ~ ui.table_cell(h.get_translated(field.get('info', {}), 'label'))) }}
                    {{ ui.table_row(ui.table_cell(_('Description'), heading=true) ~ ui.table_cell(h.render_markdown(h.get_translated(field.get('info', {}), 'notes')))) }}
                {%- endcall %}
            {%- endcall %}
        {% endfor %}

    {%- endcall %}
{% endblock %}
