{% extends "page.html" %}
{% set dataset_type = h.default_package_type() %}

{% block subtitle -%}
    {{ ui.subtitle_item(group_dict.display_name) if group_dict }}
    {{- ui.subtitle_item(h.humanize_entity_type('group', group_type, 'page title') or _('Groups')) }}
    {{- super() }}
{%- endblock %}

{% set group = group_dict %}

{% block content_action -%}
    {{ ui.content_action(_('View'), href=h.url_for(group_type+'.read', id=group_dict.name), style='secondary', icon='eye') if group and h.check_access('group_update', {'id': group.id}) }}
{%- endblock %}

{% block breadcrumb_content -%}
    {{ ui.breadcrumb(h.humanize_entity_type('group', group_type, 'breadcrumb') or _('Groups'), href=h.url_for(group_type+'.index')) }}
    {%- block breadcrumb_content_inner -%}{% endblock %}
{%- endblock %}

{% block content_primary_nav -%}
    {{ ui.content_nav_item(_('Edit'), href=h.url_for(group_type + '.edit', id=group_dict.name), icon='pencil', active=request.endpoint==group_type + '.edit') }}
    {{- ui.content_nav_item(_('Members'), href=h.url_for(group_type + '.manage_members', id=group_dict.name), icon='users', active=request.endpoint==group_type + '.manage_members') }}
{%- endblock %}

{% block secondary_content %}
    {% snippet "group/snippets/info.html", group=group_dict, show_nums=false %}
{% endblock %}
