{%- set can_delete = data.id and h.check_access('resource_delete', {'id': data.id}) -%}
{%- if can_delete -%}
    {%- set removal_form_id = ui.util.id() -%}
    {{ ui.form(method="POST", action=h.url_for(dataset_type ~ '_resource.delete', resource_id=data.id, id=pkg_name), attrs={"id": removal_form_id}) }}
{%- endif %}


{%- call ui.util.call(ui.form, method="POST", enctype="multipart/form-data") -%}
    {%- block hidden_fields -%}
        {{ ui.hidden_input("id", data.id) }}
    {%- endblock %}

    {% block errors %}{{ ui.form_errors(error_summary) }}{% endblock %}

    {% block basic_fields %}

        {{ ui.input(name="url", label="URL", value=data.url, errors=errors.url, attrs={"onchange": "this.form['url_type'].value = 'url';"}) }}
        {{ ui.input(name="upload", label="File", type="file", errors=errors.upload, attrs={"onchange": "this.form['url_type'].value = 'upload';"}) if h.uploads_enabled() }}

        {{ ui.input(name="url_type", label=_("URL Type"), value=data.url_type, errors=errors.url_type, attrs={"readonly": true}) }}



        {% block basic_fields_name %}
            {{ ui.input(name='name', label=_('Name'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, errors=errors.name) }}
        {% endblock %}

        {% block basic_fields_description %}
            {{ ui.markdown(name='description', label=_('Description'), placeholder=_('Some useful notes about the data'), value=data.description, errors=errors.description) }}
        {% endblock %}

        {% block basic_fields_format %}
            {%- call ui.util.call(ui.input, name="format", label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, errors=errors.format) -%}
                {{ _('This will be guessed automatically. Leave blank if you wish') }}
            {%- endcall %}
        {% endblock %}

    {% endblock basic_fields %}

    {% block metadata_fields %}
    {% endblock %}

    {%- block form_actions -%}
        {%- call ui.util.call(ui.form_actions) -%}
            {% block delete_button %}

                {% if can_delete %}
                    {%- with modal_id=ui.util.id() -%}
                        {%- call ui.util.call(ui.modal_handle, id=modal_id, style="danger") -%}
                            {% block delete_button_text %}{{ _('Delete') }}{% endblock %}
                        {%- endcall %}

                        {%- call ui.util.call(ui.confirm_modal, id=modal_id, form_id=removal_form_id) -%}
                            {{ _('Are you sure you want to delete this resource?') }}
                        {%- endcall %}
                    {%- endwith %}

                {% endif %}
            {%- endblock -%}

            {% if stage %}
                {% block previous_button %}
                    {{ ui.button(_('Previous'), type="submit", attrs={"name": "save", "value": "go-dataset"}) }}
                {% endblock %}
            {% endif %}

            {% block again_button %}
                {{ ui.button(_('Save & add another'), type="submit", attrs={"name": "save", "value": "again"}) if not data.id }}
            {% endblock %}

            {% if stage or data.id %}
                {% block save_button %}
                    {%- call ui.util.call(ui.button, type="submit", attrs={"name": "save", "value": "go-metadata"}) -%}
                        {% block save_button_text %}{{ _('Update Resource') if data.id else _('Publish') }}{% endblock %}
                    {%- endcall %}
                {% endblock %}
            {% else %}
                {% block add_button %}
                    {{ ui.button(_('Add'), type="submit", attrs={"name": "save", "value": "go-dataset-complete"}) }}
                {% endblock %}
            {% endif %}

        {%- endcall %}
    {%- endblock form_actions %}

{%- endcall %}
