{%- block header_account %}
    {%- call ui.util.call(ui.account) -%}
        {%- call ui.util.call(ui.account_nav_wrapper) -%}
            {%- if current_user.is_authenticated %}
                {%- block header_account_logged -%}

                    {{ ui.account_nav_item(_('Admin'), h.url_for("admin.index"), active=request.endpoint == "admin.index") }}

                    {%- block header_account_profile -%}
                        {{ ui.account_nav_item(_('View profile'), h.url_for("user.read", id=current_user.name)) }}
                    {%- endblock header_account_profile %}

                    {%- block header_dashboard -%}
                        {{ ui.account_nav_item(_('Dashboard'), h.url_for("dashboard.datasets")) }}
                    {%- endblock %}

                    {%- block header_account_settings_link -%}
                        {{ ui.account_nav_item(h.user_image(current_user.id, 12) ~ _('Profile settings'), h.url_for("user.edit", id=c.userobj.name)) }}
                    {%- endblock %}

                    {%- block header_account_log_out_link -%}

                        {{ ui.button(_('Log out'), type="submit", attrs={"form": "form-logout"}) -}}
                        {{ ui.form(method="POST", action=h.url_for('user.logout'), attrs={"id": "form-logout", "hidden": ""}) }}
                    {%- endblock %}

                {%- endblock %}

            {%- else -%}
                {% block header_account_notlogged %}
                    {{ ui.account_nav_item(_("Log in"), h.url_for("user.login")) }}
                    {{ ui.account_nav_item(_("Register"), h.url_for("user.register")) if h.check_access("user_create") }}
                {% endblock %}

            {%- endif %}

        {%- endcall %}
    {%- endcall %}
{%- endblock %}

{%- block header %}
    {%- call ui.util.call(ui.header, g.site_title, subtitle=g.site_description, logo=g.site_logo) %}
        {%- call ui.util.call(ui.main_nav_wrapper) %}
            {% set items = [
                        ["Datasets", "dataset.search"],
                        ["Organizations", "organization.index"],
                        ["Groups", "group.index"],
                        ["About", "home.about"],
            ] %}

            {%- for label, endpoint in items %}
                {{ ui.main_nav_item(label, h.url_for(endpoint), active=request.endpoint == endpoint) }}
            {%- endfor %}
            {{ ui.main_nav_item(_("Statistics"), h.url_for("stats.index"), active=request.endpoint == "stats.index") if h.plugin_loaded("stats") }}

        {%- endcall %}
    {%- endcall %}
{%- endblock %}
