{% extends "_layout.html" %}
{%- set _layout = _layout|default("fullwidth") -%}

{%- block subtitle %}
    {{ ui.subtitle_item(gettext('Error %(error_code)s', error_code=code)) }}
    {{ super() }}
{% endblock %}

{%- block primary_content_inner %}
    {%- call ui.util.call(ui.section) -%}
        {{ ui.heading(code ~ " " ~ name, level=1) }}
        {{ ui.text(content) }}

        {%- block login_redirect %}
            {%- if show_login_redirect_link %}
                {%- call ui.util.call(ui.text) -%}
                    {{ _("You might need to login to access this page.") }}
                    {{ ui.link(_("Click here to login"), href=h.url_for('user.login')) }}
                {%- endcall %}
            {%- endif %}
        {%- endblock %}

    {%- endcall %}
{%- endblock %}

{%- block breadcrumb %}{% endblock %}

{%- block notifications_container %}
    {# eat the flash messages caused by the 404 #}
    {%- do h.get_flashed_messages() -%}
{% endblock %}
