{% extends "base.html" %}


{%- block page %}

    {%- block zone_header -%}
        {%- block header %}
            {% include "_header.html" %}
        {%- endblock header %}
    {%- endblock zone_header %}

    {%- block zone_toolbar %}
        {%- block breadcrumb %}
            <div id="breadcrumb">
                {%- call ui.util.call(ui.breadcrumb_wrapper) %}
                    {{ ui.breadcrumb_item("Home", h.url_for("home.index")) }}
                    {%- block breadcrumb_content %}{% endblock %}
                {%- endcall %}
            </div>

        {%- endblock breadcrumb %}

    {%- endblock %}

    {%- block zone_intro %}
        {%- block flash %}
            <div id="flash-messages">
                {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                    {%- block flash_message scoped %}
                        <div>{{ h.literal(message) }}</div>
                    {%- endblock flash_message %}
                {%- endfor %}
            </div>
        {%- endblock flash %}
    {%- endblock %}

    {%- block zone_content %}
        {%- block content %}
            <div id="content" {% block content_attrs %}{% endblock %}>

                {%- block zone_main %}
                    {%- block zone_secondary -%}
                        {%- block secondary %}
                            <aside id="sidebar">
                                {%- block secondary_content %}
                                {%- endblock secondary_content %}
                            </aside>
                        {%- endblock secondary -%}
                    {%- endblock zone_secondary %}

                    {%- block zone_primary -%}
                        {%- block primary -%}
                            <main id="main">
                                <article>
                                    {%- block primary_content %}
                                        {%- block page_action %}{% endblock -%}

                                        {%- block page_header %}
                                            {%- block content_action %}{% endblock -%}
                                            {%- block content_nav %}{% endblock -%}
                                        {% endblock -%}

                                        {%- block primary_content_inner %}
                                        {% endblock -%}

                                    {%- endblock primary_content %}
                                </article>

                            </main>
                        {%- endblock primary -%}
                    {%- endblock zone_primary -%}
                {%- endblock zone_main %}

            </div>
        {%- endblock content%}
    {%- endblock zone_content %}

    {%- block zone_outro %}{% endblock -%}

    {%- block zone_footer -%}
        {%- block footer %}
            {%- include "_footer.html" -%}
        {% endblock footer %}

        {%- block debug -%}
            {%- if g.debug %}
                <button onclick="window['debug-modal'].showModal()" accesskey="d" hidden>Debug</button>
                <dialog id="debug-modal" style="max-width: 90vw; overflow-x: auto;">
                    <pre>
                        {%- debug -%}
                    </pre>
                </dialog>
            {%- endif %}
        {%- endblock %}

    {%- endblock zone_footer %}
{%- endblock %}
