{% extends "base.html" %}

{%- block page %}
    {%- block zone_start -%}{%- endblock %}

    {%- block zone_header -%}
        {%- block header %}
            {% include "_header.html" %}
        {%- endblock header %}
    {%- endblock zone_header %}

    {%- block zone_toolbar %}
        {%- block breadcrumb %}
            <div id="breadcrumb">
                {%- call ui.util.call(ui.breadcrumb_wrapper) -%}
                    {{ ui.breadcrumb_item("Home", h.url_for("home.index"), is_first=true) }}
                    {%- block breadcrumb_content %}{% endblock %}
                {%- endcall %}
            </div>
        {%- endblock breadcrumb %}
    {%- endblock %}

    {%- block zone_intro %}
        {%- block notifications_container %}
            <div id="flash-messages">
                {%- for category, message in h.get_flashed_messages(with_categories=true) %}
                    {%- block notification_item scoped -%}
                        <div>{{ h.literal(message) }}</div>
                    {%- endblock notification_item %}
                {%- endfor -%}
            </div>
        {%- endblock notifications_container %}
    {%- endblock %}

    {%- block zone_center %}
        {%- block content -%}
            <div id="content" {% block content_attrs %}{% endblock %}>

                {%- block zone_content %}

                    {%- block zone_sidebar -%}
                        {%- block secondary %}
                            <aside id="sidebar">
                                {%- block secondary_content %}
                                {%- endblock secondary_content %}
                            </aside>
                        {%- endblock secondary -%}
                    {%- endblock zone_sidebar %}

                    {%- block zone_main -%}
                        {%- block primary -%}
                            <main id="main">
                                <article>
                                    {%- block primary_content %}
                                        {%- block page_action %}{% endblock -%}

                                        {%- block page_header %}
                                            {%- block content_action %}{% endblock -%}

                                            {%- call ui.util.call(ui.content_nav_wrapper) -%}
                                                {%- block content_nav %}{% endblock -%}
                                            {%- endcall %}
                                        {% endblock -%}

                                        {%- block primary_content_inner %}
                                        {% endblock -%}

                                    {%- endblock primary_content %}
                                </article>
                            </main>
                        {%- endblock primary %}
                    {%- endblock zone_main %}

                {%- endblock zone_content %}
            </div>
        {%- endblock content%}
    {%- endblock zone_center %}

    {%- block zone_outro %}{% endblock -%}

    {%- block zone_footer -%}
        {%- block footer %}
            {%- include "_footer.html" -%}
        {% endblock footer %}

        {%- block debug -%}
            {%- if g.debug %}
                <button onclick="window['debug-modal'].showModal()" accesskey="d" hidden>Debug</button>
                <dialog id="debug-modal" style="max-width: 90vw; overflow-x: auto;">
                    <pre>
                        {%- debug -%}
                    </pre>
                </dialog>
            {%- endif %}
        {%- endblock %}
    {%- endblock zone_footer %}

    {%- block zone_end -%}{%- endblock %}
{%- endblock %}
