{% import "macros/ui/component.html" as component with context  %}
{% import "macros/ui/container.html" as _container with context  %}
{% import "macros/ui/data.html" as data with context %}
{% import "macros/ui/element.html" as element with context  %}
{% import "macros/ui/feedback.html" as feedback with context %}
{% import "macros/ui/form.html" as _form with context %}
{% import "macros/ui/meta.html" as meta with context %}
{% import "macros/ui/misc.html" as misc with context %}
{% import "macros/ui/nav.html" as _nav with context %}

{% set avatar = element.avatar %}
{% set badge = element.badge %}
{% set button = element.button %}
{% set divider = element.divider %}
{% set heading = element.heading %}
{% set image = element.image %}
{% set link = element.link %}
{% set tag = element.tag %}
{% set text = element.text %}
{% set text_block = element.text_block %}
{% set video = element.video %}

{% set breadcrumb_item = _nav.breadcrumb_item %}
{% set breadcrumb_wrapper = _nav.breadcrumb_wrapper %}
{% set menu_wrapper = _nav.menu_wrapper %}
{% set menu_item = _nav.menu_item %}
{% set nav_wrapper = _nav.nav_wrapper %}
{% set nav_item = _nav.nav_item %}
{% set account_nav_wrapper = _nav.account_nav_wrapper %}
{% set account_nav_item = _nav.account_nav_item %}
{% set main_nav_wrapper = _nav.main_nav_wrapper %}
{% set main_nav_item = _nav.main_nav_item %}
{% set content_nav_wrapper = _nav.content_nav_wrapper %}
{% set content_nav_item = _nav.content_nav_item %}
{% set pagination = _nav.pagination %}
{% set tab_wrapper = _nav.tab_wrapper %}
{% set tab_item = _nav.tab_item %}

{% set accordion_wrapper = _container.accordion_wrapper %}
{% set accordion_item = _container.accordion_item %}
{% set card = _container.card %}
{% set column = _container.column %}
{% set listing = _container.listing %}
{% set container = _container.container %}
{% set grid = _container.grid %}
{% set panel = _container.panel %}
{% set row = _container.row %}
{% set section = _container.section %}

{% set header_block = meta.header_block %}
{% set footer_block = meta.footer_block %}
{% set account_block = meta.account_block %}

{% set datetime = misc.datetime %}
{% set pagination_info = misc.pagination_info %}

{% set alert = feedback.alert %}
{% set toast = feedback.toast %}
{% set modal = feedback.modal %}
{% set modal_handler = feedback.modal_handler %}
{% set modal_close = feedback.modal_close %}
{% set confirm_modal = feedback.confirm_modal %}
{% set tooltip = feedback.tooltip %}
{% set popover_content = feedback.popover_content %}
{% set popover_handler = feedback.popover_handler %}
{% set progress = feedback.progress %}
{% set spinner = feedback.spinner %}

{% set table = data.table %}
{% set table_head = data.table_head %}
{% set table_body = data.table_body %}
{% set table_row = data.table_row %}
{% set table_cell = data.table_cell %}
{% set list_group = data.list_group %}
{% set definition_list = data.definition_list %}
{% set stat = data.stat %}
{% set chart = data.chart %}
{% set code_block = data.code_block %}

{% set form_block = _form.form_block %}
{% set form = _form.form %}
{% set form_start = _form.form_start %}
{% set form_end = _form.form_end %}
{% set form_errors = _form.form_errors %}
{% set field_errors = _form.field_errors %}
{% set form_actions = _form.form_actions %}
{% set submit = _form.submit %}
{% set input = _form.input %}
{% set hidden_input = _form.hidden_input %}
{% set checkbox = _form.checkbox %}
{% set textarea = _form.textarea %}
{% set markdown = _form.markdown %}
{% set select = _form.select %}
{% set radio = _form.radio %}
{% set file_input = _form.file_input %}
{% set range_input = _form.range_input %}
{% set toggle_switch = _form.toggle_switch %}

{% set group_item = component.group_item %}
{% set organization_item = component.organization_item %}
{% set package_item = component.package_item %}
{% set resource_item = component.resource_item %}
{% set search_form = component.search_form %}
{% set facet_group = component.facet_group %}
{% set facet_item = component.facet_item %}
