{% import "macros/ui/content.html" as _content with context  %}
{% import "macros/ui/wrapper.html" as _wrapper with context  %}
{% import "macros/ui/container.html" as _container with context  %}
{% import "macros/ui/data.html" as data with context %}
{% import "macros/ui/element.html" as element with context  %}
{% import "macros/ui/feedback.html" as feedback with context %}
{% import "macros/ui/form.html" as _form with context %}
{% import "macros/ui/handle.html" as _handle with context %}
{% import "macros/ui/meta.html" as meta with context %}
{% import "macros/ui/nav.html" as _nav with context %}
{% import "macros/ui/search.html" as _search with context %}
{% import "macros/ui/section.html" as _section with context %}

{% set accordion_wrapper = accordion_wrapper | default(_wrapper.accordion_wrapper) %}
{% set account_nav_wrapper = account_nav_wrapper | default(_wrapper.account_nav_wrapper) %}
{% set activity_wrapper = activity_wrapper | default(_wrapper.activity_wrapper) %}
{% set breadcrumb_wrapper = breadcrumb_wrapper | default(_wrapper.breadcrumb_wrapper) %}
{% set content_action_wrapper = content_action_wrapper | default(_wrapper.content_action_wrapper) %}
{% set content_nav_wrapper = content_nav_wrapper | default(_wrapper.content_nav_wrapper) %}
{% set dropdown_wrapper = dropdown_wrapper | default(_wrapper.dropdown_wrapper) %}
{% set facet_wrapper = facet_wrapper | default(_wrapper.facet_wrapper) %}
{% set group_wrapper = group_wrapper | default(_wrapper.group_wrapper) %}
{% set main_nav_wrapper = main_nav_wrapper | default(_wrapper.main_nav_wrapper) %}
{% set menu_wrapper = menu_wrapper | default(_wrapper.menu_wrapper) %}
{% set nav_wrapper = nav_wrapper | default(_wrapper.nav_wrapper) %}
{% set organization_wrapper = organization_wrapper | default(_wrapper.organization_wrapper) %}
{% set package_wrapper = package_wrapper | default(_wrapper.package_wrapper) %}
{% set page_action_wrapper = page_action_wrapper | default(_wrapper.page_action_wrapper) %}
{% set panel_wrapper = panel_wrapper | default(_wrapper.panel_wrapper) %}
{% set resource_wrapper = resource_wrapper | default(_wrapper.resource_wrapper) %}
{% set tab_wrapper = tab_wrapper | default(_wrapper.tab_wrapper) %}
{% set user_wrapper = user_wrapper | default(_wrapper.user_wrapper) %}

{% set activity = activity | default(_content.activity) %}
{% set facet = facet | default(_content.facet) %}
{% set group = group | default(_content.group) %}
{% set license = license | default(_content.license) %}
{% set organization = organization | default(_content.organization) %}
{% set package = package | default(_content.package) %}
{% set resource = resource | default(_content.resource) %}
{% set user = user | default(_content.user) %}

{% set accordion = accordion | default(_container.accordion) %}
{% set button_group = button_group | default(_container.button_group) %}
{% set card = card | default(_container.card) %}
{% set column = column | default(_container.column) %}
{% set container = container | default(_container.container) %}
{% set grid = grid | default(_container.grid) %}
{% set list = list | default(_container.list) %}
{% set list_item = list_item | default(_container.list_item) %}
{% set panel = panel | default(_container.panel) %}

{% set facet_section = facet_section | default(_section.facet_section) %}
{% set section = section | default(_section.section) %}
{% set sidebar_section = sidebar_section | default(_section.sidebar_section) %}

{% set alert = alert | default(feedback.alert) %}
{% set confirm_modal = confirm_modal | default(feedback.confirm_modal) %}
{% set modal = modal | default(feedback.modal) %}
{% set popover = popover | default(feedback.popover) %}
{% set progress = progress | default(feedback.progress) %}
{% set spinner = spinner | default(feedback.spinner) %}
{% set toast = toast | default(feedback.toast) %}
{% set tooltip = tooltip | default(feedback.tooltip) %}

{% set avatar = avatar | default(element.avatar) %}
{% set badge = badge | default(element.badge) %}
{% set button = button | default(element.button) %}
{% set datetime = datetime | default(element.datetime) %}
{% set divider = divider | default(element.divider) %}
{% set heading = heading | default(element.heading) %}
{% set icon = icon | default(element.icon) %}
{% set image = image | default(element.image) %}
{% set link = link | default(element.link) %}
{% set tag = tag | default(element.tag) %}
{% set text = text | default(element.text) %}
{% set video = video | default(element.video) %}
{% set breadcrumb_divider = breadcrumb_divider | default(element.breadcrumb_divider) %}

{% set chart = chart | default(data.chart) %}
{% set code = code | default(data.code) %}
{% set definition_list = definition_list | default(data.definition_list) %}
{% set table = table | default(data.table) %}
{% set table_body = table_body | default(data.table_body) %}
{% set table_cell = table_cell | default(data.table_cell) %}
{% set table_head = table_head | default(data.table_head) %}
{% set table_row = table_row | default(data.table_row) %}

{% set autocomplete = autocomplete | default(_form.autocomplete) %}
{% set checkbox = checkbox | default(_form.checkbox) %}
{% set extra_field = extra_field | default(_form.extra_field) %}
{% set extra_field_multiplicator = extra_field_multiplicator | default(_form.extra_field_multiplicator) %}
{% set extra_fields_collection = extra_fields_collection | default(_form.extra_fields_collection) %}
{% set field_errors = field_errors | default(_form.field_errors) %}
{% set file_input = file_input | default(_form.file_input) %}
{% set form = form | default(_form.form) %}
{% set form_actions = form_actions | default(_form.form_actions) %}
{% set form_end = form_end | default(_form.form_end) %}
{% set form_errors = form_errors | default(_form.form_errors) %}
{% set form_start = form_start | default(_form.form_start) %}
{% set hidden_input = hidden_input | default(_form.hidden_input) %}
{% set input = input | default(_form.input) %}
{% set markdown = markdown | default(_form.markdown) %}
{% set radio = radio | default(_form.radio) %}
{% set range_input = range_input | default(_form.range_input) %}
{% set select = select | default(_form.select) %}
{% set select_box = select_box | default(_form.select_box) %}
{% set select_option = select_option | default(_form.select_option) %}
{% set submit = submit | default(_form.submit) %}
{% set textarea = textarea | default(_form.textarea) %}

{% set panel_handle = panel_handle | default(_handle.panel_handle) %}
{% set modal_handle = modal_handle | default(_handle.modal_handle) %}
{% set popover_handle = popover_handle | default(_handle.popover_handle) %}
{% set modal_close_handle = modal_close_handle | default(_handle.modal_close_handle) %}
{% set tab_handle = tab_handle | default(_handle.tab_handle) %}

{% set account = account | default(meta.account) %}
{% set footer = footer | default(meta.footer) %}
{% set header = header | default(meta.header) %}
{% set subtitle_item = subtitle_item | default(meta.subtitle_item) %}

{% set account_nav_item = account_nav_item | default(_nav.account_nav_item) %}
{% set breadcrumb = breadcrumb | default(_nav.breadcrumb) %}
{% set content_action = content_action | default(_nav.content_action) %}
{% set content_nav_item = content_nav_item | default(_nav.content_nav_item) %}
{% set dropdown_item = dropdown_item | default(_nav.dropdown_item) %}
{% set main_nav_item = main_nav_item | default(_nav.main_nav_item) %}
{% set menu_item = menu_item | default(_nav.menu_item) %}
{% set nav_item = nav_item | default(_nav.nav_item) %}
{% set page_action = page_action | default(_nav.page_action) %}
{% set pagination = pagination | default(_nav.pagination) %}

{% set search_active_filters = search_active_filters | default(_search.search_active_filters) %}
{% set search_advanced_controls = search_advanced_controls | default(_search.search_advanced_controls) %}
{% set search_form_box = search_form_box | default(_search.search_form_box) %}
{% set search_form = search_form | default(_search.search_form) %}
{% set search_input = search_input | default(_search.search_input) %}
{% set search_results_header = search_results_header | default(_search.search_results_header) %}
{% set search_sort_control = search_sort_control | default(_search.search_sort_control) %}
{% set search_submit_button = search_submit_button | default(_search.search_submit_button) %}
{% set search_pagination_info = search_pagination_info | default(_search.search_pagination_info) %}
