{% import "macros/ui/component.html" as component with context  %}
{% import "macros/ui/container.html" as _container with context  %}
{% import "macros/ui/data.html" as data with context %}
{% import "macros/ui/element.html" as element with context  %}
{% import "macros/ui/feedback.html" as feedback with context %}
{% import "macros/ui/form.html" as _form with context %}
{% import "macros/ui/meta.html" as meta with context %}
{% import "macros/ui/misc.html" as misc with context %}
{% import "macros/ui/nav.html" as _nav with context %}
{% import "macros/ui/search.html" as _search with context %}

{% set activity_item = activity_item | default(component.activity_item) %}
{% set activity_stream = activity_stream | default(component.activity_stream) %}
{% set facet_group = facet_group | default(component.facet_group) %}
{% set facet_item = facet_item | default(component.facet_item) %}
{% set facet_list = facet_list | default(component.facet_list) %}
{% set group_item = group_item | default(component.group_item) %}
{% set group_list = group_list | default(component.group_list) %}
{% set license = license | default(component.license) %}
{% set organization_item = organization_item | default(component.organization_item) %}
{% set organization_list = organization_list | default(component.organization_list) %}
{% set package_item = package_item | default(component.package_item) %}
{% set package_list = package_list | default(component.package_list) %}
{% set resource_item = resource_item | default(component.resource_item) %}
{% set resource_list = resource_list | default(component.resource_list) %}
{% set user_item = user_item | default(component.user_item) %}
{% set user_list = user_list | default(component.user_list) %}

{% set accordion_item = accordion_item | default(_container.accordion_item) %}
{% set accordion_wrapper = accordion_wrapper | default(_container.accordion_wrapper) %}
{% set card = card | default(_container.card) %}
{% set column = column | default(_container.column) %}
{% set container = container | default(_container.container) %}
{% set grid = grid | default(_container.grid) %}
{% set listing = listing | default(_container.listing) %}
{% set listing_item = listing_item | default(_container.listing_item) %}
{% set panel = panel | default(_container.panel) %}
{% set panel_handle = panel_handle | default(_container.panel_handle) %}
{% set panel_wrapper = panel_wrapper | default(_container.panel_wrapper) %}
{% set section = section | default(_container.section) %}
{% set sidebar_section = sidebar_section | default(_container.sidebar_section) %}

{% set chart = chart | default(data.chart) %}
{% set code_block = code_block | default(data.code_block) %}
{% set definition_list = definition_list | default(data.definition_list) %}
{% set list_group = list_group | default(data.list_group) %}
{% set stat = stat | default(data.stat) %}
{% set table = table | default(data.table) %}
{% set table_body = table_body | default(data.table_body) %}
{% set table_cell = table_cell | default(data.table_cell) %}
{% set table_head = table_head | default(data.table_head) %}
{% set table_row = table_row | default(data.table_row) %}

{% set avatar = avatar | default(element.avatar) %}
{% set badge = badge | default(element.badge) %}
{% set button = button | default(element.button) %}
{% set button_group = button_group | default(element.button_group) %}
{% set divider = divider | default(element.divider) %}
{% set heading = heading | default(element.heading) %}
{% set image = image | default(element.image) %}
{% set link = link | default(element.link) %}
{% set tag = tag | default(element.tag) %}
{% set text = text | default(element.text) %}
{% set video = video | default(element.video) %}

{% set alert = alert | default(feedback.alert) %}
{% set confirm_modal = confirm_modal | default(feedback.confirm_modal) %}
{% set modal = modal | default(feedback.modal) %}
{% set modal_close = modal_close | default(feedback.modal_close) %}
{% set modal_handle = modal_handle | default(feedback.modal_handle) %}
{% set popover_content = popover_content | default(feedback.popover_content) %}
{% set popover_handle = popover_handle | default(feedback.popover_handle) %}
{% set progress = progress | default(feedback.progress) %}
{% set spinner = spinner | default(feedback.spinner) %}
{% set toast = toast | default(feedback.toast) %}
{% set tooltip = tooltip | default(feedback.tooltip) %}

{% set autocomplete = autocomplete | default(_form.autocomplete) %}
{% set checkbox = checkbox | default(_form.checkbox) %}
{% set extra_field = extra_field | default(_form.extra_field) %}
{% set extra_field_multiplicator = extra_field_multiplicator | default(_form.extra_field_multiplicator) %}
{% set extra_fields_collection = extra_fields_collection | default(_form.extra_fields_collection) %}
{% set field_errors = field_errors | default(_form.field_errors) %}
{% set file_input = file_input | default(_form.file_input) %}
{% set form = form | default(_form.form) %}
{% set form_actions = form_actions | default(_form.form_actions) %}
{% set form_block = form_block | default(_form.form_block) %}
{% set form_end = form_end | default(_form.form_end) %}
{% set form_errors = form_errors | default(_form.form_errors) %}
{% set form_start = form_start | default(_form.form_start) %}
{% set hidden_input = hidden_input | default(_form.hidden_input) %}
{% set input = input | default(_form.input) %}
{% set markdown = markdown | default(_form.markdown) %}
{% set radio = radio | default(_form.radio) %}
{% set range_input = range_input | default(_form.range_input) %}
{% set select = select | default(_form.select) %}
{% set select_block = select_block | default(_form.select_block) %}
{% set select_option = select_option | default(_form.select_option) %}
{% set submit = submit | default(_form.submit) %}
{% set textarea = textarea | default(_form.textarea) %}

{% set account_block = account_block | default(meta.account_block) %}
{% set footer_block = footer_block | default(meta.footer_block) %}
{% set header_block = header_block | default(meta.header_block) %}
{% set subtitle_item = subtitle_item | default(meta.subtitle_item) %}

{% set datetime = datetime | default(misc.datetime) %}
{% set pagination_info = pagination_info | default(misc.pagination_info) %}

{% set account_nav_item = account_nav_item | default(_nav.account_nav_item) %}
{% set account_nav_wrapper = account_nav_wrapper | default(_nav.account_nav_wrapper) %}
{% set breadcrumb_divider = breadcrumb_divider | default(_nav.breadcrumb_divider) %}
{% set breadcrumb_item = breadcrumb_item | default(_nav.breadcrumb_item) %}
{% set breadcrumb_wrapper = breadcrumb_wrapper | default(_nav.breadcrumb_wrapper) %}
{% set content_action_item = content_action_item | default(_nav.content_action_item) %}
{% set content_action_wrapper = content_action_wrapper | default(_nav.content_action_wrapper) %}
{% set content_nav_item = content_nav_item | default(_nav.content_nav_item) %}
{% set content_nav_wrapper = content_nav_wrapper | default(_nav.content_nav_wrapper) %}
{% set dropdown_item = dropdown_item | default(_nav.dropdown_item) %}
{% set dropdown_wrapper = dropdown_wrapper | default(_nav.dropdown_wrapper) %}
{% set main_nav_item = main_nav_item | default(_nav.main_nav_item) %}
{% set main_nav_wrapper = main_nav_wrapper | default(_nav.main_nav_wrapper) %}
{% set menu_item = menu_item | default(_nav.menu_item) %}
{% set menu_wrapper = menu_wrapper | default(_nav.menu_wrapper) %}
{% set nav_item = nav_item | default(_nav.nav_item) %}
{% set nav_wrapper = nav_wrapper | default(_nav.nav_wrapper) %}
{% set page_action_item = page_action_item | default(_nav.page_action_item) %}
{% set page_action_wrapper = page_action_wrapper | default(_nav.page_action_wrapper) %}
{% set pagination = pagination | default(_nav.pagination) %}
{% set tab_item = tab_item | default(_nav.tab_item) %}
{% set tab_wrapper = tab_wrapper | default(_nav.tab_wrapper) %}

{% set search_active_filters = search_active_filters | default(_search.search_active_filters) %}
{% set search_advanced_controls = search_advanced_controls | default(_search.search_advanced_controls) %}
{% set search_form = search_form | default(_search.search_form) %}
{% set search_input = search_input | default(_search.search_input) %}
{% set search_results_header = search_results_header | default(_search.search_results_header) %}
{% set search_sort_control = search_sort_control | default(_search.search_sort_control) %}
{% set search_submit_button = search_submit_button | default(_search.search_submit_button) %}
