{%- macro organization_form(data={}, errors={}, action='new') %}
    {{ ui.form_block(method="POST", action=action, class="organization-form") }}
        {{ ui.input("name", "field-name", label=_('Name'), value=data.name, error=errors.name, required=true, class="mb-3") }}
        {{ ui.input("title", "field-title", label=_('Title'), value=data.title, error=errors.title, class="mb-3") }}
        {{ ui.textarea("description", "field-description", label=_('Description'), value=data.description, error=errors.description, class="mb-3") }}
        {%- if data.image_url or data.clear_upload %}
            {{ ui.input("image_url", "field-image-url", label=_('Image URL'), value=data.image_url, error=errors.image_url, class="mb-3") }}
            {{ ui.checkbox("clear_upload", "field-clear-upload", label=_('Remove image'), value="true", checked=data.clear_upload, class="mb-3") }}
        {%- else %}
            {{ ui.input("image_url", "field-image-upload", label=_('Image'), type="file", error=errors.image_url, class="mb-3") }}
        {%- endif %}

        {{ ui.form_actions_wrapper(
            ui.button(_('Save Organization'), type="submit", style="primary") ~
            ui.button(_('Cancel'), type="button", href=h.url_for('organization.index'), style="secondary")
        ) }}
    {{ ui.form_end() }}
{%- endmacro %}
