{% extends "page.html" %}

{% block subtitle -%}
    {{ ui.subtitle_item(_("Confirm Delete")) }}
    {{- super() }}
{%- endblock %}

{% block maintag -%}
    <div class="row" role="main">
{%- endblock %}

{% block main_content %}
    {%- call ui.util.call(ui.column, size={"md": 6}, offset={"md": 3}) -%}
        <section class="module">
            <div class="module-content">
                {%- block form -%}
                    <p>{{ _(messages.confirm[ent_type]) }}</p>
                    <p class="form-actions">
                        {%- call ui.util.call(ui.form, method="POST", action=h.url_for('admin.trash')) -%}
                            {{ ui.button(_('Cancel'), style="danger", type="submit", attrs={"name": "cancel"}) }}
                            {{ ui.button(_('Confirm Delete'), type="submit", attrs={"name": "action", "value": ent_type}) }}
                        {%- endcall %}
                    </p>
                {%- endblock -%}
            </div>
        </section>
    {%- endcall %}
{% endblock %}
