{% extends "package/_base.html" %}
{%- set _layout = _layout|default("sidebar") -%}

{%- block page_action %}
    {{ ui.link(_('Add Dataset'), href=h.url_for('dataset.new')) if h.check_access('package_create') }}
{%- endblock %}


{%- block primary_content_inner %}
    {%- with dataset_type=dataset_type, fields_grouped=fields_grouped, search_facets=search_facets, facet_titles=facet_titles, translated_fields=translated_fields, remove_field=remove_field, q=q, sort_by_selected=sort_by_selected, page=page, query_error=query_error, fields=fields -%}
        {% include "package/snippets/_search_results.html" %}
    {%- endwith %}

{%- endblock %}

{%- block secondary_content -%}
    {%- with facet_titles=facet_titles, search_facets=search_facets -%}
        {%- include "package/snippets/_search_facets.html" -%}
    {%- endwith %}
{%- endblock %}
