{% extends "page.html" %}

{%- block subtitle %}{{ h.humanize_entity_type('package', dataset_type, 'page title') or _('Datasets') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('package', dataset_type, 'breadcrumb') or _('Datasets'), h.url_for('dataset.search')) }}
    {{ ui.breadcrumb_item(_('Search Datasets'), h.url_for('dataset.search')) }}
{%- endblock -%}

{%- block primary_content %}
    <section class="card">
        {%- block primary_content_inner %}{% endblock -%}
    </section>
{%- endblock -%}

{%- block secondary_content %}
    <section class="card">
        <header>
            <h5>{{ _('Filter Results') }}</h5>
        </header>
        <div>
            {%- block dataset_search_filters %}
                {% for facet in facet_titles %}
                    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet) }}
                {% endfor %}
            {%- endblock %}
        </div>
    </section>
{%- endblock -%}
