{% extends "layout.html" %}
{% set _layout = "fullwidth" %}

{%- block breadcrumb_content %}
    {{ super() }}
    {%- if pkg_dict.organization %}
        {%- with group_dict=pkg_dict.organization %}
            {{ ui.breadcrumb_item(h.humanize_entity_type('organization', group_dict.type, 'breadcrumb') or _('Organizations'), h.url_for(group_dict.type ~ '.index')) }}
            {{ ui.breadcrumb_item(group_dict.title or group_dict.name, h.url_for(group_dict.type ~ ".read", id=group_dict.name)) }}
        {%- endwith%}

    {%- else %}
        {{ ui.breadcrumb_item(h.humanize_entity_type("package", dataset_type, "breadcrumb") or _("Datasets"), h.url_for("dataset.search")) }}

    {%- endif %}
    {{ ui.breadcrumb_item(pkg_dict.title, h.url_for("dataset.read", id=pkg_dict.name)) }}

{%- endblock %}

{%- block primary_content %}
    <div class="grid">
        <div class="col-md-8">
            {{ ui.heading(pkg_dict.title or pkg_dict.name, level=1, class="mb-3") }}

            {%- if pkg_dict.tags %}
                <div class="mb-3">
                    {%- for tag in pkg_dict.tags %}
                        {{ ui.tag(tag.display_name, id=tag.name, href=h.url_for('dataset.search', tags=tag.name), class="me-1 mb-1") }}
                    {%- endfor %}
                </div>
            {%- endif %}
        </div>
    </div>

    <div class="grid">
        <div class="col-md-8">
            {%- block primary_content_inner %}{% endblock -%}
        </div>
        <div class="col-md-4">
            {%- block secondary_content %}
                <section class="card mb-3">
                    <header>
                        <h5>{{ _('Dataset Actions') }}</h5>
                    </header>
                    <div>
                        <div class="grid">
                            {%- if h.check_access('package_update', {'id':pkg_dict.id }) %}
                                {{ ui.button(_('Edit Dataset'), href=h.url_for('dataset.edit', id=pkg_dict.name), class="contrast w-100") }}
                            {%- endif %}
                            {%- if h.check_access('package_delete', {'id':pkg_dict.id }) %}
                                {{ ui.button(_('Delete Dataset'), href=h.url_for('dataset.delete', id=pkg_dict.name), class="outline w-100") }}
                            {%- endif %}
                        </div>
                    </div>
                </section>

                <section class="card">
                    <header>
                        <h5>{{ _('Dataset Information') }}</h5>
                    </header>
                    <div>
                        <ul>
                            {%- if pkg_dict.author %}
                                <li>
                                    <strong>{{ _('Author') }}:</strong> {{ pkg_dict.author }}
                                </li>
                            {%- endif %}
                            {%- if pkg_dict.maintainer %}
                                <li>
                                    <strong>{{ _('Maintainer') }}:</strong> {{ pkg_dict.maintainer }}
                                </li>
                            {%- endif %}
                            {%- if pkg_dict.version %}
                                <li>
                                    <strong>{{ _('Version') }}:</strong> {{ pkg_dict.version }}
                                </li>
                            {%- endif %}
                            {%- if pkg_dict.metadata_created %}
                                <li>
                                    <strong>{{ _('Created') }}:</strong> {{ ui.datetime(pkg_dict.metadata_created) }}
                                </li>
                            {%- endif %}
                            {%- if pkg_dict.metadata_modified %}
                                <li>
                                    <strong>{{ _('Last Updated') }}:</strong> {{ ui.datetime(pkg_dict.metadata_modified) }}
                                </li>
                            {%- endif %}
                        </ul>
                    </div>
                </section>
            {%- endblock %}
        </div>
    </div>
{%- endblock -%}
