{% extends "_layout.html" %}
{%- set _layout = _layout|default("right_sidebar") -%}


{%- block subtitle %}
    {{ ui.subtitle_item(h.dataset_display_name(pkg_dict)) if pkg_dict }}
    {{ ui.subtitle_item(h.humanize_entity_type('package', pkg_dict.type if pkg_dict else dataset_type or 'dataset',  'page title') or _('Datasets')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content %}
    {%- if pkg_dict and pkg_dict.organization -%}
        {%- with group_dict=pkg_dict.organization %}
            {{ ui.breadcrumb_item(h.humanize_entity_type('organization', group_dict.type, 'breadcrumb') or _('Organizations'), h.url_for(group_dict.type ~ '.index')) }}
            {{ ui.breadcrumb_item(group_dict.title or group_dict.name, h.url_for(group_dict.type ~ ".read", id=group_dict.name)) }}
        {%- endwith%}

    {%- else -%}
        {{ ui.breadcrumb_item(h.humanize_entity_type('package', dataset_type, 'breadcrumb') or _('Datasets'), h.url_for(dataset_type ~ '.search')) }}
    {%- endif %}

    {{ ui.breadcrumb_item(pkg_dict.title, h.url_for("dataset.read", id=pkg_dict.name)) if pkg_dict }}
{%- endblock %}

{%- block content_action %}
    {{ ui.content_action_item(_("Manange"), href=h.url_for(pkg_dict.type ~ ".edit", id=pkg_dict.name)) if pkg_dict and h.check_access('package_update', {'id': pkg_dict.id }) }}
{% endblock -%}

{%- block content_nav %}
    {%- if pkg_dict -%}
        {{ ui.content_nav_item(_("Details"), h.url_for(pkg_dict.type ~ ".read", id=pkg_dict.name), active=request.endpoint == pkg_dict.type~".read") }}
        {{ ui.content_nav_item(_("Activity Stream"), h.url_for("activity.package_activity", id=pkg_dict.name), active=request.endpoint == "activity.package_activity") if h.plugin_loaded("activity")}}
    {%- endif %}

{% endblock -%}


{%- block secondary_content -%}
    {%- if pkg_dict -%}
        {%- block package_info -%}
            {%- with pkg=pkg_dict -%}
                {%- include "package/snippets/info.html" -%}
            {%- endwith %}
        {%- endblock package_info %}

        {%- block package_sidebar_resources -%}
            {%- call ui.util.call(ui.sidebar_section, title=_("Resources")) -%}
                {%- call ui.util.call(ui.list) -%}
                    {%- if pkg_dict.resources %}
                        {%- for res in pkg_dict.resources[:5] %}
                            {{ ui.link(res.name or _('Unnamed resource'), h.url_for(pkg_dict.type ~ "_resource.read", id=pkg_dict.name, resource_id=res.id)) }}
                        {%- endfor %}

                    {%- else %}
                        <p>{{ _('No resources') }}</p>

                    {%- endif %}
                {%- endcall %}
            {%- endcall %}
        {%- endblock %}

    {%- endif %}
{%- endblock %}
