{% extends "package/_base.html" %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(_("Edit"), h.url_for(pkg_dict.type ~ ".edit", id=pkg_dict.name)) if pkg_dict }}
{%- endblock %}

{%- block content_nav %}
    {%- if pkg_dict -%}
        {{ ui.content_nav_item(_("Edit"), h.url_for(pkg_dict.type ~ ".edit", id=pkg_dict.name), active=request.endpoint == pkg_dict.type ~ ".edit") }}
        {{ ui.content_nav_item(_('Reorder resources'), h.url_for(pkg_dict.type ~ '.resources', id=pkg_dict.name), active=request.endpoint == pkg_dict.type ~ ".resources") }}

        {%- if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_create', {'id': pkg_dict.id}) %}
            {{ ui.content_nav_item(_('Collaborators'), href=h.url_for(pkg_dict.type ~ '.collaborators_read', id=pkg_dict.name), active=request.endpoint == pkg_dict.type ~ ".collaborators_read") }}
        {%- endif %}
    {%- endif %}
{%- endblock %}
