{% extends "package/_edit_base.html" %}

{%- block subtitle -%}
    {{ _("Edit") }} {{ g.template_title_delimiter }} {{ super() }}
{%- endblock %}


{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(_("Edit"), h.url_for(pkg_dict.type ~ ".edit", id=pkg_dict.name)) if pkg_dict }}
{%- endblock %}

{%- block primary_content_inner %}
    {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
{%- endblock %}


{%- block secondary_content %}
    {{ ui.heading(_('Resources'), level=2) }}
    {%- call ui.util.call(ui.listing) -%}
        {%- if pkg_dict.resources %}
            {%- for resource in pkg_dict.resources[:5] %}
                {{ ui.link(resource.name or _('Unnamed resource'), h.url_for(pkg_dict.type ~ "_resource.edit", id=pkg_dict.name, resource_id=resource.id)) }}
            {%- endfor %}

        {%- else %}
            <p>{{ _('No resources') }}</p>
        {%- endif %}
    {%- endcall %}

{%- endblock %}
