{% extends "package/base.html" %}

{%- block breadcrumb_content %}
    {{ super() }}
    {%- if pkg %}
        {{ ui.breadcrumb_item(_('Edit'), h.url_for(pkg.type ~ '.edit', id=pkg.name)) }}
    {%- endif %}
{%- endblock %}

{%- block content_action %}
    {{ ui.button(h.humanize_entity_type('package', pkg.type, 'view label') or _('View dataset'),
                 href=h.url_for(pkg.type ~ '.read', id=pkg.name),
                 attrs={"class": "btn btn-secondary"}) }}
{%- endblock %}

{%- block content_nav %}
    <nav class="content-nav">
        {{ ui.nav_item(_('Edit metadata'), href=h.url_for(pkg.type ~ '.edit', id=pkg.name)) }}
        {{ ui.nav_item(_('Reorder resources'), href=h.url_for(pkg.type ~ '.resources', id=pkg.name)) }}
        {%- if h.check_config_permission('allow_dataset_collaborators') and h.check_access('package_collaborator_create', {'id': pkg_dict.id}) %}
            {{ ui.nav_item(_('Collaborators'), href=h.url_for(pkg.type ~ '.collaborators_read', id=pkg.name)) }}
        {%- endif %}
    </nav>
{%- endblock %}

{%- block secondary_content %}
    {%- block info_module %}
        {%- if pkg %}
            <section class="module module-narrow module-shallow">
                <h2>{{ pkg.title or pkg.name }}</h2>
                <div class="module-content">
                    {%- if pkg.notes %}
                        <p>{{ h.markdown_extract(pkg.notes, 180) }}</p>
                    {%- endif %}
                </div>
            </section>
        {%- endif %}
    {%- endblock %}

    {%- block resources_module %}
        {%- if pkg %}
            <section class="module module-narrow module-shallow">
                <h2>{{ _('Resources') }}</h2>
                <div class="module-content">
                    {%- if pkg.resources %}
                        <ul>
                            {%- for resource in pkg.resources[:5] %}
                                <li>{{ resource.name or resource.description or _('Unnamed resource') }}</li>
                            {%- endfor %}
                        </ul>
                    {%- else %}
                        <p>{{ _('No resources') }}</p>
                    {%- endif %}
                </div>
            </section>
        {%- endif %}
    {%- endblock %}
{%- endblock %}
