{% extends "package/_resource_edit_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Edit view') if resource_view.id else _('Add view')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {%- if resource_view.id -%}
        {{ ui.breadcrumb_item(_('Edit view'), h.url_for(pkg_dict.type ~ '_resource.edit_view', id=pkg_dict.name, resource_id=resource.id, view_id=resource_view.id)) }}

    {%- else -%}
        {{ ui.breadcrumb_item(_('Add view'), h.url_for(pkg_dict.type ~ '_resource.edit_view', id=pkg_dict.name, resource_id=resource.id, view_type=resource_view.view_type)) }}

    {%- endif %}
{%- endblock %}

{%- block content_action -%}
    {{ ui.content_action_item(_('All views'), h.url_for(pkg_dict.type ~ '_resource.views', id=pkg_dict.name, resource_id=resource.id)) }}
    {{ ui.content_action_item(_('View view'), h.url_for(pkg_dict.type ~ '_resource.read', id=pkg_dict.name, resource_id=resource.id, view_id=resource_view.id)) if resource_view.id }}
{%- endblock %}


{%- block primary_content_inner -%}
    {%- call ui.util.call(ui.form, method="POST") -%}

        {{ ui.form_errors(error_summary) }}

        {{ ui.input(name='title', label=_('Title'), placeholder=_('eg. My View'), value=data.title, errors=errors.title, required=true) }}
        {{ ui.markdown(name='description', label=_('Description'), placeholder=_('eg. Information about my view'), value=data.description, errors=errors.description) }}
        {{ ui.hidden_input(name='view_type', value=resource_view.view_type) }}

        {# form template is defined in ResouceView extension point #}
        {% if form_template %}
            {% include form_template %}
        {% endif %}

        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.button(_('Preview'), type="submit", attrs={"value": true, "name": "preview"}) if h.resource_view_display_preview(data) }}
            {{ ui.button(_('Update') if resource_view.id else _("Add"), type="submit", attrs={"name": "save", "value": "Save"}) }}
        {%- endcall %}
    {%- endcall %}

    {% if to_preview and h.resource_view_display_preview(resource_view) %}
        <div>
            {{ ui.heading(_('View preview'), level=2) }}
            {%- with resource_view=resource_view, resource=resource, package=package, to_preview=True -%}
                {% include 'package/snippets/_resource_view.html' %}
            {%- endwith %}

        </div>
    {% endif %}


{%- endblock %}
