{% extends "package/_base.html" %}

{%- block primary_content_inner %}

    {%- block page_heading -%}
        {%- call ui.util.call(ui.heading, level=1) -%}
            {{ pkg_dict.title or pkg_dict.name }}
            {{ ui.badge(_("Private")) if pkg_dict.private }}
            {{ ui.badge(_("Draft")) if pkg_dict.state == "draft" }}
            {{ ui.badge(_("Deleted")) if pkg_dict.state == "deleted" }}
        {%- endcall %}
    {%- endblock %}

    {%- block package_tags -%}
        {%- if pkg_dict.tags %}
            <div>
                {%- for tag  in pkg_dict.tags %}
                    {{ ui.tag(tag.display_name) }}
                {%- endfor %}
            </div>
        {%- endif %}
    {%- endblock %}

    {%- call ui.util.call(ui.accordion_wrapper) %}

        {%- block package_resources -%}
            {%- if pkg_dict.resources %}
                {%- call ui.util.call(ui.accordion, title=_("Resources")) %}
                    {{ ui.resource_wrapper(ui.util.map(ui.resource, pkg_dict.resources)) }}
                {%- endcall %}
            {%- endif %}
        {%- endblock %}

        {%- block package_additional_info -%}
            {%- call ui.util.call(ui.accordion, title=_("Additional details")) %}

                {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
                    {{ ui.table_head(ui.table_row(ui.util.map(ui.table_cell, [_("Field"), _("Value")], header=true))) }}

                    {%- call ui.util.call(ui.table_body) -%}
                        {%- if pkg_dict.url %}
                            {{ ui.table_row(ui.table_cell(_('Source'), header=true) ~ ui.table_cell(ui.link(pkg_dict.url))) }}
                        {%- endif %}

                        {%- if pkg_dict.author_email %}
                            {{ ui.table_row(ui.table_cell(_("Author"), header=true) ~ ui.table_cell(h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author))) }}

                        {%- elif pkg_dict.author %}
                            {{ ui.table_row(ui.table_cell(_("Author"), header=true) ~ ui.table_cell(pkg_dict.author)) }}
                        {%- endif %}

                        {%- if pkg_dict.maintainer_email %}
                            {{ ui.table_row(ui.table_cell(_('Maintainer'), header=true) ~ ui.table_cell(h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer))) }}

                        {%- elif pkg_dict.maintainer %}
                            {{ ui.table_row(ui.table_cell(_('Maintainer'), header=true) ~ ui.table_cell(pkg_dict.maintainer)) }}
                        {%- endif %}

                        {%- if pkg_dict.version %}
                            {{ ui.table_row(ui.table_cell(_("Version"), header=true) ~ ui.table_cell(pkg_dict.version)) }}
                        {%- endif %}

                        {%- if h.check_access('package_update',{'id':pkg_dict.id}) %}
                            {{ ui.table_row(ui.table_cell(_("State"), header=true) ~ ui.table_cell(_(pkg_dict.state))) }}
                        {%- endif %}

                        {%- if pkg_dict.metadata_modified %}
                            {{ ui.table_row(ui.table_cell(_("Last Updated"), header=true) ~ ui.table_cell(ui.datetime(pkg_dict.metadata_modified))) }}
                        {%- endif %}

                        {%- if pkg_dict.metadata_created %}
                            {{ ui.table_row(ui.table_cell(_("Created"), header=true) ~ ui.table_cell(ui.datetime(pkg_dict.metadata_created))) }}
                        {%- endif %}

                        {%- block extras scoped %}
                            {%- for extra in h.sorted_extras(pkg_dict.extras) %}
                                {% set key, value = extra %}
                                {{ ui.table_row(ui.table_cell(_(key|e), header=true) ~ ui.table_cell(value)) }}
                            {%- endfor %}
                        {%- endblock %}

                    {%- endcall %}

                {%- endcall %}


            {%- endcall %}
        {%- endblock %}

    {%- endcall %}

    {%- block package_notes -%}
        {%- if pkg_dict.notes %}
            {{ ui.text(h.render_markdown(pkg_dict.notes)) }}
        {%- endif %}
    {%- endblock %}


{%- endblock %}
