{% extends "_layout.html" %}
{% set _layout = "fullwidth" %}

{%- block breadcrumb_content %}
    {{ super() }}
    {%- if pkg_dict.organization %}
        {%- with group_dict=pkg_dict.organization %}
            {{ ui.breadcrumb_item(h.humanize_entity_type('organization', group_dict.type, 'breadcrumb') or _('Organizations'), h.url_for(group_dict.type ~ '.index')) }}
            {{ ui.breadcrumb_item(group_dict.title or group_dict.name, h.url_for(group_dict.type ~ ".read", id=group_dict.name)) }}
        {%- endwith%}

    {%- else %}
        {{ ui.breadcrumb_item(h.humanize_entity_type("package", dataset_type, "breadcrumb") or _("Datasets"), h.url_for("dataset.search")) }}

    {%- endif %}
    {{ ui.breadcrumb_item(pkg_dict.title, h.url_for("dataset.read", id=pkg_dict.name)) }}

{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(pkg_dict.title or pkg_dict.name, level=1) }}

    {%- if pkg_dict.tags %}
        <div>
            {%- for tag  in pkg_dict.tags %}
                {{ ui.tag(tag.display_name) }}
            {%- endfor %}
        </div>
    {%- endif %}

    {%- call ui.util.call(ui.accordion_wrapper) %}

        {%- if pkg_dict.resources %}
            {%- call ui.accordion_item(_("Resources")) %}
                {%- for res in pkg_dict.resources %}
                    {{ ui.resource_item(res) }}
                {%- endfor %}
            {%- endcall %}
        {%- endif %}

        {%- call ui.accordion_item(_("Additional details")) %}

            {%- call ui.util.call(ui.table, bordered=true, striped=true) -%}
                {{ ui.table_head(ui.table_row(cells=[_("Field"), _("Value")], heading=true)) }}

                {%- call ui.util.call(ui.table_body) -%}
                    {%- if pkg_dict.url %}
                        {{ ui.table_row(ui.table_cell(_('Source'), heading=true) ~ ui.table_cell(ui.link(pkg_dict.url))) }}
                    {%- endif %}

                    {%- if pkg_dict.author_email %}
                        {{ ui.table_row(ui.table_cell(_("Author"), heading=true) ~ ui.table_cell(h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author))) }}

                    {%- elif pkg_dict.author %}
                        {{ ui.table_row(ui.table_cell(_("Author"), heading=true) ~ ui.table_cell(pkg_dict.author)) }}
                    {%- endif %}

                    {%- if pkg_dict.maintainer_email %}
                        {{ ui.table_row(ui.table_cell(_('Maintainer'), heading=true) ~ ui.table_cell(h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer))) }}

                    {%- elif pkg_dict.maintainer %}
                        {{ ui.table_row(ui.table_cell(_('Maintainer'), heading=true) ~ ui.table_cell(pkg_dict.maintainer)) }}
                    {%- endif %}

                    {%- if pkg_dict.version %}
                        {{ ui.table_row(ui.table_cell(_("Version"), heading=true) ~ ui.table_cell(pkg_dict.version)) }}
                    {%- endif %}

                    {%- if h.check_access('package_update',{'id':pkg_dict.id}) %}
                        {{ ui.table_row(ui.table_cell(_("State"), heading=true) ~ ui.table_cell(_(pkg_dict.state))) }}
                    {%- endif %}

                    {%- if pkg_dict.metadata_modified %}
                        {{ ui.table_row(ui.table_cell(_("Last Updated"), heading=true) ~ ui.table_cell(ui.datetime(pkg_dict.metadata_modified))) }}
                    {%- endif %}

                    {%- if pkg_dict.metadata_created %}
                        {{ ui.table_row(ui.table_cell(_("Created"), heading=true) ~ ui.table_cell(ui.datetime(pkg_dict.metadata_created))) }}
                    {%- endif %}

                    {%- block extras scoped %}
                        {%- for extra in h.sorted_extras(pkg_dict.extras) %}
                            {% set key, value = extra %}
                            {{ ui.table_row(ui.table_cell(_(key|e), heading=true) ~ ui.table_cell(value)) }}
                        {%- endfor %}
                    {%- endblock %}

                {%- endcall %}

        {%- endcall %}


        {%- endcall %}
    {%- endcall %}

    {%- if pkg_dict.notes %}
        {{ ui.text(h.render_markdown(pkg_dict.notes)) }}
    {%- endif %}


{%- endblock %}
