{% extends "package/_resource_edit_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('View')) }}
    {{ super() }}
{% endblock %}

{%- block content_action -%}
    {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
        {%- call ui.util.call(ui.dropdown_wrapper, title=_("New view")) -%}
            {% for option in h.get_allowed_view_types(resource, pkg_dict)  %}
                {% set url = h.url_for(pkg_dict.type ~ '_resource.edit_view', id=pkg_dict.name, resource_id=resource.id, view_type=option[0]) %}
                {{ ui.dropdown_item(option[1], href=url) }}
            {% endfor %}

        {%- endcall %}
    {%- endif -%}
{%- endblock %}


{% block primary_content_inner %}
    {% if views %}
        {%- call ui.util.call(ui.list) -%}
            {%- for view in views -%}
                {{ ui.list_item(ui.link(view.title, h.url_for(pkg_dict.type ~ '_resource.edit_view', id=pkg_dict.id, resource_id=resource.id, view_id=view.id))) }}
            {%- endfor %}
        {%- endcall %}

    {% else %}
        <p class="empty">{{ _('This resource has no views') }}</p>

    {% endif %}
{% endblock %}
