{% extends "package/base.html" %}

{%- block page_action %}
    {{ ui.link(_('Add Dataset'), href=h.url_for('dataset.new')) if h.check_access('package_create') }}
{%- endblock %}

{%- block page_header -%}
    {%- set sorting_options = [
            {"text": _('Relevance'), "value": "score desc, metadata_modified desc"},
            {"text": _('Name Ascending'), "value": "title_string asc"},
            {"text": _('Name Descending'), "value": "title_string desc"},
            {"text": _('Last Modified'), "value": "metadata_modified desc"}
    ] %}

    {{ ui.search_form(q, sorting_options=sorting_options, sorting=sort_by_selected, hidden_filters=fields) }}

    {%- call ui.util.call(ui.listing) -%}
        {%- for key, values in fields_grouped.items() -%}
            <div>
                <strong>{{ facet_titles.get(key, key) }}:</strong>
                {%- for value in values %}
                    <del>
                        {%- with label=h.list_dict_filter(search_facets[key]["items"], 'name', 'display_name', value) -%}
                            {{ ui.link(label, h.remove_url_param(key, value)) }}
                        {%- endwith %}
                    </del>
                {% endfor %}
            </div>

        {%- endfor %}
    {%- endcall %}
    <h2>
        {%- if not query_error %}
            {%- if page.item_count %}
                {{ ui.pagination_info(page.first_item, page.last_item, page.item_count) }}
            {%- else %}
                {{ _('No datasets found') }}
            {%- endif %}
        {%- else %}
            {{ _('Error') }}
        {%- endif %}
    </h2>
{%- endblock %}

{%- block primary_content_inner %}

    {%- block package_list %}
        {%- if page.items %}
            {%- call ui.util.call(ui.listing) -%}
                {%- for item in page.items %}
                    {{ ui.package_item(item) }}
                {%- endfor %}
            {%- endcall %}
        {%- else %}
            <p>{{ _('No datasets found.') }}</p>
        {%- endif %}
    {%- endblock %}

    {%- block pagination %}
        {{ ui.pagination(page.page, page.last_page, page._url_generator) }}
    {%- endblock %}
{%- endblock %}

{%- block secondary_content -%}
    {%- for key, facets in search_facets.items() -%}
        {%- call ui.util.call(ui.facet_group, facet_titles.get(key, key)) -%}

            {% set items = h.get_facet_items_dict(key, search_facets) %}
            {%- call ui.util.call(ui.listing) -%}
                {%- for item in items -%}
                    {{ ui.facet_item(key=key, value=item.name, label=item.display_name, count=item.count, active=item.active) }}
                {%- endfor %}
            {%- endcall %}

        {%- endcall %}
    {%- endfor %}
{%- endblock %}
