{%- macro form_block(method="GET", action="", enctype="", include_csrf=true) -%}
    {{ ui.form_start(method, action, enctype, **kwargs) }}
    {{ h.csrf_input() if include_csrf and method|upper != "GET" }}

    {{ caller() }}

    {{ ui.form_end() }}
{%- endmacro %}

{%- macro form_actions_wrapper() -%}
    {{ caller() }}
{%- endmacro %}

{%- macro form_start(method, action="", enctype="") -%}
    <form {{ ui.util.attrs(kwargs) }} method="{{ method }}" action="{{ action }}" enctype="{{ enctype }}">
{%- endmacro %}

{%- macro form_end() -%}
    {%- do kwargs -%}
    </form>
{%- endmacro %}

{%- macro form_errors(errors={}) -%}
    {% if errors %}
        <div>
            <p>{{ _('The form contains invalid entries:') }}</p>
            <ul>
                {% for key, error in errors.items() %}
                    <li>{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{% macro input(name, id, label="", value="", type="text", errors=[], required=false) -%}
    {%- set id = id or "field-" ~ name if name else "" -%}
    {%- if label -%}
        <label for="{{ id }}">{{ label }}</label>
    {%- endif %}
    <input {{ ui.util.attrs(kwargs) }} name="{{ name }}" id="{{ id }}" type="{{ type }}" value="{{ value }}" />
    {%- if errors -%}
        {%- for error in errors -%}
            <span>{{ error }}</span><br/>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{% macro checkbox(name, id, label="", value="on", checked=false, errors=[], required=false) %}
    {{ ui.input(name, id=id, label=label, value=value, type="checkbox", errors=errors, required=required, attrs={"checked": ""}) }}
{% endmacro %}
