{% extends "user/_base.html" %}

{%- block content_action %}
{%- endblock %}

{%- block content_nav %}
    {%- if user_dict -%}
        {{ ui.content_nav_item(_('Profile'), href=h.url_for('user.edit', id=user_dict.name), active=request.endpoint == "user.read") }}
        {{ ui.content_nav_item(_('API Tokens'), href=h.url_for('user.api_tokens', id=user_dict.name), active=request.endpoint == 'user.api_tokens') }}
    {%- endif %}
{%- endblock %}

{%- block primary_content_inner %}
{%- endblock %}
