{% extends "user/read_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('API Tokens')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb_item(_('API Tokens'), h.url_for('user.api_tokens', id=user.name)) }}
{%- endblock %}

{%- block page_action %}
    {{ ui.page_action_item(_('Add API Token'), href=h.url_for('api_token.create', user=user.name)) if h.check_access('api_token_create', {'user': user['name']}) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('API Tokens'), level=2) }}

    {%- block token_list %}
        {{ ui.snippet('user/snippets/api_token_list.html', tokens=tokens, user=user) }}
    {%- endblock %}
{%- endblock %}
