{% extends "user/_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('API Tokens')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_('API Tokens'), h.url_for('user.api_tokens', id=user_dict.name)) }}
{%- endblock %}


{%- block primary_content_inner %}
    {%- call ui.util.call(ui.section, title=_("Create API Token")) -%}
        {%- with data=data, errors=errors, user=user_dict -%}
            {% include 'user/snippets/api_token_create_form.html' %}
        {%- endwith %}
    {%- endcall -%}

    {%- call ui.util.call(ui.section, title=_('API Tokens')) -%}
        {%- block token_list %}
            {%- with tokens=tokens, user=user_dict -%}
                {%- include 'user/snippets/api_token_list.html' -%}
            {%- endwith %}
        {%- endblock %}
    {%- endcall %}


{%- endblock %}
