{% extends "_page.html" %}
{%- block page_layout -%}no-sidebar{%- endblock %}

{%- block subtitle -%}
    {{ ui.subtitle_item(_("Confirm Delete")) }}
    {{- super() }}
{%- endblock %}

{%- block primary_content_inner -%}
    <p>{{ _('Are you sure you want to delete user - {name}?').format(name=user_dict.name) }}</p>

    {%- call ui.util.call(ui.form, method="POST") -%}
        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.button(_("Cancel"), attrs={"name": "cancel"}, type="submit") }}
            {{ ui.button(_("Confirm Delete"), style="danger", attrs={"name": "delete"}, type="submit") }}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}
