{% extends "user/_base.html" %}
{%- set _layout = _layout|default("content_focus") -%}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Dashboard')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(_('Dashboard'), h.url_for('dashboard.datasets')) }}
{%- endblock %}

{%- block content_action %}
{%- endblock %}

{%- block content_nav %}
    {{ ui.content_nav_item(_('News feed'), href=h.url_for('activity.dashboard'), active=request.endpoint=='activity.dashboard') if h.plugin_loaded("activity") }}
    {{ ui.content_nav_item(h.humanize_entity_type('package', dataset_type, 'my label') or _('My Datasets'), href=h.url_for('dashboard.datasets'), active=request.endpoint=='dashboard.datasets') }}
    {{ ui.content_nav_item(h.humanize_entity_type('organization', org_type, 'my label') or _('My Organizations'), href=h.url_for('dashboard.organizations'), active=request.endpoint=='dashboard.organizations') }}
    {{ ui.content_nav_item(h.humanize_entity_type('group', group_type, 'my label') or _('My Groups'), href=h.url_for('dashboard.groups'), active=request.endpoint=='dashboard.groups') }}
{%- endblock %}

{%- block primary_content_inner %}
    {% block dashboard_content %}
        {%- if h.plugin_loaded("activity") -%}
            {% include 'user/snippets/news_feed.html' %}
        {%- endif %}
    {% endblock %}
{%- endblock %}
