{% extends "user/_base.html" %}

{%- block subtitle -%}
    {{ ui.subtitle_item(_('Followers')) }}
    {{- super() }}
{%- endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Followers"), h.url_for('user.followers', id=user_dict.name)) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('Followers'), level=1) }}

    {%- block followers_list -%}
        {%- if followers -%}
            {%- call ui.util.call(ui.user_list) -%}
                {%- for user in followers -%}
                    {{ ui.user(user=user) }}
                {%- endfor %}
            {%- endcall %}

        {%- else -%}
            <p>{{ _('No followers') }}</p>

        {%- endif %}
    {%- endblock %}

{%- endblock %}
