{% extends "user/_base.html" %}

{%- block subtitle %}
    {{ ui.subtitle_item(_('Login')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ super() }}
    {{ ui.breadcrumb_item(_('Login'), href=h.url_for("user.login")) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('Login'), level=1) }}

    {%- call ui.util.call(ui.form, method="POST") %}
        {{ ui.form_errors(error_summary) }}

        {{ ui.input(name='login', label=_("Username or Email")) }}
        {{ ui.input(name='password', label=_("Password"), type="password") }}
        {{ ui.checkbox(name='remember', label=_("Remember me"), checked=true, value=config['REMEMBER_COOKIE_DURATION'] * 1000) }}

        {% if g.recaptcha_publickey %}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
        {% endif %}

        {%- call ui.util.call(ui.form_actions) -%}
            {% block login_button %}
                {{ ui.button(_("Login"), type="submit") }}
            {% endblock %}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}

{%- block secondary_content %}
    {%- if h.check_access('user_create') %}
        {%- call ui.util.call(ui.sidebar_section, title=_('Need an Account?')) -%}
            <p>{{ _("Then sign right up, it only takes a minute.") }}</p>
            {{ ui.button(_('Create an Account'), href=h.url_for('user.register')) }}
        {%- endcall %}
    {%- endif %}

    {%- call ui.util.call(ui.sidebar_section, title=_('Forgotten your password?')) -%}
        <p>{{ _("No problem, use our password recovery form to reset it.") }}</p>
        {{ ui.button(_('Forgot your password?'), href=h.url_for('user.request_reset')) }}
    {%- endcall %}

{%- endblock %}
