{% extends "_layout.html" %}
{%- set _layout = _layout|default("fullwidth") -%}

{%- block subtitle %}{{ _('Register') }}{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(_("Register"), h.url_for("user.register")) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(_('Register'), level=1) }}

    {%- call ui.util.call(ui.form, method="POST", action=h.url_for('user.register'), class="user-register-form") -%}
        {{ h.csrf_input() }}

        {{ ui.form_errors(error_summary) }}

        {{ ui.input("name", label=_('Username'), value=data.name or "", errors=errors.name or []) }}
        {{ ui.input("email", label=_('Email'), value=data.email or "", errors=errors.email or [], type="email") }}
        {{ ui.input("fullname", label=_('Full Name'), value=data.fullname or "", errors=errors.fullname or []) }}

        {{ ui.input("password1", label=_('Password'), type="password", errors=errors.password1 or []) }}
        {{ ui.input("password2", label=_('Confirm Password'), type="password", errors=errors.password2 or []) }}

        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.button(_('Register'), type="submit") }}
            {{ ui.button(_('Cancel'), type="button", href=h.url_for('home.index')) }}
        {%- endcall %}
    {%- endcall %}
{%- endblock %}
