{% extends "user/read_base.html" %}

{%- set user = user_dict %}
{%- set org_type = h.default_group_type('organization') %}
{%- set orgs_available = h.organizations_available(permission='manage_group',
    include_dataset_count=True,
    include_member_count=True,
    user=user['id'])
%}

{%- block subtitle %}
    {{ ui.subtitle_item(h.humanize_entity_type('organization', org_type, 'facet label') or _('Organizations')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb_item(h.humanize_entity_type('organization', org_type, 'facet label') or _('Organizations'), h.url_for('user.read_organizations', id=user.name)) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(h.humanize_entity_type('organization', org_type, 'facet label') or _('Organizations'), level=2) }}
    {%- if orgs_available %}
        {{ ui.snippet("organization/snippets/organization_list.html", organizations=orgs_available, show_capacity=True) }}
    {%- else %}
        {{ ui.text(
            h.humanize_entity_type('organization', org_type, 'you not member') or _('You are not a member of any organizations.') if is_myself
            else h.humanize_entity_type('organization', org_type, 'user not member') or _('User isn\'t a member of any organizations.')
        )}}
    {%- endif %}
{%- endblock %}
