{% extends "user/_base.html" %}

{%- set orgs_available = h.organizations_available(permission='manage_group', include_dataset_count=True, include_member_count=True, user=user_dict.id) %}

{%- block subtitle %}
    {{ ui.subtitle_item(h.humanize_entity_type('organization', org_type, 'page title') or _('Organizations')) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb_item(h.humanize_entity_type('organization', org_type, 'breadcrumb') or _('Groups'), h.url_for('user.read_groups', id=user_dict.name)) }}
{%- endblock %}

{%- block page_action -%}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(h.humanize_entity_type('organization', org_type, 'page title') or _('Organizations'), level=1) }}
    {%- if orgs_available %}
        {{ ui.organization_list(ui.util.map(ui.organization_item, orgs_available)) }}

    {%- else %}
        {{ ui.text(
            h.humanize_entity_type('organization', org_type, 'you not member') or _('You are not a member of any organizations.') if is_myself
            else h.humanize_entity_type('organization', org_type, 'user not member') or _('User isn\'t a member of any organizations.')
        )}}
    {%- endif %}
{%- endblock %}
