{% extends "_layout.html" %}
{%- set _layout = _layout|default("sidebar") -%}

{%- set user = user_dict %}
{%- set dataset_type = h.default_package_type() %}
{%- set org_type = h.default_group_type('organization') %}
{%- set group_type = h.default_group_type('group') %}

{%- block subtitle %}
    {{ user.display_name }} {{ g.template_title_delimiter }}
    {{ h.humanize_entity_type('user', group_type, 'page title') or _('Users') }}
{% endblock %}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('user', group_type, 'breadcrumb') or _('Users'), href=h.url_for('user.index')) }}
    {{ ui.breadcrumb_item(user.display_name|truncate(35), href=h.url_for('user.read', id=user.name)) }}
{%- endblock %}

{%- block content_action %}
    {{ ui.content_action_item(_('Manage'), href=h.url_for('user.edit', id=user.name)) if h.check_access('user_update', user) }}
{%- endblock %}

{%- block content_nav %}
    {{ ui.content_nav_item(h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), href=h.url_for('user.read', id=user.name), active=true) }}
    {{ ui.content_nav_item(h.humanize_entity_type('organization', org_type, 'content tab') or _('Organizations'), href=h.url_for('user.read_organizations', id=user.name), active=request.endpoint == 'user.read_organizations') }}
    {{ ui.content_nav_item(h.humanize_entity_type('group', group_type, 'content tab') or _('Groups'), href=h.url_for('user.read_groups', id=user.name), active=request.endpoint == 'user.read_groups') }}
    {%- if h.check_access('api_token_list', {'user': user['name']}) %}
        {{ ui.content_nav_item(_('API Tokens'), href=h.url_for('user.api_tokens', id=user.name), active=request.endpoint == 'user.api_tokens') }}
    {%- endif %}
{%- endblock %}

{%- block secondary_content %}
    {{ ui.snippet("user/snippets/info.html", user=user, is_myself=is_myself, is_sysadmin=is_sysadmin, dataset_type=dataset_type, org_type=org_type, group_type=group_type, am_following=am_following) }}
{%- endblock %}
