{% extends "user/read_base.html" %}

{%- set _layout = _layout | default("sidebar") -%}

{%- block subtitle %}
    {{ ui.subtitle_item(user_dict.display_name or user_dict.name) }}
    {{ super() }}
{% endblock %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb_item(user_dict.display_name or user_dict.name, href=h.url_for('user.read', id=user_dict.name)) }}
{%- endblock %}

{%- block primary_content_inner %}
    {{ ui.heading(user_dict.display_name or user_dict.name, level=1) }}

    {%- if user_dict.about %}
        {{ ui.text(h.render_markdown(user_dict.about)) }}
    {%- endif %}

    {%- call ui.util.call(ui.table) -%}
        {{ ui.table_head(ui.table_row(cells=[_('User Info'), ''], heading=true)) }}
        {%- call ui.util.call(ui.table_body) -%}
            {{ ui.table_row(cells=[_('Username'), user_dict.name]) }}
            {{ ui.table_row(cells=[_('Member since'), ui.datetime(user_dict.created)]) }}
            {{ ui.table_row(cells=[_('Number of datasets'), user_dict.number_created_packages]) }}
            {{ ui.table_row(cells=[_('Number of followers'), user_dict.number_of_followers]) }}
        {%- endcall -%}
    {%- endcall -%}

    {%- if h.check_access('user_update', {'id': user_dict.id}) %}
        {{ ui.button(_('Edit Profile'), href=h.url_for('user.edit', id=user_dict.name)) }}
    {%- endif %}
{%- endblock %}
