<h1><code>button</code></h1>

<p>
    Creates a button with attributes required by theme.
</p>

<p>
    It accepts <code>conent</code> of the button as a first argument, which can
    be either text or DOM node. The second argument is an object with options:
</p>

<ul>
    <li><code>type</code>: can be <code>button</code>, <code>submit</code>, or <code>reset</code>.</li>
    <li><code>style</code>: any style supported by theme, e.g. <code>primary</code>, <code>secondary</code>, <code>danger</code>,
        etc.</li>
</ul>


<div class="theming-example">
    <p>
        The function returns standard <code>HTMLElement</code> that can be added to the DOM.
    </p>
    {%- call ui.util.call(show_example) %}
        {%- raw %}
            {%- set id = ui.util.id() -%}
            <div id="{{ id }}"></div>

            <script>
                window.addEventListener("load", () => {
                    const sandbox = ckan.sandbox()
                    const btn = sandbox.ui.button("Click me", {"style": "danger"});
                    btn.addEventListener("click", () => alert(1))
                    document.getElementById(`{{ id }}`).appendChild(btn)
                })
            </script>
        {%- endraw %}
    {%- endcall %}
</div>
