<h1><code>button</code></h1>

<p>
    Creates a button with attributes required by theme.
</p>

<p>
    It accepts <code>conent</code> of the button as a first argument, which can
    be either text or DOM node. The second argument is an object with options:

    {%- call ui.util.call(ui.list) -%}
        {%- call ui.util.call(ui.list_item) -%}
            <code>type</code>: can be <code>button</code>, <code>submit</code>, or <code>reset</code>.
        {%- endcall %}
        {%- call ui.util.call(ui.list_item) -%}
            <code>style</code>: any style supported by theme, e.g. <code>primary</code>, <code>secondary</code>, <code>danger</code>,
            etc.
        {%- endcall %}
    {%- endcall %}
</p>

{%- set id1 = ui.util.id() -%}

<p>
    The function returns standard <code>HTMLElement</code> that can be added to the DOM.

    {%- call ui.util.call(ui.code, language="javascript", dedent=true) %}
        const btn = sandbox.ui.button("Click me", {"style": "danger"});
        btn.addEventListener("click", () => alert(1))

        document.getElementById(id).appendChild(btn)
    {%- endcall %}

</p>

<div id="{{ id1 }}">
    <script>
        window.addEventListener("load", () => {
            const sandbox = ckan.sandbox()
            const btn = sandbox.ui.button("Click me", {"style": "danger"});
            btn.addEventListener("click", () => alert(1))
            document.getElementById(`{{ id1 }}`).appendChild(btn)
        })
    </script>
</div>
