{%- macro organization_item(group) -%}
    {{ ui.group_item(group, **kwargs) }}
{%- endmacro %}

{%- macro organization_list(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}

{%- macro group_item(group) -%}
    {% set img = group.image_display_url or h.url_for_static('/base/images/placeholder-' ~ ('organization' if group.is_organization else 'group') ~ '.png') %}
    {% set title = group.title or group.name  %}
    {% set body = h.markdown_extract(group.description, 120)|urlize %}

    {{ ui.card(title=title, img=img, body=body, href=h.url_for(('organization' if group.is_organization else 'group') ~ ".read", id=group.name), **kwargs) }}
{%- endmacro %}


{%- macro group_list(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}


{%- macro package_list(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}

{%- macro package_item(pkg) -%}
    {% set title = pkg.title or pkg.name  %}
    {% set body = h.markdown_extract(pkg.notes, 120)|urlize %}

    {{ ui.card(title=title, body=body, href=h.url_for(pkg.type ~ ".read", id=pkg.name), **kwargs) }}
{%- endmacro %}

{%- macro resource_list(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}

{%- macro resource_item(res) -%}
    {% set title = res.name  %}
    {% set body = h.markdown_extract(res.description, 120)|urlize %}

    {{ ui.card(title=title, body=body, href=h.url_for("resource.read", id=res.package_id, resource_id=res.id), **kwargs) }}
{%- endmacro %}

{%- macro facet_list(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}

{%- macro facet_item(facet) -%}
    {% set url = h.remove_url_param(facet.key, facet.name) if facet.active else h.add_url_param(new_params={key: facet.name}) %}

    {%- call ui.util.call(ui.link, href=url) -%}
        <div style="display: flex; justify-content: space-between;">
            <span>{{ facet.display_name }}</span>
            <span>{{ "&times;"|safe if facet.active else facet.count }}</span>
        </div>
    {%- endcall %}

{%- endmacro %}

{%- macro facet_group(content, title) -%}
    {%- call ui.util.call(ui.section) -%}
        {{ ui.heading(title, level=3) }}
        {{ content }}
        {{ ui.divider() }}
    {%- endcall %}
{%- endmacro %}

{%- macro activity_stream(content) -%}
    {{ ui.listing(content) }}
{%- endmacro %}


{%- macro activity_item(content, activity) -%}
    {{ ui.listing_item(content) }}
{%- endmacro %}

{% macro license(content, id, url) %}
    {% if url %}
        {{ ui.link(content, href=url, attrs={"rel": "dc:rights"}) }}
    {% elif id %}
        <span property="dc:rights">{{ content }}</span>
    {% else %}
        <span>{{ _('No License Provided') }}</span>
    {% endif %}
{% endmacro %}
