{%- macro facet_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro group_list(content) -%}{{ ui.grid(content, **kwargs) }}{%- endmacro %}

{%- macro organization_list(content) -%}{{ ui.group_list(content, **kwargs) }}{%- endmacro %}

{%- macro package_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro resource_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro user_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro filters(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "filters"}) }}>{{ content }}</div>
{%- endmacro %}

{%- macro accordion(content, title, open) -%}
    <details {{ ui.util.attrs(kwargs) }} {{ "open" if open}}>
        <summary role="button" aria-expanded="{{ 'true' if open else 'false' }}">{{ title }}</summary>
        <div role="region">{{ content }}</div>
    </details>
{%- endmacro %}

{%- macro button_group(content, direction="row") -%}
    <div {{ ui.util.attrs(kwargs, {"class": "btn-group btn-group-" ~ direction}) }}>
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro card(content, title, footer, img, href, img_class) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "card", "role": "article", "aria-label": title if title else _('Card')}) }}>
        {%- if img -%}
            {{ ui.image(img, _extra_class=img_class, **kwargs) }}
        {%- endif %}

        {%- if title -%}
        <div class="card-header">
            <strong>
                {%- if href -%}
                    {{ ui.link(title, href=href) }}
                {%- else -%}
                    {{ title }}
                {%- endif %}
            </strong>
        </div>
        {%- endif %}

        {%- if content -%}
            <div class="card-body">{{ content }}</div>
        {%- endif %}

        {%- if footer -%}
            <div class="card-footer">{{ footer }}</div>
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro column(content, span, offset) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "col" ~ (" " ~ span|join(' ') if span is iterable and span is not string else "")}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro container(content, fluid) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "container" ~ ("-fluid" if fluid else "")}) }}>{{ content }}</div>
{%- endmacro %}

{%- macro grid(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "grid"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro row(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "row"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro list(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "list"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro list_item(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "list-item"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro dropdown(content, title) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "dropdown", "role": "menu", "aria-haspopup": "true"}) }}>
        {{ ui.button(title, aria={"haspopup": "true"}) }}
        <ul class="dropdown-menu" role="menu">
            {{ content }}
        </ul>
    </div>
{%- endmacro %}

{%- macro tabbed_content(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "tabbed-content"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro tab_pane(content, active, id) -%}
    <div {{ ui.util.attrs(kwargs, {"id": id, "class": "tab-pane" ~ (" active" if active else ""), "role": "tabpanel"}) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro tab_pane_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "tab-content"}) }}>
        {{ content }}
    </div>
{%- endmacro %}
