
{%- macro group(content, group) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/group.html" -%}
{%- endmacro %}

{%- macro organization(content, organization) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/organization.html" -%}
{%- endmacro %}

{%- macro package(content, package) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/package.html" -%}
{%- endmacro %}

{%- macro resource(content, resource) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/resource.html" -%}
{%- endmacro %}

{%- macro user(content, user) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/user.html" -%}
{%- endmacro %}


{%- macro facet(content, key, value, count, active) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/facet.html" -%}
{%- endmacro %}

{%- macro activity(content, activity) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/activity.html" -%}
{%- endmacro %}

{% macro license(content, id, url) %}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/license.html" -%}
{% endmacro %}
