{%- macro accordion_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro accordion_item(content, title, open=false) -%}
    <details {{ ui.util.attrs(kwargs) }} {{ "open" if open }}>
        <summary>{{ title }}</summary>
        {{ content }}
    </details>
{%- endmacro %}

{%- macro card(content, title, footer, img, href) -%}

    <div {{ ui.util.attrs(kwargs) }} style="border: 1px solid gray" >
        {%- if img -%}
            {{ ui.image(img, attrs={"class": "card-image"}) }}
        {%- endif %}

        <strong>
            {%- if href -%}
                {{ ui.link(title, href=href) }}
            {%- else -%}
                {{ title }}
            {%- endif %}
        </strong>

        {%- if content -%}
            <div>{{ content }}</div>
        {%- endif %}

        {%- if footer -%}
            <div>{{ footer }}</div>
        {%- endif %}

    </div>

{%- endmacro %}

{%- macro container(content, fluid=false) -%}
    <div {{ ui.util.attrs(kwargs) }} class="bare-container">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro grid(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="grid">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro column(content, span={}) -%}
    <div {{ ui.util.attrs(kwargs) }} class="col{% for breakpoint, size in span.items() %} col-{{ breakpoint ~ '-' if breakpoint != 'xs' }}{{ size }}{% endfor %}">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro panel_wrapper(content) -%}
    {%- do kwargs.setdefault("attrs", {}).setdefault("id", ui.util.id())-%}
    <script>
     window.addEventListener("hashchange", event => {
         const hash = window.location.hash.slice(1);
         const wrapper = document.getElementById("{{ kwargs.attrs.id }}");
         wrapper.querySelectorAll(`[data-panel]`).forEach(el => el.hidden = hash ? el.dataset.panel !== hash : !el.dataset.panelDefault);
     })
     document.addEventListener("DOMContentLoaded", () => window.dispatchEvent(new Event("hashchange")));
    </script>
    <div {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro panel(content, title, id, open) -%}
    <div {{ ui.util.attrs(kwargs) }} data-panel="{{ id }}" {{ 'data-panel-default="true"' if open else "hidden" }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro panel_handle(content, id) -%}
    {{ ui.link(content, href="#" ~ id, **kwargs) }}
{%- endmacro %}

{%- macro section(content) -%}
    <section {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </section>
{%- endmacro %}

{%- macro listing(content) -%}
    <div {{ ui.util.attrs(kwargs) }} style="display: flex; flex-direction: column; gap: 1rem;">
        {{ content }}
    </div>
{%- endmacro %}

{%- macro listing_item(content) -%}
    <div {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro jumbotron(content, title, subtitle) -%}
    <div {{ ui.util.attrs(kwargs) }} class="jumbotron">
        {%- if title %}
            <h1>{{ title }}</h1>
        {%- endif %}
        {%- if subtitle %}
            <p>{{ subtitle }}</p>
        {%- endif %}
        {{ content }}
    </div>
{%- endmacro %}

{%- macro well(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="well">{{ content }}</div>
{%- endmacro %}

{%- macro media_object(img, content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="media">
        {{ ui.image(img) }}
        <div class="media-body">{{ content }}</div>
    </div>
{%- endmacro %}

{%- macro list_group_item(content, active=False) -%}
    <div {{ ui.util.attrs(kwargs) }} class="list-group-item {{ 'active' if active }}">{{ content }}</div>
{%- endmacro %}

{%- macro sidebar_section(content, title) -%}
    <section {{ ui.util.attrs(kwargs) }}>
        {{ ui.heading(title, level=2) }}
        <div>
            {{ content }}
        </div>
    </section>
{%- endmacro %}
