{%- macro table(content, striped=false, bordered=false, condensed=false, hover=false, caption=none) -%}
    <table {{ ui.util.attrs(kwargs, {"class": "table" + (" table-striped" if striped else "") + (" table-bordered" if bordered else "") + (" table-condensed" if condensed else "") + (" table-hover" if hover else "")}) }}>
        {%- if caption -%}<caption>{{ caption }}</caption>{%- endif -%}
        {{ content }}
    </table>
{%- endmacro %}

{%- macro table_head(content) -%}
    <thead {{ ui.util.attrs(kwargs) }}>{{ content }}</thead>
{%- endmacro %}

{%- macro table_body(content) -%}
    <tbody {{ ui.util.attrs(kwargs) }}>{{ content }}</tbody>
{%- endmacro %}

{%- macro table_row(content) -%}
    <tr {{ ui.util.attrs(kwargs) }}>{{ content }}</tr>
{%- endmacro %}

{%- macro table_cell(content, header=false) -%}
    <{{ 'th' if header else 'td' }} {{ ui.util.attrs(kwargs) }}>{{ content }}</{{ 'th' if header else 'td' }}>
{%- endmacro %}

{%- macro chart(content, type, data, labels) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "chart-container", "data-module": "chart", "data-type": type, "data-data": data|tojson, "data-labels": labels|tojson}) }}>
        <canvas></canvas>
        {%- if content -%}<div class="chart-caption">{{ content }}</div>{%- endif -%}
    </div>
{%- endmacro %}

{%- macro code(content, language, dedent=false) -%}
    <pre {{ ui.util.attrs(kwargs, {"class": "code-block" + (" language-" + language if language else "")}) }}><code>{{- (content|dedent if dedent else content) -}}</code></pre>
{%- endmacro %}
