{%- macro table_block(striped=false, bordered=false) -%}
    {%- do kwargs -%}
    <table class="{{ 'table-bordered' if bordered }} {{ 'table-striped' if striped }}">
        {{ caller() }}
    </table>
{%- endmacro %}

{%- macro table_head_block() -%}
    {%- do kwargs -%}
    <thead>{{ caller() }}</thead>

{%- endmacro %}


{%- macro table_body_block() -%}
    {%- do kwargs -%}
    <tbody>{{ caller() }}</tbody>
{%- endmacro %}

{%- macro table_row_block() -%}
    {%- do kwargs -%}
    <tr>
        {{ caller() }}
    </tr>
{%- endmacro %}

{%- macro table_row(columns, heading=false) -%}
    {%- do kwargs -%}
    {%- call ui.table_row_block() %}
        {%- for column in columns %}
            {{ ui.table_cell(column, heading) }}
        {%- endfor %}
    {%- endcall %}
{%- endmacro %}

{%- macro table_cell(content, heading=false) -%}
    {%- do kwargs -%}
    {% set tag = "th" if heading else "td" %}
    <{{ tag }}>
    {{ content }}
    </{{ tag }}>
{%- endmacro %}

{%- macro list_group(items) -%}
    <ul {{ ui.util.attrs(kwargs) }}>
        {%- for item in items %}
            <li class="list-group-item">{{ item }}</li>
        {%- endfor %}
    </ul>
{%- endmacro %}

{%- macro definition_list(items) -%}
    <dl {{ ui.util.attrs(kwargs) }}>
        {%- for term, definition in items %}
            <dt>{{ term }}</dt>
            <dd>{{ definition }}</dd>
        {%- endfor %}
    </dl>
{%- endmacro %}

{%- macro stat(label, value, icon=None) -%}
    <div {{ ui.util.attrs(kwargs) }}>
        {%- if icon %}
            {{ ui.icon(icon) }}
        {%- endif %}
        <strong>{{ value }}</strong>
        <span>{{ label }}</span>
    </div>
{%- endmacro %}

{%- macro chart(type, data, options=None) -%}
    {%- do kwargs -%}
    <div data-chart-type="{{ type }}" data-chart-data="{{ data|tojson }}" data-chart-options="{{ options|tojson if options else '{}' }}">
        Chart placeholder
    </div>
{%- endmacro %}

{%- macro code_block(content, language="text") -%}
    <pre {{ ui.util.attrs(kwargs) }}><code class="language-{{ language }}">{{ content }}</code></pre>
{%- endmacro %}
