{%- macro badge(content, style) -%}
    <sup><mark {{ ui.util.attrs(kwargs) }}>{{ content }}</mark></sup>
{%- endmacro %}

{%- macro button(content, href, type="button", style="primary") -%}
    {%- if href -%}
        <a {{ ui.util.attrs(kwargs) }} href="{{ href }}" class="btn btn--{{ style }}">{{ content }}</a>
    {%- else -%}
        <button {{ ui.util.attrs(kwargs) }} type="{{ type }}" class="btn btn--{{ style }}">{{ content }}</button>
    {%- endif %}
{%- endmacro %}

{%- macro empty(content) -%}
    <p {{ ui.util.attrs(kwargs) }} class="text-muted empty">{{ content }}</p>
{%- endmacro %}

{%- macro icon(name) -%}
    <span {{ ui.util.attrs(kwargs) }} class="icon-{{ name }}">{{ ui.util.icon(name) }}</span>
{%- endmacro %}


{%- macro tag(content, href) -%}
    <a {{ ui.util.attrs(kwargs, {"class": "tag"}) }} {%- if href %} href="{{ href }}"{%- endif %}>{{ content }}</a>
{%- endmacro %}

{%- macro tab(content, active, id) -%}
    {%- if active -%}
        {%- do kwargs.setdefault("aria", {}).setdefault("selected", "true") -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("class", "active") -%}
    {%- endif %}
    {{ ui.link(content, "#" ~ id, **kwargs) }}
{%- endmacro %}
