{%- macro badge(content) -%}
    <sup><mark {{ ui.util.attrs(kwargs) }}>{{ content }}</mark></sup>
{%- endmacro %}

{%- macro button(content, style="primary", type="button") -%}
    <button {{ ui.util.attrs(kwargs) }} type="{{ type }}">{{ content }}</button>
{%- endmacro %}

{%- macro button_group(content, direction="row") -%}
    <div {{ ui.util.attrs(kwargs) }} style="display: flex; flex-direction: {{ direction }}; gap: 0.25rem;">
        {{- content -}}
    </div>
{%- endmacro %}

{%- macro divider() -%}
    <hr {{ ui.util.attrs(kwargs) }}/>
{%- endmacro %}

{%- macro heading(content, level=1) -%}
    {%- set tag =  "h" ~ level %}
    <{{ tag }} {{ ui.util.attrs(kwargs) }}>{{ content }}</{{ tag }}>
{%- endmacro %}

{%- macro image(src, alt="") -%}
    <img {{ ui.util.attrs(kwargs) }} alt="{{ alt }}" src="{{ src }}"/>
{%- endmacro %}

{%- macro link(content, href) -%}
    <a {{ ui.util.attrs(kwargs) }} href="{{ href or content }}">{{ content }}</a>
{%- endmacro %}

{%- macro text(content) -%}
    <p {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </p>
{%- endmacro %}

{%- macro video(src, controls=true) -%}
    <video {{ ui.util.attrs(kwargs) }} src="{{ src }}" {{ "controls" if controls }}></video>
{%- endmacro %}


{%- macro tag(content, href, id) -%}
    <a {{ ui.util.attrs(kwargs) }} href="{{ href or h.url_for('dataset.search', tags=id or content) }}">{{ content }}</a>
{%- endmacro %}


{%- macro avatar(src, alt) -%}
    {%- if kwargs.attrs -%}
        {%- do kwargs.attrs.setdefault("width", 100) -%}
        {%- do kwargs.attrs.setdefault("height", 100) -%}
    {%- endif -%}

    {{ ui.image(src or h.url_for_static("/base/images/placeholder-user.png"), alt) }}
{%- endmacro %}

{%- macro icon(name, size="md") -%}
    {%- do kwargs -%}
    <i class="icon-{{ name }} icon-{{ size }}"></i>
{%- endmacro %}

{%- macro label(text, for_id) -%}
    <label {{ ui.util.attrs(kwargs) }} for="{{ for_id }}">{{ text }}</label>
{%- endmacro %}
