{%- macro group(content, group) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/group.html" -%}
{%- endmacro %}

{%- macro group_list(content) -%}
    {%- call ui.util.call(ui.grid, **kwargs) -%}
        {%- call ui.util.call(ui.row) -%}
            {{ content }}
        {%- endcall %}
    {%- endcall %}
{%- endmacro %}

{%- macro organization(content, organization) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/organization.html" -%}
{%- endmacro %}

{%- macro organization_list(content) -%}{{ ui.group_list(content, **kwargs) }}{%- endmacro %}

{%- macro package(content, package) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/package.html" -%}
{%- endmacro %}

{%- macro package_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro resource(content, resource, package) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/resource.html" -%}
{%- endmacro %}

{%- macro resource_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro user(content, user) -%}
    {%- do kwargs -%}
    {%- include "macros/ui/snippets/user.html" -%}
{%- endmacro %}

{%- macro user_list(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}
