{%- macro form_block(content) -%}
    {{ ui.form(content or caller(), **kwargs) }}
{%- endmacro %}

{%- macro form(content, method, action, enctype, include_csrf=true) -%}
    {{ ui.form_start(method, action, enctype, **kwargs) }}
    {{ h.csrf_input() if include_csrf and method and method|upper != "GET" }}
    {{ content }}
    {{ ui.form_end() }}
{%- endmacro %}

{%- macro form_actions(content) -%}
    <div {{ ui.util.attrs(kwargs) }}>{{ content }}</div>
{%- endmacro %}

{%- macro form_start(method, action, enctype) -%}
    <form
        {{ ui.util.attrs(kwargs) }}
        {%- if method %} method="{{ method }}"{%- endif %}
        {%- if action %} action="{{ action }}"{%- endif %}
        {%- if enctype %} enctype="{{ enctype }}"{%- endif -%}
    >
{%- endmacro %}

{%- macro form_end() -%}
    {%- do kwargs -%}
    </form>
{%- endmacro %}

{%- macro form_errors(errors) -%}
    {% if errors %}
        <div>
            <p>{{ _('The form contains invalid entries:') }}</p>
            <ul>
                {% for key, error in errors.items() %}
                    <li>{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{%- macro field_errors(errors) -%}
    {%- if errors -%}
        {%- for error in errors -%}
            <span>{{ error }}</span><br/>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}

{%- macro input(content, name, id, label, value, required, placeholder, type, errors=[]) -%}
    {%- set field_id = id or ("field-" ~ name) if name else ui.util.id() if label else "" -%}

    <div>
        {%- if label -%}
            <label for="{{ field_id }}">{{ label }}</label>
        {%- endif %}
        {%- if content -%}
            <div class="input-help">{{ content }}</div>
        {%- endif %}
        <input
            {{ ui.util.attrs(kwargs) }}
            type="{{ type or "text" }}"
            {%- if name %} name="{{ name }}"{% endif %}
            {%- if field_id %} id="{{ field_id }}"{%- endif %}
            {%- if value %} value="{{ value }}"{% endif %}
            {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
            {%- if required %} required{% endif %}
        >
        {%- if errors %}
            {{ ui.field_errors(errors) }}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro hidden_input(name, value) -%}
    <input {{ ui.util.attrs(kwargs) }} type="hidden" name="{{ name }}" value="{{ value or "" }}">
{%- endmacro %}

{%- macro checkbox(content, checked, value="on") -%}
    {%- if checked -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("checked", true) -%}
    {%- endif %}
    {{ ui.input(content, value=value or "on", type="checkbox", **kwargs) }}
{%- endmacro %}

{%- macro radio(content, checked, value="on") -%}
    {%- if checked -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("checked", true) -%}
    {%- endif %}
    {{ ui.input(content, value=value or "on", type="radio", **kwargs) }}
{%- endmacro %}

{%- macro file_input(content, accept, capture, multiple) -%}
    {%- if multiple -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("multiple", true) -%}
    {%- endif %}
    {%- if accept -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("accept", accept) -%}
    {%- endif %}
    {%- if capture -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("capture", capture) -%}
    {%- endif %}
    {{ ui.input(content, type="file", **kwargs) }}
{%- endmacro %}

{%- macro range_input(content, min_value, max_value) -%}
    {%- if min_value is defined -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("min", min_value) -%}
    {%- endif %}
    {%- if max_value is defined -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("max", max_value) -%}
    {%- endif %}
    {{ ui.input(content, type="range", **kwargs) }}
{%- endmacro %}

{%- macro textarea(content, name, id, label, value, placeholder, required, errors=[]) -%}
    {%- set field_id = id or ("field-" ~ name) if name else ui.util.id() if label else "" -%}

    <div>
        {%- if label -%}
            <label for="{{ field_id }}">{{ label }}</label>
        {%- endif %}
        {%- if content -%}
            <div class="input-help">{{ content }}</div>
        {%- endif %}
        <textarea
            {{ ui.util.attrs(kwargs) }}
            {%- if field_id %} id="{{ field_id }}"{%- endif %}
            {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
            {%- if name %} name="{{ name }}"{% endif %}
            {%- if required %} required{% endif %}
        >{{ value or "" }}</textarea>
        {%- if errors %}
            {{ ui.field_errors(errors) }}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro markdown(content, name, id, label, value, placeholder, required, errors=[]) -%}
    {%- set field_id = id or ("field-" ~ name) if name else ui.util.id() if label else "" -%}
    {% set popover_id = ui.util.id() %}
    {%- call ui.util.call(ui.popover_content, title=_("Markdown formatting"), id=popover_id) -%}
        {%- trans -%}
        <p>__Bold text__ or _italic text_</p>
        <p># title
            <br>## secondary title
            <br>### etc
        </p>
        <p>* list
            <br>* of
            <br>* items
        </p>
        <p>http://auto.link.ed/</p>
        <p>
            <strong>
                <a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a>
            </strong>
        </p>
        <p>
            <strong>Please note:</strong>
            HTML tags are stripped out for security reasons
        </p>
            {%- endtrans %}
    {%- endcall -%}

    <div>
        {%- if label -%}
            <label for="{{ field_id }}">{{ label }}</label>
        {%- endif %}
        {%- if content -%}
            <div class="input-help">{{ content }}</div>
        {%- endif %}
        <div class="input-help">
            <sub>
                You can use <strong>{{ ui.popover_handle(_("Markdown formatting"), id=popover_id) }}</strong> here
            </sub>
        </div>
        <textarea
            {{ ui.util.attrs(kwargs) }}
            {%- if field_id %} id="{{ field_id }}"{%- endif %}
            {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
            {%- if name %} name="{{ name }}"{% endif %}
            {%- if required %} required{% endif %}
        >{{ value or "" }}</textarea>

        {%- if errors %}
            {{ ui.field_errors(errors) }}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro submit(value, name) -%}
    {%- do kwargs.setdefault("attrs", {}).update({"value": value, "name": name}) -%}
    {{ ui.button(value, type="submit", **kwargs) }}
{%- endmacro %}

{%- macro select_block(content, name, id, label, multiple, required, autocomplete, errors=[]) -%}
    {%- set field_id = id or ("field-" ~ name) if name else ui.util.id() if label else "" -%}
    <div>
        {%- if label -%}
            <label for="{{ field_id }}">{{ label }}</label>
        {%- endif %}
        {%- if content -%}
            <div class="input-help">{{ content }}</div>
        {%- endif %}

        <select
            {{ ui.util.attrs(kwargs) }}
            {%- if name %} name="{{ name }}"{%- endif %}
            {%- if field_id %} id="{{ field_id }}"{%- endif %}
            {%- if required %} required{%- endif %}
            {%- if multiple %} multiple{%- endif %}
            {{ caller() }}
        </select>

        {%- if errors %}
            {{ ui.field_errors(errors) }}
        {%- endif %}
    </div>
{%- endmacro %}

{%- macro select(content, selected, options) -%}
    {%- set selected_values = selected if selected is not string and selected is iterable else [selected or ""] %}

    {%- call ui.select_block(content, selected=selected, options=options or [], **kwargs) -%}
        {%- for option in (options or []) %}
            {%- if option is string %}
                {% set value, text = option, option %}

            {%- else -%}
                {% set value = option.value %}
                {% set text = option.text or option.value %}

            {%- endif %}

            <option value="{{ value }}" {{ "selected" if value in selected_values }}>{{ text }}</option>
        {%- endfor %}

    {%- endcall %}
{%- endmacro %}

{%- macro extra_field(index, data={}, errors={}, name_template='extras__{index}__') -%}
    {%- set prefix = name_template.format(index=index) -%}
    <fieldset>
        <legend>{{ _('Custom Field') }}</legend>
        {{ ui.input(name=prefix ~ "key", label=_("Key"), value=data.key, errors=errors[prefix~"key"]) }}
        {{ ui.input(name=prefix ~ "value", label=_("Value"), value=data.value, errors=errors[prefix~"value"]) }}
        {{ ui.button(_("Remove"), style="danger", attrs={"onclick": "this.closest('fieldset').remove()"}) }}
    </fieldset>
{%- endmacro %}

{%- macro extra_field_multiplicator(index, label=_("Add"), placeholder="TPL") -%}
    <template id="custom-field-template">
        {{ ui.extra_field(placeholder) }}
    </template>
    {{ ui.button(label, data={"index": index}, attrs={"onclick": "
const tpl = document.getElementById('custom-field-template').content.cloneNode(true);
tpl.querySelectorAll('input').forEach(el => {
  el.name = el.name.replace('TPL', this.dataset.index);
  el.id = el.id.replace('TPL', this.dataset.index);
})
tpl.querySelectorAll('label').forEach(el => {
  el.setAttribute('for', el.getAttribute('for').replace('TPL', this.dataset.index));
})

++this.dataset.index;
this.parentNode.insertBefore(tpl, this);
    "}) }}
{%- endmacro %}

{%- macro extra_fields_collection(extras=[], errors={}, limit=3) -%}
    <div data-module="custom-fields">
        {%- for extra in extras -%}
            {{ ui.extra_field(index=loop.index0, data=extra, errors=errors) }}
        {%- endfor %}

        {%- set num_extras = extras|count %}
        {%- set max_extras = [limit - num_extras, 1]|max + num_extras %}

        {%- for index in range(num_extras, max_extras) -%}
            {{ ui.extra_field(index=index) }}
        {%- endfor %}

        {{- ui.extra_field_multiplicator(max_extras) }}
    </div>
{%- endmacro %}

{%- macro autocomplete(content, source, multiple, param_name="q", param_template="{value}") -%}
    {{ ui.input(content, **kwargs) }}
{%- endmacro %}
