{%- macro accordion_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} role="region" aria-label="{{ _('Accordion') }}">{{ content }}</div>
{%- endmacro %}

{%- macro activity_wrapper(content) -%}
    {{ ui.list(content, **kwargs) }}
{%- endmacro %}

{%- macro facet_wrapper(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro group_wrapper(content) -%}{{ ui.grid(content, **kwargs) }}{%- endmacro %}

{%- macro organization_wrapper(content) -%}{{ ui.group_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro package_wrapper(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro panel_wrapper(content) -%}
    {%- do kwargs.setdefault("attrs", {}).setdefault("id", ui.util.id())-%}
    <script>
        window.addEventListener("hashchange", event => {
            const hash = window.location.hash.slice(1);
            const wrapper = document.getElementById("{{ kwargs.attrs.id }}");
            wrapper.querySelectorAll(`[data-panel]`).forEach(el => el.hidden = hash ? el.dataset.panel !== hash : !el.dataset.panelDefault);
        })
        document.addEventListener("DOMContentLoaded", () => window.dispatchEvent(new Event("hashchange")));
    </script>
    <div {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </div>
{%- endmacro %}

{%- macro resource_wrapper(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}

{%- macro user_wrapper(content) -%}{{ ui.list(content, **kwargs) }}{%- endmacro %}


{%- macro account_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} class="breadcrumbs">{{ content }}</div>
{%- endmacro %}

{%- macro content_action_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro content_nav_wrapper(content) -%}{{ ui.tab_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro dropdown_wrapper(content, title) -%}
    <div {{ ui.util.attrs(kwargs) }} class="dropdown" role="menu" aria-haspopup="true">
        {{ ui.button(title, aria={"haspopup": "true"}) }}
        <ul class="dropdown-menu" role="menu">
            {{ content }}
        </ul>
    </div>
{%- endmacro %}

{%- macro main_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro menu_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }}>{{ content }}</div>
{%- endmacro %}

{%- macro nav_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} role="navigation">{{ content }}</nav>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} class="tabs" role="tablist">{{ content }}</nav>
{%- endmacro %}
