{%- macro accordion_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} role="region" aria-label="{{ _('Accordion') }}">{{ content }}</div>
{%- endmacro %}

{%- macro account_nav(content) -%}{{ ui.nav(content, **kwargs) }}{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} aria-label="Breadcrumb" class="breadcrumbs">{{ content }}</nav>
{%- endmacro %}

{%- macro content_action_wrapper(content) -%}{{ ui.nav(content, **kwargs) }}{%- endmacro %}

{%- macro content_nav(content) -%}{{ ui.tab_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro footer_main_nav(content) -%}
    {{ ui.nav(content, **kwargs) }}
{%- endmacro %}

{%- macro footer_secondary_nav(content) -%}
    {{ ui.nav(content, **kwargs) }}
{%- endmacro %}


{%- macro main_nav(content) -%}{{ ui.nav(content, **kwargs) }}{%- endmacro %}
{%- macro sidebar_nav(content) -%}{{ ui.nav(content, **kwargs) }}{%- endmacro %}

{%- macro nav(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} role="navigation">{{ content }}</nav>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}{{ ui.nav(content, **kwargs) }}{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} class="tabs" role="tablist">{{ content }}</nav>
{%- endmacro %}

{%- macro pagination_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} role="navigation" aria-label="{{ _('Pagination') }}">
        {{- content -}}
    </nav>
{%- endmacro %}
