{%- macro accordion_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }} role="region" aria-label="{{ _('Accordion') }}">{{ content }}</div>
{%- endmacro %}


{%- macro panel_wrapper(content) -%}
    {%- do kwargs.setdefault("attrs", {}).setdefault("id", ui.util.id())-%}
    <script>
        window.addEventListener("hashchange", event => {
            const hash = window.location.hash.slice(1);
            const wrapper = document.getElementById("{{ kwargs.attrs.id }}");
            wrapper.querySelectorAll(`[data-panel]`).forEach(el => el.hidden = hash ? el.dataset.panel !== hash : !el.dataset.panelDefault);
        })
        document.addEventListener("DOMContentLoaded", () => window.dispatchEvent(new Event("hashchange")));
    </script>
    <div {{ ui.util.attrs(kwargs) }}>
        {{ content }}
    </div>
{%- endmacro %}



{%- macro account_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro breadcrumb_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} aria-label="Breadcrumb" class="breadcrumbs">{{ content }}</nav>
{%- endmacro %}

{%- macro content_action_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro content_nav_wrapper(content) -%}{{ ui.tab_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro main_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}
{%- macro sidebar_nav_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro nav_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} role="navigation">{{ content }}</nav>
{%- endmacro %}

{%- macro page_action_wrapper(content) -%}{{ ui.nav_wrapper(content, **kwargs) }}{%- endmacro %}

{%- macro tab_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} class="tabs" role="tablist">{{ content }}</nav>
{%- endmacro %}

{%- macro tab_content_wrapper(content) -%}
    <div {{ ui.util.attrs(kwargs) }}>{{ content }}</div>
{%- endmacro %}


{%- macro pagination_wrapper(content) -%}
    <nav {{ ui.util.attrs(kwargs) }} role="navigation" aria-label="{{ _('Pagination') }}">
        {{- content -}}
    </nav>
{%- endmacro %}
