{% extends "page.html" %}

{%- block subtitle %}{{ h.humanize_entity_type('user', user_type, 'page title') or _('Users') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('user', user_type, 'breadcrumb') or _('Users'), h.url_for(user_type ~ '.index')) }}
{%- endblock -%}

{%- block primary_content %}
    <section class="card">
        {%- block primary_content_inner %}{% endblock -%}
    </section>
{%- endblock -%}

{%- block secondary_content %}
    <section class="card">
        <header>
            <h5>{{ _('Navigation') }}</h5>
        </header>
        <ul>
            {{ ui.nav_item(_('View Profile'), h.url_for(user_type ~ '.read', id=user_dict.name), active=c.action == 'read') }}
            {{ ui.nav_item(_('Dashboard'), h.url_for(user_type ~ '.dashboard'), active=c.action == 'dashboard') }}
            {%- if h.check_access('user_update', {'id': user_dict.id}) %}
                {{ ui.nav_item(_('Edit Profile'), h.url_for(user_type ~ '.edit', id=user_dict.name), active=c.action == 'edit' or c.action == 'perform_reset') }}
            {%- endif %}
        </ul>
    </section>
{%- endblock -%}
