{%- set group_dict = group or group_dict -%}
{% set dataset_type = h.default_package_type() %}

<div id="group-info">
    {% block group_info %}
        {%- call ui.util.call(ui.sidebar_section, title=group_dict.display_name) -%}
            {% block nums %}
                {% set num_followers = h.follow_count('group', group_dict.id) %}

                {%- call ui.util.call(ui.table) -%}
                    {%- call ui.util.call(ui.table_head) -%}

                        {%- call ui.util.call(ui.table_row) -%}
                            {{ ui.table_cell(ui.link(_('Followers'), href=h.url_for(group_dict.type ~ ".followers", id=group_dict.name)), header=true) }}
                            {{ ui.table_cell(h.SI_number_span(num_followers)) }}
                        {%- endcall %}


                        {%- call ui.util.call(ui.table_row) -%}
                            {{ ui.table_cell(ui.link(h.humanize_entity_type('package', dataset_type, 'facet label') or _('Datasets'), href=h.url_for(group_dict.type ~ ".read", id=group_dict.id)), header=true)  }}
                            {{ ui.table_cell(group_dict.package_count) }}
                        {%- endcall %}

                        {%- call ui.util.call(ui.table_row) -%}
                            {{ ui.table_cell(ui.link(_('Members'), href=h.url_for(group_dict.type ~ ".members", id=group_dict.name)), header=true)  }}
                            {{ ui.table_cell(h.member_count(group_dict.id)) }}
                        {%- endcall %}

                    {%- endcall %}
                {%- endcall %}

            {% endblock %}

            {% block follow_button %}
                {% if current_user.is_authenticated %}
                    {% if error_message %}
                        <div>{{ error_message }}</div>
                    {% endif %}

                    {%- with am_following=am_following, obj_type='group', obj_id=group_dict.id -%}
                        {% include 'snippets/follow_button.html' %}
                    {%- endwith %}

                {% endif %}
            {% endblock %}

        {%- endcall %}
    {% endblock %}
</div>
