{% extends "admin/_base.html" %}

{%- block breadcrumb_content -%}
    {{ super() }}
    {{ ui.breadcrumb(_("Trash"), h.url_for("admin.trash")) }}
    {{ ui.breadcrumb(_("Confirm Delete"), h.url_for("admin.trash", name=ent_type)) }}
{%- endblock %}


{%- block primary_content_inner -%}
    {%- call ui.util.call(ui.form, method="POST") -%}
        <p>
            {{ _(messages.confirm[ent_type]) }}
        </p>

        {%- call ui.util.call(ui.form_actions) -%}
            {{ ui.submit(_('Cancel'), name="cancel") }}
            {{ ui.button(_('Confirm Delete'), type="submit", attrs={"name": "action", "value": ent_type}) }}
        {%- endcall %}
    {%- endcall %}

{%- endblock %}
