
{%- macro table(content, striped=false, bordered=false, condensed=false, hover=false) -%}
    {%- set class = "table" -%}
    {%- if bordered -%}
        {%- set class = class ~ ' table-bordered' -%}
    {%- endif %}
    {%- if striped -%}
        {%- set class = class ~ ' table-striped' -%}
    {%- endif %}
    {%- if hoover -%}
        {%- set class = class ~ ' table-hoover' -%}
    {%- endif %}
    {%- if condensed -%}
        {%- set class = class ~ ' table-sm' -%}
    {%- endif %}
    <table {{ ui.util.attrs(kwargs, {"class": class}) }}>
        {{ content }}
    </table>
{%- endmacro %}
