
{%- macro extra_field(content, index=0, data={}, errors={}, name_template='extras__{index}__') -%}
    {%- set prefix = name_template.format(index=index) -%}
    {%- set id = 'field-extras-{}'.format(index+1) -%}
    {%- set error_list = errors[prefix~'key'] or errors[prefix~'value'] -%}

    {# control-custom class is is used by custom-fields module #}
    <div class="form-group control-custom">
        <div class="row">
            <div class="col-md-6">
                {{ _input(name=prefix~'key', value=data.key | empty_and_escape, id=id~"-key", errors=error_list, prefix=_("Key"), **kwargs) }}
            </div>

            <div class="col-md-6 d-flex flex-row-reverse">
                {% if data.key or data.value or error_list %}
                    <label class="checkbox pull-right" for="{{ id }}-remove">
                        <input type="checkbox" id="{{ id }}-remove" name="{{ prefix ~ 'deleted' }}"{% if data.deleted %} checked{% endif %} />
                        <span class="btn btn-danger"><span class="fa fa-trash"></span><span class="sr-only">{{ _('Remove') }}</span></span>
                    </label>
                {% endif %}

                {{ _input(name=prefix~'value', value=data.value | empty_and_escape, id=id~"-value", errors=error_list, prefix=_("Value"), **kwargs) }}

            </div>
        </div>
        {{ content }}
        {{ ui.field_errors(error_list) if error_list }}
    </div>
{%- endmacro %}

{%- macro extra_fields_collection(extras=[], errors={}, limit=3) -%}
    <div  {{ ui.util.attrs(kwargs) }} data-module="custom-fields">
        {% for extra in extras %}
            {{ ui.extra_field(index=loop.index0, data=extra, errors=errors) }}
        {% endfor %}

        {# Add a max of 3 empty columns #}
        {% set total_extras = extras|count %}
        {% set empty_extras = (limit or 3) - total_extras %}
        {% if empty_extras <= 0 %}{% set empty_extras = 1 %}{% endif %}

        {% for extra in range(total_extras, total_extras + empty_extras) %}
            {{ ui.extra_field(index=loop.index0 + (extras|count), data=extra, errors=errors) }}
        {% endfor %}
    </div>
{%- endmacro %}

{%- macro field_errors(errors) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "invalid-feedback d-block error-inline"}) }}>
        {{ errors | join (", ") }}
    </div>
{%- endmacro %}

{%- macro file_input(content, accept, capture, multiple) -%}
    {%- if multiple -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("multiple", true) -%}
    {%- endif %}
    {%- if accept -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("accept", accept) -%}
    {%- endif %}
    {%- if capture -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("capture", capture) -%}
    {%- endif %}
    {{ ui.input(content, type="file", **kwargs) }}
{%- endmacro %}

{%- macro form(content, method, action, enctype, include_csrf=true) -%}
    {{ ui.form_start(method, action, enctype, **kwargs) }}
    {{ h.csrf_input() if include_csrf and method and method|upper != "GET" }}
    {{ content }}
    {{ ui.form_end() }}
{%- endmacro %}

{%- macro form_actions(content) -%}
    <div {{ ui.util.attrs(kwargs, {"class": "form-actions"}) }}>{{ content }}</div>
{%- endmacro %}

{%- macro form_end(content) -%}
    {%- do kwargs -%}
    {{ content }}
    </form>
{%- endmacro %}

{%- macro form_errors(errors) -%}
    {% if errors %}
        <div {{ ui.util.attrs(kwargs, {"class": "error-explanation alert alert-danger"}) }}>
            <p>{{ _('The form contains invalid entries:') }}</p>
            <ul>
                {% for key, error in errors.items() %}
                    <li>{% if key %}{{ key }}: {% endif %}{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{%- endmacro %}

{%- macro form_start(method, action, enctype) -%}
    <form
        {{ ui.util.attrs(kwargs) }}
        {%- if method %} method="{{ method }}"{%- endif %}
        {%- if action %} action="{{ action }}"{%- endif %}
        {%- if enctype %} enctype="{{ enctype }}"{%- endif -%}
    >
{%- endmacro %}


{%- macro hidden_input(name, value) -%}
    <input {{ ui.util.attrs(kwargs) }} type="hidden" name="{{ name }}" value="{{ value|empty_and_escape or "" }}">
{%- endmacro %}

{%- macro input(content, name, id, label, value, required, placeholder, type, icon, errors=[], group_class="form-group") -%}
    {%- set field_id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {%- set aria_attrs = kwargs.setdefault("aria", {}) -%}
    {%- if errors  %}{%- do aria_attrs.setdefault("invalid", "true") -%}{%- endif -%}

    <div class="{{ group_class }}">
        {%- if label -%}
            <label class="form-label" for="{{ field_id }}">
                {%- if required -%}<span class="control-required">*</span>{%- endif %}
                {{- label -}}
            </label>
        {%- endif %}
        <div class="controls">
            {%- if icon -%}
                <i class="fa-{{ ui.util.icon(icon) }} fa icon"></i>
            {%- endif %}
            {{ _input(name=name, value=value, placeholder=placeholder, type=type, id=field_id, errors=errors, required=required, **kwargs) }}
        </div>
        {{ content }}
        {{ ui.field_errors(errors) if errors }}
    </div>
{%- endmacro %}

{%- macro form_annotation() -%}
    <div {{ ui.util.attrs(kwargs) }}>
        <p class="control-required-message">
            <span class="control-required">*</span> {{ _("Required field") }}
        </p>
    </div>
{%- endmacro %}

{%- macro field_info(content, icon="info-circle") -%}
    <div {{ ui.util.attrs(kwargs, {"class": "form-text"}) }}>
        {{- ui.icon("info-circle") if icon }}
        {{ content -}}
    </div>
{%- endmacro %}

{%- macro checkbox(content, name, id, checked, label, required, placeholder, type="checkbox", value="on", errors=[], group_class="form-group form-check") -%}
    {%- set field_id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}

    {%- set aria_attrs = kwargs.setdefault("aria", {}) -%}
    {%- if errors  %}{%- do aria_attrs.setdefault("invalid", "true") -%}{%- endif -%}
    {%- set attrs = kwargs.setdefault("attrs", {}) -%}
    {%- do attrs.setdefault("class", "form-check-input") -%}
    {%- if checked -%}{%- do attrs.update({"checked": true}) -%}{%- endif %}

    <div class="{{ group_class }}">
        {{ _input(name=name, value=value, placeholder=placeholder, type=type, id=field_id, errors=errors, required=required, **kwargs) }}
        {%- if label -%}
            <label class="form-check-label checkbox" for="{{ field_id }}">
                {{- label -}}
                {%- if required -%}<span class="control-required">*</span>{%- endif %}
            </label>
        {%- endif %}
        {{ content }}
        {{ ui.field_errors(errors) if errors }}
    </div>
{%- endmacro %}


{%- macro _input(name, value, type, id, errors, placeholder, required, prefix, suffix) -%}
    {%- set input  -%}
    <input {{ ui.util.attrs(kwargs, {"class": "form-control" ~ (' is-invalid' if errors else "")}) }}
        type="{{ type or "text" }}"
        {%- if name %} name="{{ name }}"{% endif %}
        {%- if id %} id="{{ id }}"{%- endif %}
        {%- if value %} value="{{ value|empty_and_escape }}"{% endif %}
        {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
        {%- if required %} required{% endif %}
        {%- if errors %} aria-invalid="true"{% endif -%}
    >
    {%- endset -%}
    {%- if prefix or suffix -%}
        <div class="input-group">
            {%- if prefix -%}<span class="input-group-text">{{ prefix }}</span>{%- endif %}
            {{ input }}
            {%- if suffix -%}<span class="input-group-text">{{ suffix }}</span>{%- endif %}
        </div>
    {%- else -%}
        {{ input }}
    {%- endif -%}
{%- endmacro %}

{%- macro markdown_popover(id, title=_("Markdown quick reference")) -%}
    {%- call ui.util.call(ui.popover, title=title, id=id, **kwargs) -%}
        {%- if content -%}
            {{ content }}
        {%- else -%}
            {%- trans -%}
            <p>__Bold text__ or _italic text_</p>
            <p># title
                <br>## secondary title
                <br>### etc
            </p>
            <p>* list
                <br>* of
                <br>* items
            </p>
            <p>http://auto.link.ed/</p>
            <p>
                <strong>
                    <a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a>
                </strong>
            </p>
            <p>
                <strong>Please note:</strong>
                HTML tags are stripped out for security reasons
            </p>
            {%- endtrans %}
        {%- endif %}
    {%- endcall -%}
{%- endmacro %}


{%- macro markdown(content, name, id, label, value, placeholder, required, errors=[], group_class="form-group control-full") -%}
    {%- set field_id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    {% set popover_id = ui.util.id() %}

    {{ ui.markdown_popover(id=popover_id) }}

    {%- set aria_attrs = kwargs.setdefault("aria", {}) -%}
    {%- if errors  %}{%- do aria_attrs.setdefault("invalid", "true") -%}{%- endif -%}

    <div class="{{ group_class }}">
        {%- if label -%}
            <label class="form-label" for="{{ field_id }}">
                {%- if required -%}<span class="control-required">*</span>{%- endif %}
                {{- label -}}
            </label>
        {%- endif %}
        <div class="controls editor">
            <textarea
                {{ ui.util.attrs(kwargs, {"class": "form-control" ~ (' is-invalid' if errors else "")}) }}
                cols="20" rows="5"
                {%- if field_id %} id="{{ field_id }}"{%- endif %}
                {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
                {%- if name %} name="{{ name }}"{% endif %}
                {%- if required %} required{% endif %}
                {%- if errors %} aria-invalid="true"{% endif %}

            >{{ value or "" }}</textarea>
            {{ content }}
            <span class="editor-info-block">{% trans trigger=ui.popover_handle(_("markdown formatting"), id=popover_id) %}you can use <a role="button">{{ trigger }}</a> here{% endtrans %}</span>

        </div>
        {{ ui.field_errors(errors) if errors }}
    </div>
{%- endmacro %}

{%- macro radio(content, checked, value="on") -%}
    {{ ui.checkbox(content, checked=checked, value=value or "on", type="radio", **kwargs) }}
{%- endmacro %}

{%- macro range_input(content, min_value, max_value, step) -%}
    {%- if min_value is defined -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("min", min_value) -%}
    {%- endif %}
    {%- if max_value is defined -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("max", max_value) -%}
    {%- endif %}
    {%- if step is defined -%}
        {%- do kwargs.setdefault("attrs", {}).setdefault("step", step) -%}
    {%- endif %}
    {{ ui.input(content, type="range", **kwargs) }}
{%- endmacro %}

{%- macro select(content, selected, options) -%}
    {%- set selected_values = selected if selected is not string and selected is iterable else [selected or ""] %}
    {%- call ui.util.call(ui.select_box, content, selected=selected, options=options or [], **kwargs) -%}
        {%- for option in (options or []) %}
            {%- if option is string %}
                {% set value, text = option, option %}

            {%- elif option is mapping -%}
                {% set value = option.value %}
                {% set text = option.text or option.value %}

            {%- else -%}
                {% set value, text = option %}

            {%- endif %}
            {{ ui.select_option(text, value, selected=value in selected_values) }}
        {%- endfor %}
    {%- endcall %}
{%- endmacro %}

{%- macro select_box(content, nested_content, name, id, label, multiple, required, autocomplete, errors=[], group_class="form-group") -%}
    {%- set field_id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}
    <div class="{{ group_class }}">
        {%- if label -%}
            <label class="form-label" for="{{ field_id }}">
                {%- if required -%}<span class="control-required">*</span>{%- endif %}
                {{- label -}}
            </label>
        {%- endif %}
        <select
            {{ ui.util.attrs(kwargs, {"class": "form-select" ~ (' is-invalid' if errors else "")}) }}
            {%- if name %} name="{{ name }}"{%- endif %}
            {%- if field_id %} id="{{ field_id }}"{%- endif %}
            {%- if required %} required{%- endif %}
            {%- if multiple %} multiple{%- endif %}
            {%- if errors %} aria-invalid="true"{% endif %}
        >
            {{ content }}
        </select>
        {{ nested_content }}
        {{ ui.field_errors(errors) if errors }}
    </div>
{%- endmacro %}

{%- macro select_option(content, value, selected) -%}
    <option {{ ui.util.attrs(kwargs) }} value="{{ value }}" {{ "selected" if selected }}>{{ content }}</option>
{%- endmacro %}

{%- macro submit(content, value, name) -%}
    {%- set attrs = kwargs.setdefault("attrs", {}) -%}
    {%- if value -%}{%- do attrs.update({"value": value}) -%}{%- endif %}
    {%- if name -%}{%- do attrs.update({"name": name}) -%}{%- endif %}
    {{- ui.button(content, type="submit", **kwargs) }}
{%- endmacro %}

{%- macro textarea(content, name, id, label, value, placeholder, required, errors=[], group_class="form-group control-full") -%}
    {%- set field_id = id or (name and "field-" ~ name) or (label and ui.util.id()) or "" -%}

    <div class="{{ group_class }}">
        {%- if label -%}
            <label class="form-label" for="{{ field_id }}">
                {%- if required -%}<span class="control-required">*</span>{%- endif %}
                {{- label -}}
            </label>
        {%- endif %}
        <div class="controls editor">
            <textarea
                {{ ui.util.attrs(kwargs, {"class": "form-control" ~ (' is-invalid' if errors else "")}) }}
                cols="20" rows="5"
                {%- if field_id %} id="{{ field_id }}"{%- endif %}
                {%- if placeholder %} placeholder="{{ placeholder }}"{% endif %}
                {%- if name %} name="{{ name }}"{% endif %}
                {%- if required %} required{% endif %}
                {%- if errors %} aria-invalid="true"{% endif %}
            >{{ value or "" }}</textarea>
            {{ content }}
        </div>
        {{ ui.field_errors(errors) if errors }}
    </div>
{%- endmacro %}



{%- macro fieldset(content, legend) -%}
    <fieldset {{ ui.util.attrs(kwargs) }}>
        {%- if legend -%}
            <legend>{{ legend }}</legend>
        {%- endif %}
        {{ content }}
    </fieldset>
{%- endmacro %}
