{% extends "page.html" %}

{%- block subtitle %}{{ h.humanize_entity_type('package', dataset_type, 'page title') or _('Datasets') }}{% endblock -%}

{%- block breadcrumb_content %}
    {{ ui.breadcrumb_item(h.humanize_entity_type('package', dataset_type, 'breadcrumb') or _('Datasets'), h.url_for('dataset.search')) }}
    {{ ui.breadcrumb_item(_('Search Datasets'), h.url_for('dataset.search')) }}
{%- endblock -%}

{%- block primary_content %}
    <div class="card">
        <div class="card-content">
            {%- block primary_content_inner %}{% endblock -%}
        </div>
    </div>
{%- endblock -%}

{%- block secondary_content %}
    <div class="card">
        <div class="card-content">
            <h4 class="title is-4">{{ _('Filter Results') }}</h4>
            {%- block dataset_search_filters %}
                {% for facet in facet_titles %}
                    {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet) }}
                {% endfor %}
            {%- endblock %}
        </div>
    </div>
    {%- block dataset_search_other %}
        <div class="card mt-4">
            <div class="card-content">
                <h4 class="title is-4">{{ _('Other Datasets') }}</h4>
                {% set list_datasets = h.package_list(page=1, limit=5) %}
                {{ ui.misc.dataset_list(list_datasets) }}
            </div>
        </div>
    {%- endblock %}
{%- endblock -%}
