{% extends "page.html" %}

{%- block primary_content_inner %}
    <h1>{{ _('Edit Resource') }}</h1>

    {{ ui.form_start(method="POST", action="", attrs={"class": "resource-form"}) }}
    {{ h.csrf_input() }}

    {{ ui.input(name="name", id="field-name", label=_('Name'), value=data.name or "", errors=errors.name or []) }}
    {{ ui.textarea(name="description", id="field-description", label=_('Description'), value=data.description or "", errors=errors.description or []) }}
    {{ ui.input(name="url", id="field-url", label=_('URL'), value=data.url or "", errors=errors.url or [], type="url") }}
    {{ ui.input(name="format", id="field-format", label=_('Format'), value=data.format or "", errors=errors.format or []) }}
    {{ ui.input(name="size", id="field-size", label=_('Size'), value=data.size or "", errors=errors.size or [], type="number") }}

    <div class="form-actions">
        {{ ui.button(_('Update Resource'), type="submit", attrs={"class": "btn btn-primary"}) }}
        {{ ui.button(_('Cancel'), type="button", href=h.url_for('dataset_resource.read', id=pkg_dict.name, resource_id=resource.id), attrs={"class": "btn btn-secondary"}) }}
    </div>

    {{ ui.form_end() }}
{%- endblock %}
