{%- extends "theming/base_component.html" -%}

{%- block overview -%}
    <p>
        The <code>empty</code> component styles message or content that
        indicates the absence of data or results. It is commonly used in
        situations where there is no content to display, such as an empty
        search result, an empty state of a dashboard, or when a user has not
        yet added any data. The <code>empty</code> component helps to
        communicate to users that there is currently no information available,
        while maintaining a visually consistent and user-friendly interface.
    </p>
{%- endblock %}
