{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["extra_fields", "extra_fields_collection"] -%}


{%- block overview -%}

    The <code>extra_field</code> component creates additional form fields that
    can be dynamically added to forms. This component is particularly useful for
    forms where users might need to add custom metadata, tags, or other variable
    information that isn't part of the standard form structure.

    The <code>extra_fields_collection</code> component manages
    collections of extra fields within forms, providing the structural container
    for dynamically added fields. This component ensures that all extra fields are
    properly organized and processed as a group.

{%- endblock %}
