{%- extends "theming/base_component.html" -%}
{%- set parametrized = parametrized or ["list", "list_item",
    "package", "resource", "user", "group", "organization",
    "package_list", "resource_list", "user_list", "group_list", "organization_list",
    ] -%}

{%- block overview -%}
    <p>
        Lists are used to display multiple items of the same type, such as
        packages, resources, users, groups, or organizations. Each item in the
        list can be rendered using a specific template that defines how the
        item should be displayed.
    </p>
{%- endblock %}
