{%- extends "theming/base_component.html" -%}

{%- block overview -%}
    <p>
        The <code>progress</code> component creates a progress bar element that
        visually represents the completion status of a task or
        process. Progress components are used to indicate the progress of
        ongoing operations, such as file uploads, data processing, or any task
        that takes time to complete. They provide users with feedback on how
        much of the task has been completed and how much is remaining, helping
        to manage user expectations during longer processes.
    </p>
{%- endblock %}
