{%- extends "theming/base_component.html" -%}

{%- block overview -%}

    <p>
        The <code>textarea</code> component creates multi-line text input fields that allow
        users to enter longer text content.
    </p>

    <p>
        The <code>markdown</code> component creates a special version of
        textarea with explanation of markdown syntax and, optionally, WYSIWYG
        capabilities or syntax highlighting.
    </p>
{%- endblock %}

{%- block parameters -%}
    <h3>Textarea</h3>
    {{ super() }}

    <h3>Markdown</h3>
    {{ parameters_table("markdown") }}
{%- endblock %}
