{%- call ui.util.call(ui.form, method='POST', hx={"post": "", "swap": "outerHTML"}) -%}
    {%- block base_fields %}
        {{ ui.input(name='name', label=_('Name'), required=true, value=data.name, errors=errors.name) }}
    {%- endblock %}

    {%- block form_actions %}
        {{ ui.form_actions(ui.button(_('Create API Token'), type="submit")) }}
    {%- endblock %}
{%- endcall %}

{%- if created %}
    <div>
        {{ _("API Token created: <code style=\"word-break:break-all;\">"
               "{token}</code> <br>"
               "Make sure to copy it now, "
               "you won't be able to see it again!").format(token=created.token) }}
    </div>
{%- endif %}
