<h2><code>ui.util.attrs</code></h2>

<div class="theming-example">
    <p>
        Helper method to render HTML attributes from an <code>attrs</code> key of
        an arbitrary dictionary.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {%- set kwargs = {"attrs": {"name": "action", "hello": "world"}} -%}

            <button {{ ui.util.attrs(kwargs) }}>{{ content }}</button>
        {%- endraw %}
    {%- endcall %}
</div>

<div class="theming-example">
    <p>
        This function is designed for component macros. Usually macros are defined
        without explicit <code>attrs</code> parameter, and instead they accept <code>kwargs</code> with
        all additional parameters specified by user. As result, if caller adds <code>attrs</code> to
        the macro call, it ends up inside the <code>kwargs</code> and can be easily
        processed by the utility function.
    </p>

    <p>
        Note, in Jinja2 you do not need to declare <code>kwargs</code> inside macro
        signature. Just use variable with name <code>kwargs</code> somewhere inside
        macro code and Jinja2 collect all additional arguments into it implicitly.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {%- macro div(content) -%}
                <div {{ ui.util.attrs(kwargs) }}>
                    {{ content }}
                </div>
            {%- endmacro %}

            {{ div('text', attrs={"a": 1, "b": 2}) }}
        {%- endraw %}
    {%- endcall %}
</div>

<div class="theming-example">
    <p>
        The optional second argument of the function specified default values
        for attributes. It can be used to provide safe defalut HTML attributes
        but keep a possibility to override their value via user's input.
    </p>


    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {%- macro button(content) -%}
                <div {{ ui.util.attrs(kwargs, {"type": "button", "class": "btn"}) }}>
                    {{ content }}
                </div>
            {%- endmacro %}

            {{ button('click', attrs={"class": "btn-danger"}) }}
        {%- endraw %}
    {%- endcall %}
</div>



<div class="theming-example">
    <p>
        One of the features relying on other values of <code>kwargs</code> is
        attribute shortcuts. Every attribute with <code>data-</code>, <code>aria-</code>, <code>hx-</code>,
        and <code>on</code> prefix can be specified inside separate item of <code>kwargs</code>.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {%- macro button(content) -%}
                <div {{ ui.util.attrs(kwargs) }}>
                    {{ content }}
                </div>
            {%- endmacro %}

            {{ button("Click me!",
                    data={"id": "123"},
                    aria={"label": "Button"},
                    hx={"boost": "true"},
                    on={"click": "alert(1)"}) }}
        {%- endraw %}
    {%- endcall %}
</div>


<div class="theming-example">
    <p>
        All these shortcuts can be used together with <code>attrs</code>, and
        specific attributes will have higher precedence than <code>attrs</code>.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.attrs({
                "attrs": {"data-a": 1, "data-b": 2},
                "data": {"a": 10},
                }) }}
        {%- endraw %}
    {%- endcall %}
</div>
