<h2><code>ui.util.call</code></h2>

<p>
    Call an inline element as a block element.
</p>

<div class="theming-example">
    <p>
        This function allows passing complex content into an element using a Jinja2
        caller. For example, following simple macro does not contain <code>caller()</code>:
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {% macro button(content) %}
                <button>{{ content }}</button>
            {% endmacro %}

            {#
                You'll get an exception during evaluation of this block:

                {%- call button() -%}Click{%- endcall %}

                #}

            {# It's still ok to make an inline invocation #}
            {{ button("Click") }}
        {%- endraw %}
    {%- endcall %}
</div>


<div class="theming-example">
    <p>
        Such components  cannot be called in form <code>{%- raw -%}{% call ui.button() %}{%- endraw %}</code> and
        rendering button with nested HTML turns into a verbose task. But using <code>ui.util.call</code>,
        the button can be used with <code>call</code>
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {% macro button(content) %}
                <button>{{ content }}</button>
            {% endmacro %}

            {% call ui.util.call(button) %}
                <i class="fa fa-home"></i>
                Click!
            {% endcall %}
        {%- endraw %}
    {%- endcall %}
</div>

<div class="theming-example">
    <p>
        The content of the <code>call</code> block will be passed as a first argument into
        the target macro. Any other positional and named arguments of the
        <code>ui.util.call</code> will be redirected into the button macro as
        well.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {% macro button(content) %}
                <button {{ ui.util.attrs(kwargs) }}>{{ content }}</button>
            {% endmacro %}

            {% call ui.util.call(button, data={"id": "42"}) %}
                <i class="fa fa-home"></i>
                Click!
            {% endcall %}
        {%- endraw %}
    {%- endcall %}
</div>

<div class="theming-example">
    <p>
        Unless component documentation says otherwise, it's safe to assume that
        component will cause an exception when used with <code>call</code> directly. Always
        wrap component calls into <code>ui.util.call</code>.
    </p>
</div>
