<h2><code>ui.util.id</code></h2>


<p>
    Generate a unique identifier.
</p>

<p>
    If <code>value</code> is provided, a UUID5 based on the value is generated,
    otherwise a random UUID4 is generated.
</p>


<div class="theming-example">

    <p>
        Call without arguments produces a different UUID every time:
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.id() }}
        {%- endraw %}
    {%- endcall %}
</div>

<div class="theming-example">
    <p>
        When called with <code>value</code>, which is first positional
        argument, the same UUID is returned for every call:
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.id("test") }}
        {%- endraw %}
    {%- endcall %}
</div>


<div class="theming-example">
    <p>
        By default, values are prefixed with <code>id-</code>. Prefix is
        controlled by <code>prefix</code> argument.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.id(prefix="custom-") }}
        {%- endraw %}
    {%- endcall %}
</div>
