<h2><code>ui.util.now</code></h2>

<div class="theming-example">
    <p>
        Get the current UTC datetime.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.now() }}
        {%- endraw %}
    {%- endcall %}
</div>


<div class="theming-example">
    <p>
        Result of the function is a <code>datetime</code> object, that can be
        used further.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {%- set now = ui.util.now() -%}
            {{ now.strftime("%B, %Y") }}.
            New Year was {{ h.time_ago_from_timestamp(now.year ~ "-01-01") }}
        {%- endraw %}
    {%- endcall %}
</div>
