<h2><code>ui.util.tag</code></h2>

<div class="theming-example">
    <p>
        Helper method to render an HTML tag with the specified content, tag name, and attributes.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.tag("Content", "h2") }}
        {%- endraw %}
    {%- endcall %}

</div>

<div class="theming-example">
    <p>
        Empty tag name will render content without any wrapper - this can be
        used to apply wrapper conditionally. For example, <code>ui.util.tag(content,
        tag if condition else "")</code> will render <code>content</code> wrapped in <code>tag</code> if
        <code>condition</code> is truthy, and just <code>content</code> without wrapper otherwise.
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.tag("Content", "") }}
        {%- endraw %}
    {%- endcall %}

</div>

<div class="theming-example">
    <p>
        <code>ui.uti.tag</code> takes into account additional named arguments
        and processes them using <code>ui.util.attrs</code>:
    </p>

    {%- call ui.util.call(show_example) -%}
        {%- raw %}
            {{ ui.util.tag("click", "button",
                    attrs={"style": "background: lime;font-size: 2rem;"},
                    on={"click": "alert(1)"}) }}
        {%- endraw %}
    {%- endcall %}
</div>
